.about-service
  .container
    h2.profile-user-edit__title О ресурсе
    .row
      .col-lg-4.col-md-6.d-flex
        .about-service__item
          a(href='#').about-service__item--title Для маркетинга или Интернет-маркетинга
          p Ресурс lektor.org.ua удобный, гибкий и много функциональный ресурс для построения своего бизнеса и продвижения товаров ...
          .row
            .col-md-7
              a(href='#').border-link.green-border Подробнее
      .col-lg-4.col-md-6.d-flex
        .about-service__item
          a(href='#').about-service__item--title Для обучения и бизнеса
          p Ресурс lektor.org.ua позволяет проводит обучение в любое удобное время - гибкий инструмент для преподавателя. Нет такой области где нет ...
          .row
            .col-md-7
              a(href='#').border-link.green-border Подробнее
      .col-lg-4.col-md-6.d-flex
        .about-service__item
          a(href='#').about-service__item--title Для продаж
          p Ресурс Лектор – это система рассчитана для организации и проведения дистанционного обучения с использованием Интернета...
          .row
            .col-md-7
              a(href='#').border-link.green-border Подробнее
      .col-lg-4.col-md-6.d-flex
        .about-service__item
          a(href='#').about-service__item--title Онлайн трансляции
          p Ресурс Lektor.org.ua удобный и простой инструмент для обеспечения трансляции из различных уголков Мира...
          .row
            .col-md-7
              a(href='#').border-link.green-border Подробнее
      .col-lg-4.col-md-6.d-flex
        .about-service__item
          a(href='#').about-service__item--title Видеоконференции
          p Видеоконференции - набирающий популярность вид общения. Видеоконференции удобны в сфере бизнеса или управления бизнесом ...
          .row
            .col-md-7
              a(href='#').border-link.green-border Подробнее
      .col-lg-4.col-md-6.d-flex
        .about-service__item
          a(href='#').about-service__item--title Безопасность информации
          p Обеспечение безопасность информации, которая выкладывается Тренером (Лектором) ...
          .row
            .col-md-7
              a(href='#').border-link.green-border Подробнее
      .col-lg-4.col-md-6.d-flex
        .about-service__item
          a(href='#').about-service__item--title Демонстрация презентаций и документов
          p Благодаря инструментам нашего ресурса, Тренеру (Лектору) предоставляется возможность, во время проведения конференций...
          .row
            .col-md-7
              a(href='#').border-link.green-border Подробнее
      .col-lg-4.col-md-6.d-flex
        .about-service__item
          a(href='#').about-service__item--title Система одного окна
          p Набор инструментов и функционал нашего ресурса позволяет проводить любые мероприятия в режиме реального времени без установки на Ваш ...
          .row
            .col-md-7
              a(href='#').border-link.green-border Подробнее
      .col-lg-4.col-md-6.d-flex
        .about-service__item
          a(href='#').about-service__item--title Архив
          p Архив - место для хранения всех записей конференций, тренингов и других учебных материалов. В Архиве так же возможно хранение всех документов.
          .row
            .col-md-7
              a(href='#').border-link.green-border Подробнее
      .col-lg-4.col-md-6.d-flex
        .about-service__item
          a(href='#').about-service__item--title Тарифные планы
          p Наши тарифные планы оптимальны и позволяют существенно экономить средства тренеров и лекторов. Каждому тренеру дана возможность выбора ...
          .row
            .col-md-7
              a(href='#').border-link.green-border Подробнее
      .col-lg-4.col-md-6.d-flex
        .about-service__item
          a(href='#').about-service__item--title Партнерская программа
          p Партнерская программа нашего ресурса позволяет, привлекая клиентов (рефералов), получать бонусные вознаграждения. Количество ...
          .row
            .col-md-7
              a(href='#').border-link.green-border Подробнее
      .col-lg-4.col-md-6.d-flex
        .about-service__item
          a(href='#').about-service__item--title Что такое закрытая конференция?
          p Инструментами ресурса "Лектор" можно провести Закрытую конференцию - конференцию которая не будет доступна пользователям Интернет ...
          .row
            .col-md-7
              a(href='#').border-link.green-border Подробнее
      .col-lg-4.col-md-6.d-flex
        .about-service__item
          a(href='#').about-service__item--title Заработок с использованием ресурса Lektor.Org.UА
          p Наши тарифные планы оптимальны и позволяют существенно экономить средства тренеров и лекторов. Каждому тренеру дана возможность выбора ...
          .row
            .col-md-7
              a(href='#').border-link.green-border Подробнее