.about-us
  .container
    h2.profile-user-edit__title О нас
    p Мы разработали этот ресурс с целью предоставления виртуального сервиса удаленного (дистанционного) онлайн-обучения на разные темы и в любой области.
    p Мы готовы выслушать все пожелания касательно функционала и работы нашего ресурса.
    h4 Реклама на нашем проекте.
    p Реклама на главной и последующих страницах сайта - рекламный баннер размером 468х60 пикселей.
    p Тип рекламного баннера - графический, формат: gif, jpg, jpeg, jpg, png.
    p Стоимость 000 показов - 00 у.е.
    h4 По всем вопросам вы можете обращаться:
    ul
      li если вы зарегистрированы - из своего кабинета, написав в службу поддержки
      li по телефонам (067) 884-61-48, (063) 261-67-18
      li Воспользуйтесь формой ниже
    include feedback-form