.profile-user-edit
	.container
		.profile-user-edit__form
			form(action='#').was-validated
				.row
					.col-md-8
						.row
							.col-md-12
								.registration-form__group
									.placeholder Название конференции
										span *
									input.registration-form-control(type='text')
							.col-md-12
								.registration-form__group.mb-0
									textarea.registration-form-control(rows='5') Онлайн-семинар (веб-конференция, вебинар, англ. webinar) — разновидность веб-конференции, проведение онлайн-встреч или презентаций через Интернет в режиме реального времени. Вебинар - это модно, современно, доступно, просто, удобно.
									.count-value Введённых символов
										span 233
					.col-md-4
						label.registration-form__checkbox.mt-0.mb-2
							input(type='checkbox')
							span Материал доступен для скачивания слушателям
						label.registration-form__checkbox.mt-0.mb-2
							input(type='checkbox')
							span Скрытая конференция
						label.registration-form__checkbox.mt-0.mb-2
							input(type='checkbox')
							span Отображать в архиве
						label.registration-form__checkbox.mt-0.mb-0
							input(type='checkbox')
							span Автоматическая трансляция

				.row
					.col-md-4
						h4 Дата и  время начала конференции
						label.registration-form__checkbox.mt-0
							input(type='checkbox')
							span Повторяющееся событие
						.row
							.col-md-6
								.archive-item.add-webinar__add-date
									.archive-item__dropdown
										+sprite('icon','icon-date-16')
										span Дата *
									.dropdown-menu
										include ../components/data-select
							.col-md-6
								.archive-item
									.archive-item__dropdown.clockpicker(data-donetext='Done')
										+sprite('icon','icon-timer')
										input.form-control(type='text' value='Время')

					.col-md-4
						h4 Стоимость (грн.)
						.registration-form__group
							input.registration-form-control(type='text' placeholder='Стоимость конференции')
						.registration-form__group
							input.registration-form-control(type='text' placeholder='За скачивание архива медиаматериала')

					.col-md-4
						h4 Превью
				.row
					.col-md-3
						button(type='submit').profile-user-edit__save-btn Сохранить