.archive-items.page-item
  .container
    h2.profile-user-edit__title Архив лектора
    .row
      .col-md-12.col-lg-8
        include ../components/search
      .col-md-12.col-lg-4
        .archive-item
          label.archive-item--label Выбрать по дате:
          .archive-item__dropdown
            +sprite('icon','icon-date-16')
            span Дата
          .dropdown-menu
            include ../components/data-select
    .row
      +trending-archive-list
      +trending-archive-list__with-price
      +trending-archive-list__no-img
      +trending-archive-list
      +trending-archive-list__with-price
      +trending-archive-list__no-img
      +trending-archive-list
      +trending-archive-list__with-price
      +trending-archive-list__no-img
    .row
      .col-md-12
        +pagination