.articles
  .container
    h2.site-features__title Возможности сайта
    .row
      .col-md-4
        .articles__item
          .articles__item--date 18.04.2019
          a(href='#').articles__item--name Система дистанционного обучения Лектор
          p Ресурс Лектор – это система рассчитана для организации и проведения дистанционного обучения с использованием Интернета. Лектор – это независимое программное обеспечение, ориентированное на: организацию дистанционной формы обучения, дополнительной системы поддержки учебного процесса...
          a(href='#').articles__item--link Подробнее
      .col-md-4
        .articles__item
          .articles__item--date 29.10.2013
          a(href='#').articles__item--name Преимущества дистанционного обучения
          p Важность и новшества дистанционного обучения все больше входит в нашу жизнь. Все больше учебных заведений перестраиваются на новые направления обучения - дистанционного обучения. Применение систем дистанционного обучения помогает не только проводить обучение в любое время и на любые темы, но и расширению...
          a(href='#').articles__item--link Подробнее
      .col-md-4
        .articles__item
          .articles__item--date 18.04.2019
          a(href='#').articles__item--name Онлайн-конференция или вебинар, что это такое?
          p Онлайн-конференция или вебинар - это онлайн мероприятие, организованное при помощи web-технологий в режиме прямой трансляции, эффективное PR-средство. Это живое общение посетителей сайта с организаторами конференции. Это просто и удобно, а также значительно выгодней обычной пресс-конференции.
          a(href='#').articles__item--link Подробнее