.article-list
  .container
    h2.profile-user-edit__title Статьи
    .article-list__items
      .article-list__item
        .article-list__item--date 18.04.2019
        a(href='#').article-list__item--title Система дистанционного обучения Лектор
        p Ресурс Лектор – это система рассчитана для организации и проведения дистанционного обучения с использованием Интернета. Лектор – это независимое программное обеспечение, ориентированное на: организацию дистанционной формы обучения, дополнительной системы поддержки учебного процесса...
        .row
          .col-md-2
            a(href='#').border-link.green-border Подробнее
      .article-list__item
        .article-list__item--date 29.10.2013
        a(href='#').article-list__item--title Преимущества дистанционного обучения
        p Важность и новшества дистанционного обучения все больше входит в нашу жизнь. Все больше учебных заведений перестраиваются на новые направления обучения - дистанционного обучения. Применение систем дистанционного обучения помогает не только проводить обучение в любое время и на любые темы, но и расширению...
        .row
          .col-md-2
            a(href='#').border-link.green-border Подробнее
      .article-list__item
        .article-list__item--date 18.04.2019
        a(href='#').article-list__item--title Онлайн-конференция или вебинар, что это такое?
        p Онлайн-конференция или вебинар - это онлайн мероприятие, организованное при помощи web-технологий в режиме прямой трансляции, эффективное PR-средство. Это живое общение посетителей сайта с организаторами конференции. Это просто и удобно, а также значительно выгодней обычной пресс-конференции.
        .row
          .col-md-2
            a(href='#').border-link.green-border Подробнее
      .article-list__item
        .article-list__item--date 18.04.2019
        a(href='#').article-list__item--title Система дистанционного обучения Лектор
        p Ресурс Лектор – это система рассчитана для организации и проведения дистанционного обучения с использованием Интернета. Лектор – это независимое программное обеспечение, ориентированное на: организацию дистанционной формы обучения, дополнительной системы поддержки учебного процесса...
        .row
          .col-md-2
            a(href='#').border-link.green-border Подробнее
      .article-list__item
        .article-list__item--date 29.10.2013
        a(href='#').article-list__item--title Преимущества дистанционного обучения
        p Важность и новшества дистанционного обучения все больше входит в нашу жизнь. Все больше учебных заведений перестраиваются на новые направления обучения - дистанционного обучения. Применение систем дистанционного обучения помогает не только проводить обучение в любое время и на любые темы, но и расширению...
        .row
          .col-md-2
            a(href='#').border-link.green-border Подробнее

      ul.article-list--pagination
        li
          a.page-link(href='#')
            +sprite('icon arrow-left', 'arrow-select')
        li
          a.page-link(href='#') 1
        li
          a.page-link(href='#') 2
        li
          a.page-link(href='#') 3
        li
          a.page-link(href='#')
            +sprite('icon arrow-right', 'arrow-select')