.article-list.about-us
  .container
    h2.profile-user-edit__title Онлайн-конференция или вебинар, что это такое?
    include ../components/follow-back
    .article-list__item--date 18.04.2019
    p
      b Стиль для жирного текста выделенного цветом
      | - это онлайн мероприятие, организованное при помощи web-технологий в режиме прямой трансляции, эффективное PR-средство. Это живое общение посетителей сайта с организаторами конференции. Это просто и удобно, а также значительно выгодней обычной пресс-конференции. На вебинаре один или несколько спикеров могут проводить презентации, тренинги, сейлс-митинги, совещания для группы от нескольких человек до нескольких тысяч участников в Интернет или корпоративной сети. Во время онлайн-конференций каждый из участников находится у своего компьютера, а связь между ними поддерживается через Интернет посредством загружаемого приложения, установленного на компьютере каждого участника, или через веб-приложение. На нашем ресурсе участвуя в вебинера, нет необходимости устанавливать на свой компьютер дополнительного программного обеспечения.
    p Вебинар не ограничивает число участников конференции, но не предоставляет возможности видео диалога. Если участник хочет задать вопрос докладчику - используется чат или через кабинет лектора может задать вопрос, который будет слышен всем участникам вебинара. Таким образом, в окне вебинара, кроме основного окна с докладчиком, есть окно со списком онлайн-участников - тех кто смотрит через сеть и окно чата с возможностью в письменной форме задать вопросы.
    h4 Нумерованный список в статье
    ol
      li Вебинар не ограничивает число участников конференции, но не предоставляет возможности видео диалога. Если участник хочет задать вопрос докладчику - используется чат или через кабинет лектора может задать вопрос, который будет слышен всем участникам вебинара. Таким образом, в окне вебинара, кроме основного окна с докладчиком, есть окно со списком онлайн-участников - тех кто смотрит через сеть и окно чата с возможностью в письменной форме задать вопросы.
        br
        br
        | Также, онлайн конференция позволяет компании оперативно принимать решения, организовывать планирование своей деятельности. Онлайн конференция способствует сокращению времени в тех случаях, когда компания имеет несколько офисов в различных регионах и надо проводить: совещания, планирование деятельности и координации стратегии в целом, заслушивания по различным вопросам, обучение персонала и доведение новых методик и технлогий, иным организационным вопросам.
      li Для организаторов выставок, форумов и других мероприятий онлайн-конференция станет прекрасным дополнением программы мероприятия.
      li Для профессионалов отрасли такая конференция – фактически виртуальный круглый стол. Место для общения с коллегами вне зависимости от их географического расположения.
      li Онлайн продажа товара, акцентирование превосходства товара над конкурентными образцами, проведение обучения по методам и способам повышения уровня продаж, методики общения «холодных звонков», обучение персонала и т.д. – это не полный перечень того, где может применяться онлайн конференции или онлайн обучение.

      h4 Заголовок внутри статьи
      p
        span.color Стиль для жирного текста выделенного цветом в тексте статьи
        | - для любого пользователянашего ресурса, или Лектор или Слушатель, нет необходимости устанавливать на свой компьютер дополнительного программного обеспечения. На нашем ресурсу - сайте вебинаров, создано уникальное программное обеспечение для проведения полноценных вебинаров или онлайн обучения. Все необходимые действия пользователь выполняет через Интернет-браузер своего компьютера без установки дополнительного программного обеспечения для проведения вебинаров.
      p
        span.color Планирование
        | - возможность планирования проведение конференций в любое свободное время. При составлении и опубликовании Расписания так же публикуется и фотография Лектора, что дает узнаваемость автора конференции и дополнительного привлечения слушателей.
      p
        span.color Бесплатные вебинары
        | - в период ознакомления с предлагаемым функционалов, любому зарегистрированному пользователю наша площадка предлагает в качестве тестирования, провести в полном объеме
        a(href='#') стиль ссылки в тексте статьи
        | . Проводя бесплатные вебинара на нашей площадке, лектору предоставляется возможность в полном объеме протестировать все возможности абсолютно бесплатно.
      p
        span.color Свобода выбора
        | - каждый лектор вправе самостоятельно принимать решение, какую информацию донести до своей аудитории.
      p
        span.color Создание электронного архива
        | - каждый лектор, при проведении своих лекций, может формировать свою базу знаний, т.е., все проведенные им лекции будут записаны и сохранены в нашем
        a(href='#') Архиве
        | . Все сохраненные материалы можно скачать бесплатно. Для каждого лектора нет ограничений на размер создаваемого им Архива. Архив конференции хранится на сайте постоянно в открытом доступе для всех посетителей.
      p
        span.color Интуитивный интерфейс
        | - простота и интуитивно понятный кабинет дает возможность любому Лектору буквально с ходу приступить к активному использованию нашего ресурса.
      p
        span.color Возможность рассылки приглашений
        | - при составлении расписания конференций или вебинаров, все лекторы могут провести рассылку приглашения на участие в своей конференции. Где он может сообщить: время проведения конференции, ее тему и основные вопросы и другую дополнительную информацию.
      h4 Маркированный список в статье
      p Спрос на коучинг во многих странах с развитой экономикой, таких как США, Канада, Великобритания, Франция непрерывно растёт. И это не случайно, именно высокая эффективность коучинга привлекает людей желающих быстрых и качественных перемен, как в повседневной жизни, так и бизнесе.
      p В бизнесе коучинг эффективно применяется для:
      ul
        li организационного развития
        li командного развития
        li коучинг сотрудников компании или организации
        li мотивации и обучения персонала с использованием специалистов коучинг центров
        li разрешения конфликтов в коллективе
        li при найме персонала

      include ../components/follow-back