.aviable-popup
  .sign-out
  .aviable-item
    .cart-close
    p Введите свой телефон и мы вас оповестим, когда товар появится в наличии
    form(action='#')
      input(type='text' placeholder='+38 0__ ___ __ __ ').aviable-item--control
      button(type='submit').aviable-item--btn Отправить