.banner
  .container
    .banner-slider.slider.single-item
      .banner-slider__items
        .banner-slider__item
          .banner-slider__item--info
            a(href='#')
              img(src='./img/slider-image.jpg' alt='').img-fluid
            h2 Слоненок с мячиком. Мягкая игрушка связана спицами
            +lector-info
          .banner-slider__item--sign-up
            .countdown(data-countdown='2019-09-21')
            .banner-slider__item--link Записаться
      .banner-slider__items
        .banner-slider__item
          .banner-slider__item--info
            a(href='#')
              img(src='./img/img-head.png' alt='').img-fluid
            h2 Слоненок с мячиком. Мягкая игрушка связана спицами
            +lector-info
          .banner-slider__item--sign-up
            .countdown(data-countdown='2019-09-21')
            .banner-slider__item--link Записаться