.banner
  .container
    .col-md-10.px-0.banner-slider.slider
      .banner-slider__items
        .banner-slider__item
          .row.banner-slider__item--info
            .col-md-2
              a(href='#').banner-slider__item--info__link
                img(src='./img/slider-image.jpg' alt='').img-fluid
            .col-md-4
              a(href='#').banner-slider__item--info__title Слоненок с мячиком. Мягкая игрушка связана спицами
              +lector-info
            .col-md-6
              .banner-slider__item--sign-up
                .countdown(data-countdown='2019-09-21')
                a(href='#').banner-slider__item--link.default-blue.col-md-2.px-0 Записаться
      .banner-slider__items
        .banner-slider__item
          .row.banner-slider__item--info
            .col-md-2
              a(href='#').banner-slider__item--info__link
                img(src='./img/slider-image.jpg' alt='').img-fluid
            .col-md-4
              a(href='#').banner-slider__item--info__title Слоненок с мячиком. Мягкая игрушка связана спицами
              +lector-info
            .col-md-6
              .banner-slider__item--sign-up
                .countdown(data-countdown='2019-09-21')
                a(href='#').banner-slider__item--link.default-blue.col-md-2.px-0 Записаться