.cart-popup
  .cart-close
  .cart--items
    .cart--items__in-cart В корзине:
    .cart--items__products 3 товара на сумму
      span 13 600 грн
  .cart-body
    .cart-item-position
      .cart-item--img
        a(href='#').cart-item--img__link
          img(src='/img/product.png' alt='')
        .cart-item--delete
      .cart-item--info
        .cart-item--info-top
          a(href='#').cart-item--info__name 96188  SALOBRENA 1
            .cart-item--info__description 40W; 4300 lm
              br
              | L 595, B 595, H 50
          .cart-item--info__price 6 055 грн
        form(action='#')
          .cart-item--info__count
            .cart-item--info__count--minus
            input(type='text' placeholder='1').cart-item--info__count--control
            .cart-item--info__count--plus
    .cart-item-position
      .cart-item--img
        a(href='#').cart-item--img__link
          img(src='/img/product.png' alt='')
        .cart-item--delete
      .cart-item--info
        .cart-item--info-top
          a(href='#').cart-item--info__name 96188  SALOBRENA 1
            .cart-item--info__description 40W; 4300 lm
              br
              | L 595, B 595, H 50
          .cart-item--info__price 6 055 грн
        form(action='#')
          .cart-item--info__count
            .cart-item--info__count--minus
            input(type='text' placeholder='1').cart-item--info__count--control
            .cart-item--info__count--plus

  .cart-amount
    .cart-item--total-price Сумма заказа: 12 110 грн
    .cart-item--total-pay Итого к оплате: 10 293 грн
    a(href='#').cart-amount--buy Купить в один клик
  .cart-order-without-registration
    .cart-order-without-registration__title Заказать без оформления
    p Можно не заполнять никаких форм, просто оставить телефон и консультант решит все вопросы по оформлению заказа.
    form(action='#')
      .cart-order-without-registration__form
        input(type='text' placeholder='+38 (0__) ___-__-__')
        button(type='submit').cart-order-without-registration__form--btn Отправить