.catalog
  .content
    .catalog--header
      include ../components/breadcrumbs
      h2.catalog--header--title Каталог светильников
    .catalog-list
      .catalog-list__column
        .catalog-list__item.catalog-1
          .catalog-list__item-content
            a(href='#').catalog-list__item--img(style='background-image: url("./img/chandeliers-bg.jpg")')
            a(href='grid.html').catalog-list__item--ico
              img(src='./img/svg/icons-1.svg')
            .catalog-list__item--list
              a(href='grid.html').catalog-list__item--list-link Люстры
              ul
                li
                  a(href='#') Люстры подвесные
                li
                  a(href='#') Люстры припотолочные
                li
                  a(href='#') Люстры - подвесы
        .catalog-list__item.catalog-2
          .catalog-list__item-content
            a(href='grid.html').catalog-list__item--img(style='background-image: url("./img/94844_120.jpg")')
            a(href='grid.html').catalog-list__item--ico
              img(src='./img/svg/icons-2.svg')
            .catalog-list__item--list
              a(href='grid.html').catalog-list__item--list-link Бра
              ul
                li
                  a(href='#') Бра декоративные
                li
                  a(href='#') Бра с абажуром
                li
                  a(href='#') Бра подсветки
                li
                  a(href='#') Подсветки мебельные и кухонные
        .catalog-list__item.catalog-3
          .catalog-list__item-content
            a(href='grid.html').catalog-list__item--img(style='background-image: url("./img/94844_1201.jpg")')
            a(href='grid.html').catalog-list__item--ico
              img(src='./img/svg/icons-3.svg')
            .catalog-list__item--list
              a(href='grid.html').catalog-list__item--list-link Торшеры
              ul
                li
                  a(href='#') Торшеры с абажуром
                li
                  a(href='#') Торшеры с лампой для чтения
        .catalog-list__item.catalog-4
          .catalog-list__item-content
            a(href='grid.html').catalog-list__item--img(style='background-image: url("./img/94844_122.jpg")')
            a(href='grid.html').catalog-list__item--ico
              img(src='./img/svg/icons-4.svg')
            .catalog-list__item--list
              a(href='grid.html').catalog-list__item--list-link Настольные лампы
              ul
                li
                  a(href='#') Декоративные настольные лампы
                li
                  a(href='#') Настольные лампы для работы и учёбы
                li
                  a(href='#') Настольные лампы с абажуром
                li
                  a(href='#') Настольные лампы на струбцине
                li
                  a(href='#') Настольные лампы на прищепке
        .catalog-list__item.catalog-5
          .catalog-list__item-content
            a(href='grid.html').catalog-list__item--img(style='background-image: url("./img/94844_1203.jpg")')
            a(href='grid.html').catalog-list__item--ico
              img(src='./img/svg/icons-5.svg')
            .catalog-list__item--list
              a(href='grid.html').catalog-list__item--list-link Настенно-потолочные
              ul
                li
                  a(href='#') Круглые, овальные светильники
                li
                  a(href='#') Прямоугольные светильники
                li
                  a(href='#') Светильники половинки
                li
                  a(href='#') Споты
                li
                  a(href='#') Трековые светильники
                li
                  a(href='#') Точки врезные
                li
                  a(href='#') Точкинакладные
        .catalog-list__item.catalog-6
          .catalog-list__item-content
            a(href='grid.html').catalog-list__item--img(style='background-image: url("./img/94844_1204.jpg")')
            a(href='grid.html').catalog-list__item--ico
              img(src='./img/svg/icons-6.svg')
            .catalog-list__item--list
              a(href='grid.html').catalog-list__item--list-link Для ванной
              ul
                li
                  a(href='#') Светильники потолочные
                li
                  a(href='#') Бра
                li
                  a(href='#') Подсветки для зеркал
        .catalog-list__item.catalog-7
          .catalog-list__item-content
            a(href='grid.html').catalog-list__item--img(style='background-image: url("./img/94844_1205.jpg")')
            a(href='grid.html').catalog-list__item--ico
              img(src='./img/svg/icons-7.svg')
            .catalog-list__item--list
              a(href='grid.html').catalog-list__item--list-link Детские
              ul
                li
                  a(href='#') Люстры
                li
                  a(href='#') Люстры - подвесы
                li
                  a(href='#') Потолочные светильники
                li
                  a(href='#') Бра
                li
                  a(href='#') Споты
                li
                  a(href='#') Подсветки и ночники
        .catalog-list__item.catalog-8
          .catalog-list__item-content
            a(href='grid.html').catalog-list__item--img(style='background-image: url("./img/94844_1206.jpg")')
            a(href='grid.html').catalog-list__item--ico
              img(src='./img/svg/icons-8.svg')
            .catalog-list__item--list
              a(href='grid.html').catalog-list__item--list-link Уличные
              ul
                li
                  a(href='#') Светильники подвесные
                li
                  a(href='#') Светильники потолочные
                li
                  a(href='#') Бра
                li
                  a(href='#') Фасадные светильники
                li
                  a(href='#') Столбики
                li
                  a(href='#') Столбы
                li
                  a(href='#') Прожекторы
                li
                  a(href='#') Светильники с датчиком движения
                li
                  a(href='#') Встраиваемые светильники
                li
                  a(href='#') Солярные светильники
        .catalog-list__item.catalog-9
          .catalog-list__item-content
            a(href='grid.html').catalog-list__item--img(style='background-image: url("./img/94844_1207.jpg")')
            a(href='grid.html').catalog-list__item--ico
              img(src='./img/svg/icons-9.svg')
            .catalog-list__item--list
              a(href='grid.html').catalog-list__item--list-link Умный дом
              ul
                li
                  a(href='#') Люстры
                li
                  a(href='#') Бра
                li
                  a(href='#') Торшеры
                li
                  a(href='#') Настольные лампы
                li
                  a(href='#') Настенно-потолочные
                li
                  a(href='#') Лампочки
        .catalog-list__item.catalog-10
          .catalog-list__item-content
            a(href='grid.html').catalog-list__item--img(style='background-image: url("./img/94844_1208.jpg")')
            a(href='grid.html').catalog-list__item--ico
              img(src='./img/svg/icons-10.svg')
            .catalog-list__item--list
              a(href='grid.html').catalog-list__item--list-link Проф свет
              ul
                li
                  a(href='#') Трековая система  1 фазная
                li
                  a(href='#') Трековая система  3-х фазная
                li
                  a(href='#') Светильники врезные
                li
                  a(href='#') Светильники накладные
                li
                  a(href='#') Подвесы
        .catalog-list__item.catalog-11
          .catalog-list__item-content
            a(href='grid.html').catalog-list__item--img(style='background-image: url("./img/94844_1209.jpg")')
            a(href='grid.html').catalog-list__item--ico
              img(src='./img/svg/icons-11.svg')
            .catalog-list__item--list
              a(href='grid.html').catalog-list__item--list-link Аксессуары
              ul
                li
                  a(href='#') Абажуры
                li
                  a(href='#') Стёкла и плафоны
                li
                  a(href='#') Основания
                li
                  a(href='#') Декор
                li
                  a(href='#') Трансформаторы
                li
                  a(href='#') Платы и модули
                li
                  a(href='#') LED лента
        .catalog-list__item.catalog-12
          .catalog-list__item-content
            a(href='grid.html').catalog-list__item--img(style='background-image: url("./img/94844_12010.jpg")')
            a(href='grid.html').catalog-list__item--ico
              img(src='./img/svg/icons-12.svg')
            .catalog-list__item--list
              a(href='grid.html').catalog-list__item--list-link Лампочки
              ul
                li
                  a(href='#') LED лампочки
                li
                  a(href='#') Смарт лампочки
                li
                  a(href='#') Галогеновые лампочки
                li
                  a(href='#') Люминесцентные лампочки
                li
                  a(href='#') Декоративные лампочки