.catalog-lectors
  .container
    h2.catalog-lectors--title Top - 10 лекторов
    .row
      .col-md-6
        .lector-info
          .lector-info__avatar
            img(src='./img/avatar.jpg' alt='')
          .lector-info__info
            a(href='lector-detail.html').lector-info__name Василий Фамимлмялектора
            .lector-position Администратор  Опыт 2 года 11 месяцев
            .lections-items
              span 80 актуальных лекций
              span 1580 лекций в архиве
      .col-md-6
        .lector-info
          .lector-info__avatar.no-avatar
            img(src='./img/svg/icon-user-small.svg' alt='').small-ico
          .lector-info__info
            a(href='lector-detail.html').lector-info__name Василий Фамимлмялектора
            .lector-position Администратор  Опыт 2 года 11 месяцев
            .lections-items
              span 80 актуальных лекций
              span 1580 лекций в архиве
    .row
      .col-md-6
        .lector-info
          .lector-info__avatar
            img(src='./img/avatar.jpg' alt='')
          .lector-info__info
            a(href='lector-detail.html').lector-info__name Василий Фамимлмялектора
            .lector-position Администратор  Опыт 2 года 11 месяцев
            .lections-items
              span 80 актуальных лекций
              span 1580 лекций в архиве
      .col-md-6
        .lector-info
          .lector-info__avatar
            img(src='./img/avatar.jpg' alt='')
          .lector-info__info
            a(href='lector-detail.html').lector-info__name Василий Фамимлмялектора
            .lector-position Администратор  Опыт 2 года 11 месяцев
            .lections-items
              span 80 актуальных лекций
              span 1580 лекций в архиве
    .row
      .col-md-6.col-lg-3
        a(href='#').border-link.blue-border.all-lectors Все 180 лекторов