.error
  .content
    .error-item
      .error--title
      h2 Вас направили на несуществующую страницу
      p Можете воспользоваться навигацией в шапке сайта.
      a(href='/').product-link На главную
