.event-lending-footer
  .container
    .event-lending-footer--items
      .event-lending-footer__copy &copy; 2013 All rights reserved.
      ul.ml-md-auto
        li
          a(href='rules.html') Правила
        li
          a(href='faq.html') FAQ
        li
          a(href='about.html') О нас
        li
          a(href='about-service.html') О ресурсе