.archive-items.event-popular
  .container
    h2.training-list__title Популярные тренинги
    .row.event-popular-slider.slider
      .col-lg-4.col-md-6.d-flex
        .trending-archive-list
          .coming-events-soon__img-info
            a(href='event-detail.html').coming-events-soon__img-info--link
              img(src='./img/event-1.jpg').img-fluid
          .coming-events-soon__info
            +lector-info
            a(href='event-detail.html').coming-events-soon__info--title Слоненок с мячиком. Мягкая игрушка связана спицами
            p До начала 2 часа 15 минут
            .d-flex.flex-wrap
              .price-lections.mr-4
                +sprite('icon', 'icon-user-confirmed')
                span 1000 грн.
              .price-lections
                +sprite('icon', 'icon-access-documents2')
                span 150 грн.
            .row
              .col-md-6
                a(href='#').default-blue Записаться
      .col-lg-4.col-md-6.d-flex
        .trending-archive-list
          .coming-events-soon__img-info
            a(href='event-detail.html').coming-events-soon__img-info--link.no-img
              +sprite('icon', 'no-img')
          .coming-events-soon__info
            +lector-info
            a(href='event-detail.html').coming-events-soon__info--title Слоненок с мячиком. Мягкая игрушка связана спицами
            p До начала 2 часа 15 минут
            .d-flex.flex-wrap
              .price-lections.mr-4
                +sprite('icon', 'icon-user-confirmed')
                span 1000 грн.
              .price-lections
                +sprite('icon', 'icon-access-documents2')
                span 150 грн.
            .row
              .col-md-6
                a(href='#').default-blue Записаться
      .col-lg-4.col-md-6.d-flex
        .trending-archive-list
          .coming-events-soon__img-info
            a(href='event-detail.html').coming-events-soon__img-info--link
              img(src='./img/event-1.jpg').img-fluid
          .coming-events-soon__info
            +lector-info
            a(href='event-detail.html').coming-events-soon__info--title Слоненок с мячиком. Мягкая игрушка связана спицами
            p До начала 2 часа 15 минут
            .d-flex.flex-wrap
              .price-lections.mr-4
                +sprite('icon', 'icon-user-confirmed')
                span 1000 грн.
              .price-lections
                +sprite('icon', 'icon-access-documents2')
                span 150 грн.
            .row
              .col-md-6
                a(href='#').default-blue Записаться
      .col-lg-4.col-md-6.d-flex
        .trending-archive-list
          .coming-events-soon__img-info
            a(href='event-detail.html').coming-events-soon__img-info--link
              img(src='./img/event-1.jpg').img-fluid
          .coming-events-soon__info
            +lector-info
            a(href='event-detail.html').coming-events-soon__info--title Слоненок с мячиком. Мягкая игрушка связана спицами
            p До начала 2 часа 15 минут
            .d-flex.flex-wrap
              .price-lections.mr-4
                +sprite('icon', 'icon-user-confirmed')
                span 1000 грн.
              .price-lections
                +sprite('icon', 'icon-access-documents2')
                span 150 грн.
            .row
              .col-md-6
                a(href='#').default-blue Записаться
      .col-lg-4.col-md-6.d-flex
        .trending-archive-list
          .coming-events-soon__img-info
            a(href='event-detail.html').coming-events-soon__img-info--link.no-img
              +sprite('icon', 'no-img')
          .coming-events-soon__info
            +lector-info
            a(href='event-detail.html').coming-events-soon__info--title Слоненок с мячиком. Мягкая игрушка связана спицами
            p До начала 2 часа 15 минут
            .d-flex.flex-wrap
              .price-lections.mr-4
                +sprite('icon', 'icon-user-confirmed')
                span 1000 грн.
              .price-lections
                +sprite('icon', 'icon-access-documents2')
                span 150 грн.
            .row
              .col-md-6
                a(href='#').default-blue Записаться
