.main-slider__items
  .container
    h2.event-lending-info__title Слоненок с мячиком. Мягкая игрушка связана спицами
    .event-lending-info
      .main-slider__link-item
        .countdown(data-countdown='2019-10-21')
        .share-items
          span Поделиться
          ul.share-list
            li
              a(href='#').share-list-ico.facebook
            li
              a(href='#').share-list-ico.vk
            li
              a(href='#').share-list-ico.twitter
            li
              a(href='#').share-list-ico.od
      .main-slider__img
        img(src='./img/slider-image.jpg' alt='').img-fluid