.event-lending-header-items.navbar
  .container
    .event-lending-header.header-item
      a(href='#').event-lending-header--logo
        img(src='./img/svg/white-big-logo.svg')
      ul.navbar-nav.ml-md-auto
        li
          a.navigation-entry.navigation-login(href='#', data-toggle='modal', data-target='#login') Вход
        li
          a.navigation-entry.navigation-registration(href='registration.html') Регистрация

