.faq
  .content
    .faq-list
      h2 Вопросы и ответы
      .accordion.accordion--faq
        section.accordion__question
          header.accordion__header
            h5.accordion__heading Какие сроки доставки? Какими транспортными компаниями вы отправляете заказы? Как я могу оплатить заказ?
            span.icon-arrow-down
          .accordion__content
            p Всю необходимую информацию об условиях доставки и оплаты вы можете прочитать в соответствующем разделе сайта
              a(href='#')  «Оплата и доставка».
        section.accordion__question
          header.accordion__header
            h5.accordion__heading Могу ли я вернуть или обменять товар, если он не подошел?
            span.icon-arrow-down
          .accordion__content
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut massa lorem, eleifend vitae rhoncus viverra, hendrerit ac tellus.
        section.accordion__question
          header.accordion__header
            h5.accordion__heading Мне нужен светильник с конкретными параметрами. Как мне его найти?
            span.icon-arrow-down
          .accordion__content
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut massa lorem, eleifend vitae rhoncus viverra, hendrerit ac tellus.

        section.accordion__question
          header.accordion__header
            h5.accordion__heading Идут ли в комплекте к светильнику лампочки?
            span.icon-arrow-down
          .accordion__content
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut massa lorem, eleifend vitae rhoncus viverra, hendrerit ac tellus.

        section.accordion__question
          header.accordion__header
            h5.accordion__heading Что такое IP?
            span.icon-arrow-down
          .accordion__content
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut massa lorem, eleifend vitae rhoncus viverra, hendrerit ac tellus.

        section.accordion__question
          header.accordion__header
            h5.accordion__heading Что такое цветовая температура?
            span.icon-arrow-down
          .accordion__content
            p
              b Цветовая температура
              | – это одна из характеристик света, которая определяет оттенок создаваемого освещения. Измеряется в Кельвинах (К), при этом чем выше значение K, тем свет холоднее.
              br
              b 2500 – 2800 К.
              | Очень теплый белый свет (лампы накаливания, галогенные лампы).
              br
              b 2800 – 3500 К.
              | Теплый белый свет (лампы накаливания, низковольтные галогенные лампы, КЛЛ).
              br
              b 3500 – 5000 К.
              | Нейтральный белый свет (люминесцентные лампы, низковольтные галогенные лампы). Естественные источники: Солнце через час после восхода (3500К), Луна (4000К).
              br
              b 5000 – 7000 К.
              | Холодный белый свет (светодиодные лампы). Естественные источники: Солнце около полудня (5100 – 5600 К), дневной свет (6700 - 7000 К).