.faq
  .container
    h2.profile-user-edit__title FAQ
    #faq.accordion
      .row
        .col-md-6
          .card
            #faq_headingOne.card-header
              button.btn.btn-link(type='button', data-toggle='collapse', data-target='#faqOne', aria-controls='faqOne') Что такое вебинар
            #faqOne.collapse(aria-labelledby='faq_headingOne', data-parent='#faq')
              .card-body
                p Нашим Ресурсом не требует проведения пополнения собственных средств Лектором (Тренером) на конкретную сумму в зависимости от стоимости предлагаемых Тарифных планов. Наш ресурс принимает только украинские гривны. Стоимость платных тарифных планов ориентированы к американскому доллару. Лектор может проводить пополнение собственных средств на любую сумму в украинских гривнах. Средства с собственного счета списываются только в момент «Начала проведения» лекций, семинаров или онлай конференций. Списание средств происходит из расчета усредненной стоимости выбранного тарифного плана за сутки.
          .card
            #faq_headingTwo.card-header
              button.btn.btn-link(type='button', data-toggle='collapse', data-target='#faqTwo', aria-controls='faqTwo') Что такое ник - вопрос не нужен, так как на сайте ников нет
            #faqTwo.collapse(aria-labelledby='faq_headingTwo', data-parent='#faq')
              .card-body
                p Нашим Ресурсом не требует проведения пополнения собственных средств Лектором (Тренером) на конкретную сумму в зависимости от стоимости предлагаемых Тарифных планов. Наш ресурс принимает только украинские гривны. Стоимость платных тарифных планов ориентированы к американскому доллару. Лектор может проводить пополнение собственных средств на любую сумму в украинских гривнах. Средства с собственного счета списываются только в момент «Начала проведения» лекций, семинаров или онлай конференций. Списание средств происходит из расчета усредненной стоимости выбранного тарифного плана за сутки.
          .card
            #faq_headingThree.card-header
              button.btn.btn-link(type='button', data-toggle='collapse', data-target='#faqThree', aria-controls='faqThree') В FAQ должны быть которкие вопросы и короткие ответы
            #faqThree.collapse(aria-labelledby='faq_headingThree', data-parent='#faq')
              .card-body
                p Нашим Ресурсом не требует проведения пополнения собственных средств Лектором (Тренером) на конкретную сумму в зависимости от стоимости предлагаемых Тарифных планов. Наш ресурс принимает только украинские гривны. Стоимость платных тарифных планов ориентированы к американскому доллару. Лектор может проводить пополнение собственных средств на любую сумму в украинских гривнах. Средства с собственного счета списываются только в момент «Начала проведения» лекций, семинаров или онлай конференций. Списание средств происходит из расчета усредненной стоимости выбранного тарифного плана за сутки.
          .card
            #faq_headingFour.card-header
              button.btn.btn-link(type='button', data-toggle='collapse', data-target='#faqFour', aria-controls='faqFour') Изменить тариф
            #faqFour.collapse(aria-labelledby='faq_headingFour', data-parent='#faq')
              .card-body
                p Нашим Ресурсом не требует проведения пополнения собственных средств Лектором (Тренером) на конкретную сумму в зависимости от стоимости предлагаемых Тарифных планов. Наш ресурс принимает только украинские гривны. Стоимость платных тарифных планов ориентированы к американскому доллару. Лектор может проводить пополнение собственных средств на любую сумму в украинских гривнах. Средства с собственного счета списываются только в момент «Начала проведения» лекций, семинаров или онлай конференций. Списание средств происходит из расчета усредненной стоимости выбранного тарифного плана за сутки.
          .card
            #faq_headingFive.card-header
              button.btn.btn-link(type='button', data-toggle='collapse', data-target='#faqFive', aria-controls='faqFive') Что такое “Бонусы”
            #faqFive.collapse(aria-labelledby='faq_headingFive', data-parent='#faq')
              .card-body
                p Нашим Ресурсом не требует проведения пополнения собственных средств Лектором (Тренером) на конкретную сумму в зависимости от стоимости предлагаемых Тарифных планов. Наш ресурс принимает только украинские гривны. Стоимость платных тарифных планов ориентированы к американскому доллару. Лектор может проводить пополнение собственных средств на любую сумму в украинских гривнах. Средства с собственного счета списываются только в момент «Начала проведения» лекций, семинаров или онлай конференций. Списание средств происходит из расчета усредненной стоимости выбранного тарифного плана за сутки.
          .card
            #faq_headingSix.card-header
              button.btn.btn-link(type='button', data-toggle='collapse', data-target='#faqSix', aria-controls='faqSix') Вывод средств из системы
            #faqSix.collapse(aria-labelledby='faq_headingSix', data-parent='#faq')
              .card-body
                p Нашим Ресурсом не требует проведения пополнения собственных средств Лектором (Тренером) на конкретную сумму в зависимости от стоимости предлагаемых Тарифных планов. Наш ресурс принимает только украинские гривны. Стоимость платных тарифных планов ориентированы к американскому доллару. Лектор может проводить пополнение собственных средств на любую сумму в украинских гривнах. Средства с собственного счета списываются только в момент «Начала проведения» лекций, семинаров или онлай конференций. Списание средств происходит из расчета усредненной стоимости выбранного тарифного плана за сутки.
          .card
            #faq_headingSeven.card-header
              button.btn.btn-link(type='button', data-toggle='collapse', data-target='#faqSeven', aria-controls='faqSeven') Личные средства тренера
            #faqSeven.collapse(aria-labelledby='faq_headingSeven', data-parent='#faq')
              .card-body
                p Нашим Ресурсом не требует проведения пополнения собственных средств Лектором (Тренером) на конкретную сумму в зависимости от стоимости предлагаемых Тарифных планов. Наш ресурс принимает только украинские гривны. Стоимость платных тарифных планов ориентированы к американскому доллару. Лектор может проводить пополнение собственных средств на любую сумму в украинских гривнах. Средства с собственного счета списываются только в момент «Начала проведения» лекций, семинаров или онлай конференций. Списание средств происходит из расчета усредненной стоимости выбранного тарифного плана за сутки.
          .card
            #faq_headingEight.card-header
              button.btn.btn-link(type='button', data-toggle='collapse', data-target='#faqEight', aria-controls='faqEight') Партнерская программа как дополнительный заработок
            #faqEight.collapse(aria-labelledby='faq_headingEight', data-parent='#faq')
              .card-body
                p Нашим Ресурсом не требует проведения пополнения собственных средств Лектором (Тренером) на конкретную сумму в зависимости от стоимости предлагаемых Тарифных планов. Наш ресурс принимает только украинские гривны. Стоимость платных тарифных планов ориентированы к американскому доллару. Лектор может проводить пополнение собственных средств на любую сумму в украинских гривнах. Средства с собственного счета списываются только в момент «Начала проведения» лекций, семинаров или онлай конференций. Списание средств происходит из расчета усредненной стоимости выбранного тарифного плана за сутки.
          .card
            #faq_headingNine.card-header
              button.btn.btn-link(type='button', data-toggle='collapse', data-target='#faqNine', aria-controls='faqNine') Регистрация кабинета
            #faqNine.collapse(aria-labelledby='faq_headingNine', data-parent='#faq')
              .card-body
                p Нашим Ресурсом не требует проведения пополнения собственных средств Лектором (Тренером) на конкретную сумму в зависимости от стоимости предлагаемых Тарифных планов. Наш ресурс принимает только украинские гривны. Стоимость платных тарифных планов ориентированы к американскому доллару. Лектор может проводить пополнение собственных средств на любую сумму в украинских гривнах. Средства с собственного счета списываются только в момент «Начала проведения» лекций, семинаров или онлай конференций. Списание средств происходит из расчета усредненной стоимости выбранного тарифного плана за сутки.
          .card
            #faq_headingTen.card-header
              button.btn.btn-link(type='button', data-toggle='collapse', data-target='#faqTen', aria-controls='faqTen') Основные возможности кабинета Тренера
            #faqTen.collapse(aria-labelledby='faq_headingTen', data-parent='#faq')
              .card-body
                p Нашим Ресурсом не требует проведения пополнения собственных средств Лектором (Тренером) на конкретную сумму в зависимости от стоимости предлагаемых Тарифных планов. Наш ресурс принимает только украинские гривны. Стоимость платных тарифных планов ориентированы к американскому доллару. Лектор может проводить пополнение собственных средств на любую сумму в украинских гривнах. Средства с собственного счета списываются только в момент «Начала проведения» лекций, семинаров или онлай конференций. Списание средств происходит из расчета усредненной стоимости выбранного тарифного плана за сутки.

        .col-md-6
          .card
            #faq_headingEleven.card-header
              button.btn.btn-link(type='button', data-toggle='collapse', data-target='#faqEleven', aria-controls='faqEleven') Что такое вебинар
            #faqEleven.collapse(aria-labelledby='faq_headingEleven', data-parent='#faq')
              .card-body
                p Нашим Ресурсом не требует проведения пополнения собственных средств Лектором (Тренером) на конкретную сумму в зависимости от стоимости предлагаемых Тарифных планов. Наш ресурс принимает только украинские гривны. Стоимость платных тарифных планов ориентированы к американскому доллару. Лектор может проводить пополнение собственных средств на любую сумму в украинских гривнах. Средства с собственного счета списываются только в момент «Начала проведения» лекций, семинаров или онлай конференций. Списание средств происходит из расчета усредненной стоимости выбранного тарифного плана за сутки.
          .card
            #faq_headingTwelve.card-header
              button.btn.btn-link(type='button', data-toggle='collapse', data-target='#faqTwelve', aria-controls='faqTwelve') Что такое ник - вопрос не нужен, так как на сайте ников нет
            #faqTwelve.collapse(aria-labelledby='faq_headingTwelve', data-parent='#faq')
              .card-body
                p Нашим Ресурсом не требует проведения пополнения собственных средств Лектором (Тренером) на конкретную сумму в зависимости от стоимости предлагаемых Тарифных планов. Наш ресурс принимает только украинские гривны. Стоимость платных тарифных планов ориентированы к американскому доллару. Лектор может проводить пополнение собственных средств на любую сумму в украинских гривнах. Средства с собственного счета списываются только в момент «Начала проведения» лекций, семинаров или онлай конференций. Списание средств происходит из расчета усредненной стоимости выбранного тарифного плана за сутки.
          .card
            #faq_headingThirteen.card-header
              button.btn.btn-link(type='button', data-toggle='collapse', data-target='#faqThirteen', aria-controls='faqThirteen') В FAQ должны быть которкие вопросы и короткие ответы
            #faqThirteen.collapse(aria-labelledby='faq_headingThirteen', data-parent='#faq')
              .card-body
                p Нашим Ресурсом не требует проведения пополнения собственных средств Лектором (Тренером) на конкретную сумму в зависимости от стоимости предлагаемых Тарифных планов. Наш ресурс принимает только украинские гривны. Стоимость платных тарифных планов ориентированы к американскому доллару. Лектор может проводить пополнение собственных средств на любую сумму в украинских гривнах. Средства с собственного счета списываются только в момент «Начала проведения» лекций, семинаров или онлай конференций. Списание средств происходит из расчета усредненной стоимости выбранного тарифного плана за сутки.
          .card
            #faq_headingFourteen.card-header
              button.btn.btn-link(type='button', data-toggle='collapse', data-target='#faqFourteen', aria-controls='faqFourteen') Изменить тариф
            #faqFourteen.collapse(aria-labelledby='faq_headingFourteen', data-parent='#faq')
              .card-body
                p Нашим Ресурсом не требует проведения пополнения собственных средств Лектором (Тренером) на конкретную сумму в зависимости от стоимости предлагаемых Тарифных планов. Наш ресурс принимает только украинские гривны. Стоимость платных тарифных планов ориентированы к американскому доллару. Лектор может проводить пополнение собственных средств на любую сумму в украинских гривнах. Средства с собственного счета списываются только в момент «Начала проведения» лекций, семинаров или онлай конференций. Списание средств происходит из расчета усредненной стоимости выбранного тарифного плана за сутки.
          .card
            #faq_headingFifteen.card-header
              button.btn.btn-link(type='button', data-toggle='collapse', data-target='#faqFifteen', aria-controls='faqFifteen') Что такое “Бонусы”
            #faqFifteen.collapse(aria-labelledby='faq_headingFifteen', data-parent='#faq')
              .card-body
                p Нашим Ресурсом не требует проведения пополнения собственных средств Лектором (Тренером) на конкретную сумму в зависимости от стоимости предлагаемых Тарифных планов. Наш ресурс принимает только украинские гривны. Стоимость платных тарифных планов ориентированы к американскому доллару. Лектор может проводить пополнение собственных средств на любую сумму в украинских гривнах. Средства с собственного счета списываются только в момент «Начала проведения» лекций, семинаров или онлай конференций. Списание средств происходит из расчета усредненной стоимости выбранного тарифного плана за сутки.
          .card
            #faq_headingSixteen.card-header
              button.btn.btn-link(type='button', data-toggle='collapse', data-target='#faqSixteen', aria-controls='faqSixteen') Вывод средств из системы
            #faqSixteen.collapse(aria-labelledby='faq_headingSixteen', data-parent='#faq')
              .card-body
                p Нашим Ресурсом не требует проведения пополнения собственных средств Лектором (Тренером) на конкретную сумму в зависимости от стоимости предлагаемых Тарифных планов. Наш ресурс принимает только украинские гривны. Стоимость платных тарифных планов ориентированы к американскому доллару. Лектор может проводить пополнение собственных средств на любую сумму в украинских гривнах. Средства с собственного счета списываются только в момент «Начала проведения» лекций, семинаров или онлай конференций. Списание средств происходит из расчета усредненной стоимости выбранного тарифного плана за сутки.
          .card
            #faq_headingSeventeen.card-header
              button.btn.btn-link(type='button', data-toggle='collapse', data-target='#faqSeventeen', aria-controls='faqSeventeen') Личные средства тренера
            #faqSeventeen.collapse(aria-labelledby='faq_headingSeventeen', data-parent='#faq')
              .card-body
                p Нашим Ресурсом не требует проведения пополнения собственных средств Лектором (Тренером) на конкретную сумму в зависимости от стоимости предлагаемых Тарифных планов. Наш ресурс принимает только украинские гривны. Стоимость платных тарифных планов ориентированы к американскому доллару. Лектор может проводить пополнение собственных средств на любую сумму в украинских гривнах. Средства с собственного счета списываются только в момент «Начала проведения» лекций, семинаров или онлай конференций. Списание средств происходит из расчета усредненной стоимости выбранного тарифного плана за сутки.
          .card
            #faq_headingEighteen.card-header
              button.btn.btn-link(type='button', data-toggle='collapse', data-target='#faqEighteen', aria-controls='faqEighteen') Партнерская программа как дополнительный заработок
            #faqEighteen.collapse(aria-labelledby='faq_headingEighteen', data-parent='#faq')
              .card-body
                p Нашим Ресурсом не требует проведения пополнения собственных средств Лектором (Тренером) на конкретную сумму в зависимости от стоимости предлагаемых Тарифных планов. Наш ресурс принимает только украинские гривны. Стоимость платных тарифных планов ориентированы к американскому доллару. Лектор может проводить пополнение собственных средств на любую сумму в украинских гривнах. Средства с собственного счета списываются только в момент «Начала проведения» лекций, семинаров или онлай конференций. Списание средств происходит из расчета усредненной стоимости выбранного тарифного плана за сутки.
          .card
            #faq_headingNineteen.card-header
              button.btn.btn-link(type='button', data-toggle='collapse', data-target='#faqNineteen', aria-controls='faqNineteen') Регистрация кабинета
            #faqNineteen.collapse(aria-labelledby='faq_headingNineteen', data-parent='#faq')
              .card-body
                p Нашим Ресурсом не требует проведения пополнения собственных средств Лектором (Тренером) на конкретную сумму в зависимости от стоимости предлагаемых Тарифных планов. Наш ресурс принимает только украинские гривны. Стоимость платных тарифных планов ориентированы к американскому доллару. Лектор может проводить пополнение собственных средств на любую сумму в украинских гривнах. Средства с собственного счета списываются только в момент «Начала проведения» лекций, семинаров или онлай конференций. Списание средств происходит из расчета усредненной стоимости выбранного тарифного плана за сутки.
          .card
            #faq_headingTwenty.card-header
              button.btn.btn-link(type='button', data-toggle='collapse', data-target='#faqTwenty', aria-controls='faqTwenty') Основные возможности кабинета Тренера
            #faqTwenty.collapse(aria-labelledby='faq_headingTwenty', data-parent='#faq')
              .card-body
                p Нашим Ресурсом не требует проведения пополнения собственных средств Лектором (Тренером) на конкретную сумму в зависимости от стоимости предлагаемых Тарифных планов. Наш ресурс принимает только украинские гривны. Стоимость платных тарифных планов ориентированы к американскому доллару. Лектор может проводить пополнение собственных средств на любую сумму в украинских гривнах. Средства с собственного счета списываются только в момент «Начала проведения» лекций, семинаров или онлай конференций. Списание средств происходит из расчета усредненной стоимости выбранного тарифного плана за сутки.