.gallery-popup
  .sign-out
  .gallery-item
    .cart-close
    .gallery-slider
      div
        .product-sliders-top-img
          img(src='img/product-3.png')
      div
        .product-sliders-top-img
          img(src='img/product-4.png')
      div
        .product-sliders-top-img
          img(src='img/product-5.png')
      div
        .product-sliders-top-img
          img(src='img/product-2.png')
      div
        .product-sliders-top-img
          img(src='img/product.png')
