.guaranties
  .content
    .grid-produstion--header
      ul.breadcrumbs
        li
          a(href='#') Главная
        li Гарантии. Возврат товара и гарантийное обслуживание

      h2.grid-produstion--title Гарантии. Возврат товара и гарантийное обслуживание
    .guaranties-item
      .guaranties-item__title В своей работе мы неукоснительно соблюдаем требования Закона Украины «О защите прав потребителей»
      p На все товары распространяется гарантия производителя. Срок гарантийного обслуживания зависит от сервисной политики производителя и указан в гарантийном талоне, а также на карточке каждого товара на нашем сайте. Подтверждением того, что ваша покупка обеспечена гарантией, является чек и гарантийный талон.
        br
        br
        b Пожалуйста, сохраняйте эти документы в течение всего срока гарантийного обслуживания.
  .guaranties-faq
    .content
      h2.guaranties-faq--title Часто задаваемые вопросы
      ul.guaranties-faq__list
        li
          a(href='#').guaranties-faq__item Возврат товара в течение 14-ти дней с дня покупки
        li
          a(href='#').guaranties-faq__item Куда мне обратиться, чтобы вернуть новый товар
        li
          a(href='#').guaranties-faq__item Товар сломался в течение гарантийного срока
        li
          a(href='#').guaranties-faq__item Как передать товар в гарантийный ремонт
        li
          a(href='#').guaranties-faq__item Как оформить посылку при возврате товара
        li
          a(href='#').guaranties-faq__item При получении товара обнаружилось, что товар находится в нерабочем состоянии
        li
          a(href='#').guaranties-faq__item При получении заказа я не обнаружил гарантийный талон производителя?
        li
          a(href='#').guaranties-faq__item В каких случаях товар может быть отказано в гарантийном обслуживании
        li
          a(href='#').guaranties-faq__item Я потерял чек или гарантийный талон
        li
          a(href='#').guaranties-faq__item Когда мне вернут деньги за возвращенный товар