.header-top-menu
  .content
    .header-top-menu--item
      .mobile-menu--hamburger-icon.mobile
        span.line.line-1
        span.line.line-2
        span.line.line-3
      a(href='/').header-top-menu__logo
        img(src='./img/svg/logo.svg')
      .mobile.header-top-menu__substrate
      ul.header-top-menu__menu-item
        li
          a(href='#').mobile-logo.mobile
        li
          .close-menu.mobile
        li.menu-catalog
          a(href='#').header-top-menu__menu-item--link
            .header-top-menu__menu-item--hamburger-icon
              span.line.line-1
              span.line.line-2
              span.line.line-3
            span Меню
          ul.header-top-menu__menu-item--dropdown
            li
              a(href='#') Акции
            li
              a(href='#') Доставка и оплата
            li
              a(href='#') Новости
            li
              a(href='#') Вопросы
            li
              a(href='#') Гарантии
            li
              a(href='#') Контакты
            li
              a(href='#') О нас
        li.menu-catalog
          a(href='#').header-top-menu__menu-item--link.catalog-link
            //+sprite('icons catalog-ico', 'catalog-ico')
            .catalog-ico
            | Каталог
          ul.header-top-menu__menu-item--mega-menu
            li.catalog-item.icons_1
              a(href='#').catalog-item__top
                img(src='./img/svg/icons-1.svg' alt='').icon
                | Люстры
              ul.catalog-item__list
                li
                  a(href='#') Люстры подвесные
                li
                  a(href='#') Люстры припотолочные
                li
                  a(href='#') Люстры - подвесы

            li.catalog-item.icons_2
              a(href='#').catalog-item__top
                img(src='./img/svg/icons-2.svg' alt='').icon
                | Бра
              ul.catalog-item__list
                li
                  a(href='#') Бра декоративные
                li
                  a(href='#') Бра с абажуром
                li
                  a(href='#') Бра подсветки
                li
                  a(href='#') Подсветки мебельные и кухонные

            li.catalog-item.icons_3
              a(href='#').catalog-item__top
                img(src='./img/svg/icons-3.svg' alt='').icon
                | Торшеры
              ul.catalog-item__list
                li
                  a(href='#') Торшеры декоративные
                li
                  a(href='#') Торшеры с абажуром
                li
                  a(href='#') Торшеры с лампой для чтения

            li.catalog-item.icons_4
              a(href='#').catalog-item__top
                img(src='./img/svg/icons-4.svg' alt='').icon
                | Настольные лампы
              ul.catalog-item__list
                li
                a(href='#') Торшеры декоративные
                li
                a(href='#') Торшеры с абажуром
                li
                a(href='#') Торшеры с лампой для чтения

            li.catalog-item.icons_5
              a(href='#').catalog-item__top
                img(src='./img/svg/icons-5.svg' alt='').icon
                | Для ванной
              ul.catalog-item__list
                li
                  a(href='#') Светильники потолочные
                li
                  a(href='#') Бра
                li
                  a(href='#') Подсветки для зеркал

            li.catalog-item.icons_6
              a(href='#').catalog-item__top
                img(src='./img/svg/icons-6.svg' alt='').icon
                | Настенно-
                | потолочные
              ul.catalog-item__list
                li
                  a(href='#') Круглые, овальные светильники
                li
                  a(href='#') Прямоугольные светильники
                li
                  a(href='#') Споты
                li
                  a(href='#') Трековые светильники
                li
                  a(href='#') Точки врезные
                li
                  a(href='#') Точки накладные
            li.catalog-item.icons_7
              a(href='#').catalog-item__top
                img(src='./img/svg/icons-7.svg' alt='').icon
                | Детские
              ul.catalog-item__list
                li
                  a(href='#') Люстры
                li
                  a(href='#') Потолочные светильники
                li
                  a(href='#') Бра
                li
                  a(href='#') Настольные лампы

            li.catalog-item.icons_8
              a(href='#').catalog-item__top
                img(src='./img/svg/icons-8.svg' alt='').icon
                | Уличные
              ul.catalog-item__list
                li
                  a(href='#') Люстры
                li
                  a(href='#') Потолочные светильники
                li
                  a(href='#') Бра
                li
                  a(href='#') Настольные лампы
            li.catalog-item.icons_9
              a(href='#').catalog-item__top
                img(src='./img/svg/icons-9.svg' alt='').icon
                | Умный дом
              ul.catalog-item__list
                li
                  a(href='#') Люстры
                li
                  a(href='#') Потолочные светильники
                li
                  a(href='#') Бра
                li
                  a(href='#') Настольные лампы

            li.catalog-item.icons_10
              a(href='#').catalog-item__top
                img(src='./img/svg/icons-10.svg' alt='').icon
                | Проф свет
              ul.catalog-item__list
                li
                  a(href='#') Торшеры декоративные
                li
                  a(href='#') Торшеры с абажуром
                li
                  a(href='#') Торшеры с лампой для чтения
            li.catalog-item.icons_11
              a(href='#').catalog-item__top
                img(src='./img/svg/icons-11.svg' alt='').icon
                | Аксесуары
              ul.catalog-item__list
                li
                  a(href='#') Абажуры
                li
                  a(href='#') Cтёкла и плафоны
                li
                  a(href='#') Дистанционное управление
                li
                  a(href='#') Декор
                li
                  a(href='#') LED лента

            li.catalog-item.icons_12
              a(href='#').catalog-item__top
                img(src='./img/svg/icons-12.svg' alt='').icon
                | Лампочки
              ul.catalog-item__list
                li
                  a(href='#') LED лампочки
                li
                  a(href='#') Смарт лампочки
                li
                  a(href='#') Галогеновые лампочки
                li
                  a(href='#') Люминесцентные лампочки
                li
                  a(href='#') Декоративные лампочки
        li
          form(action='#').search-item
            .search-item--form
              .search-item--form__prepend
              input(type='text' placeholder='Поиск').search-item--form__control
        li.phone-items
          a(href='#').header-top-menu__menu-item--link.menu-call
            span.header-top-menu__menu-item--phone +38 044 595 55 22
          ul.header-top-menu__menu-item--phone__dropdown
            li
              a(href='#') +38 044 595 55 22
            li
              a(href='#') +38 044 595 55 22
            li
              a(href='#').get-call Заказать звонок
        li
          a(href='#').header-top-menu__menu-item--link.menu-call.lang-select Ru
        li
          a(href='#').header-top-menu__menu-item--link.login.login-open
            .login-ico
            span Вход / Регистрация
        li
          a(href='#').header-top-menu__menu-item--link.cart-item
            .cart-ico
            .cart-count 3
        li.mobile-logo--link.mobile
          a(href='#') Eglo.ua
      a(href='#').cart-item.mobile
        .cart-ico
        .cart-count 3


