.header-catalog-menu
  .content
    ul.header-catalog-menu--items
      li
        a(href='#').header-catalog-menu--items__link
          img(src='./img/svg/icons-1.svg' alt='').icon
          | Люстры
        .header-catalog-menu__dropdown
          .header-catalog-menu__dropdown--title люстры
          ul.header-catalog-menu__dropdown--list
            li
              a(href='#') Люстры подвесные
            li
              a(href='#') Люстры припотолочные
            li
              a(href='#') Люстры - подвесы
          .header-catalog-menu__dropdown--list-img
            img(src='./img/chandeliers-bg.jpg' alt='')
      li
        a(href='#').header-catalog-menu--items__link
          img(src='./img/svg/icons-2.svg' alt='').icon
          | Бра
        .header-catalog-menu__dropdown
          .header-catalog-menu__dropdown--title Бра
          ul.header-catalog-menu__dropdown--list
            li
              a(href='#') Бра декоративные
            li
              a(href='#') Бра с абажуром
            li
              a(href='#') Бра подсветки
            li
              a(href='#') Подсветки мебельные и кухонные
          .header-catalog-menu__dropdown--list-img
            img(src='./img/chandeliers-bg.jpg' alt='')
      li
        a(href='#').header-catalog-menu--items__link
          img(src='./img/svg/icons-3.svg' alt='').icon
          | Торшеры
        .header-catalog-menu__dropdown
          .header-catalog-menu__dropdown--title Торшеры
          ul.header-catalog-menu__dropdown--list
            li
              a(href='#') Торшеры декоративные
            li
              a(href='#') Торшеры с абажуром
            li
              a(href='#') Торшеры с лампой для чтения
          .header-catalog-menu__dropdown--list-img
            img(src='./img/chandeliers-bg.jpg' alt='')
      li
        a(href='#').header-catalog-menu--items__link
          img(src='./img/svg/icons-4.svg' alt='').icon
          | настольные
        .header-catalog-menu__dropdown
          .header-catalog-menu__dropdown--title Настольные
          ul.header-catalog-menu__dropdown--list
            li
              a(href='#') Торшеры декоративные
            li
              a(href='#') Торшеры с абажуром
            li
              a(href='#') Торшеры с лампой для чтения
          .header-catalog-menu__dropdown--list-img
            img(src='./img/chandeliers-bg.jpg' alt='')

      li
        a(href='#').header-catalog-menu--items__link
          img(src='./img/svg/icons-6.svg' alt='').icon
          | настенно-
          br
          | потолочные
        .header-catalog-menu__dropdown
          .header-catalog-menu__dropdown--title Настенно-потолочные
          ul.header-catalog-menu__dropdown--list
            li
              a(href='#') Круглые, овальные светильники
            li
              a(href='#') Прямоугольные светильники
            li
              a(href='#') Споты
            li
              a(href='#') Трековые светильники
            li
              a(href='#') Точки врезные
            li
              a(href='#') Точки накладные
          .header-catalog-menu__dropdown--list-img
            img(src='./img/chandeliers-bg.jpg' alt='')
      li
        a(href='#').header-catalog-menu--items__link
          img(src='./img/svg/icons-5.svg' alt='').icon
          | Для ванной
        .header-catalog-menu__dropdown
          .header-catalog-menu__dropdown--title Для ванной
          ul.header-catalog-menu__dropdown--list
            li
              a(href='#') Светильники потолочные
            li
              a(href='#') Бра
            li
              a(href='#') Подсветки для зеркал
          .header-catalog-menu__dropdown--list-img
            img(src='./img/chandeliers-bg.jpg' alt='')
      li
        a(href='#').header-catalog-menu--items__link
          img(src='./img/svg/icons-7.svg' alt='').icon
          | Детские
        .header-catalog-menu__dropdown
          .header-catalog-menu__dropdown--title Детские
          ul.header-catalog-menu__dropdown--list
            li
              a(href='#') Люстры
            li
              a(href='#') Потолочные светильники
            li
              a(href='#') Бра
            li
              a(href='#') Настольные лампы
          .header-catalog-menu__dropdown--list-img
            img(src='./img/chandeliers-bg.jpg' alt='')
      li
        a(href='#').header-catalog-menu--items__link
          img(src='./img/svg/icons-8.svg' alt='').icon
          | Уличные
        .header-catalog-menu__dropdown
          .header-catalog-menu__dropdown--title Уличные
          ul.header-catalog-menu__dropdown--list
            li
              a(href='#') Люстры
            li
              a(href='#') Потолочные светильники
            li
              a(href='#') Бра
            li
              a(href='#') Настольные лампы
          .header-catalog-menu__dropdown--list-img
            img(src='./img/chandeliers-bg.jpg' alt='')
      li
        a(href='#').header-catalog-menu--items__link
          img(src='./img/svg/icons-9.svg' alt='').icon
          | Умный дом
        .header-catalog-menu__dropdown
          .header-catalog-menu__dropdown--title Умный дом
          ul.header-catalog-menu__dropdown--list
            li
              a(href='#') Люстры
            li
              a(href='#') Потолочные светильники
            li
              a(href='#') Бра
            li
              a(href='#') Настольные лампы
          .header-catalog-menu__dropdown--list-img
            img(src='./img/chandeliers-bg.jpg' alt='')
      li
        a(href='#').header-catalog-menu--items__link
          img(src='./img/svg/icons-10.svg' alt='').icon
          | Проф свет
        .header-catalog-menu__dropdown
          .header-catalog-menu__dropdown--title Проф свет
          ul.header-catalog-menu__dropdown--list
            li
              a(href='#') Торшеры декоративные
            li
              a(href='#') Торшеры с абажуром
            li
              a(href='#') Торшеры с лампой для чтения
          .header-catalog-menu__dropdown--list-img
            img(src='./img/chandeliers-bg.jpg' alt='')

      li
        a(href='#').header-catalog-menu--items__link
          img(src='./img/svg/icons-12.svg' alt='').icon
          | Лампочки
        .header-catalog-menu__dropdown
          .header-catalog-menu__dropdown--title Лампочки
          ul.header-catalog-menu__dropdown--list
            li
              a(href='#') LED лампочки
            li
              a(href='#') Смарт лампочки
            li
              a(href='#') Галогеновые лампочки
            li
              a(href='#') Люминесцентные лампочки
            li
              a(href='#') Декоративные лампочки
          .header-catalog-menu__dropdown--list-img
            img(src='./img/chandeliers-bg.jpg' alt='')
      li
        a(href='#').header-catalog-menu--items__link
          img(src='./img/svg/icons-11.svg' alt='').icon
          | Аксесуары
        .header-catalog-menu__dropdown
          .header-catalog-menu__dropdown--title Аксесуары
          ul.header-catalog-menu__dropdown--list
            li
              a(href='#') Абажуры
            li
              a(href='#') Cтёкла и плафоны
            li
              a(href='#') Дистанционное управление
            li
              a(href='#') Декор
            li
              a(href='#') LED лента
          .header-catalog-menu__dropdown--list-img
            img(src='./img/chandeliers-bg.jpg' alt='')