.invite
  nav
    #nav-tab.nav.nav-tabs(role='tablist')
      a#invite-mail-tab.nav-item.nav-link.active(data-toggle='tab' href='#invite-mail' role='tab' aria-controls='invite-mail' aria-selected='true') Приласить по почте
      a#invite-ref-tab.nav-item.nav-link(data-toggle='tab' href='#invite-ref' role='tab' aria-controls='invite-ref' aria-selected='false') Реферальные письма
  #nav-tabContent.tab-content
    #invite-mail.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='invite-mail-tab')
      .invite-mail
        .row
          .col-md-6

    #invite-ref.tab-pane.fade(role='tabpanel' aria-labelledby='invite-ref-tab') ...
