.invite
  .container
    nav
      #nav-tab.nav.nav-tabs(role='tablist')
        a#invite-mail-tab.nav-item.nav-link.active(data-toggle='tab' href='#invite-mail' role='tab' aria-controls='invite-mail' aria-selected='true') Приласить по почте
        a#invite-ref-tab.nav-item.nav-link(data-toggle='tab' href='#invite-ref' role='tab' aria-controls='invite-ref' aria-selected='false') Реферальные письма
    #nav-tabContent.tab-content
      #invite-mail.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='invite-mail-tab')
        .invite-mail
          form(action='#')
          .row
            .col-md-6
              .invite-item
                .profile-user-edit
                  h4.mt-0 Кому:
                .invite-item__list.mCustomScrollbar
                  .invite-item__list-item
                    span usermail@gmail.com
                    .close
                  .invite-item__list-item
                    span user1478@gmail.com
                    .close
                  .invite-item__list-item
                    span user@gmail.com
                    .close
                  .invite-item__list-item
                    span longlongusername@gmail.com
                    .close
                  .invite-item__list-item
                    span usernamemail@gmail.com
                    .close
                  .invite-item__list-item
                    span 145@gmail.com
                    .close
                  .invite-item__list-item
                    span usermail@gmail.com
                    .close
                  .invite-item__list-item
                    span user1478@gmail.com
                    .close
                  .invite-item__list-item
                    span user@gmail.com
                    .close
                  .invite-item__list-item
                    span longlongusername@gmail.com
                    .close
                  .invite-item__list-item
                    span usernamemail@gmail.com
                    .close
                  .invite-item__list-item
                    span 145@gmail.com
                    .close
                  .invite-item__list-item
                    span usermail@gmail.com
                    .close
                  .invite-item__list-item
                    span user1478@gmail.com
                    .close

                .invite-item__bottom.row
                  .col-auto
                    a(href='#').border-link.blue-border.mt-0.refferal-link Рефералы
                  .col-auto
                    a(href='#').border-link.blue-border.mt-0.attended-lectures Посетившие лекции
            .col-md-6
              .profile-user-edit
                h4.mt-0 Список конференций:
              .invite-item
                .registration-form__checkbox.mt-0
                  input(type='checkbox')
                  .invite-lection-name Слоненок с мячиком. Мягкая игрушка связана спицами
                    .invite-lection-date 31 ноября 2019, 15:00
                .registration-form__checkbox.mt-0
                  input(type='checkbox')
                  .invite-lection-name Слоненок с мячиком. Мягкая игрушка связана спицами
                    .invite-lection-date 31 ноября 2019, 15:00
                .invite-item__bottom.row
                  .col-auto
                    a(href='#').border-link.blue-border.mt-0.add-conference Добавить конференцию
                  .col-auto
                    a(href='#').border-link.mt-0.remove-selected Удалить выбранные
          .row
            .col-md-12
              .profile-user-edit
                h4 Приглашение:
              .registration-form__group
                .placeholder Тема
                  span *
                input.registration-form-control(type='text')
              .registration-form__group
                .placeholder Текст
                  span *
                textarea.registration-form-control(rows='5')
              .registration-form__link
                button(type='submit').registration-form__link-registration Отправить приглашения
      #invite-ref.tab-pane.fade(role='tabpanel' aria-labelledby='invite-ref-tab')
        #faq.faq
          .row
            .col-md-6
              .card
                #faq_headingOne.card-header
                  .faq--title.collapsed(data-toggle='collapse', data-target='#faqOne', aria-controls='faqOne') Слоненок с мячиком. Мягкая игрушка связана спицами
                    .date 31 ноября 2019, 15:00
                #faqOne.collapse(aria-labelledby='faq_headingOne', data-parent='#faq')
                  .card-body
                    form(action='#')
                      .invite-refferal
                        .invite-refferal--code https://lektor.org.ua?webinar=gXNtCTb4Du9FH0l
                        input.registration-form-control(type='text' placeholder='Текст реферальной ссылки')
                        button(type='submit').default-green Сохранить
              .card
                #faq_headingTwo.card-header
                  .faq--title.collapsed(data-toggle='collapse', data-target='#faqTwo', aria-controls='faqTwo') Слоненок с мячиком. Мягкая игрушка связана спицами
                    .date 31 ноября 2019, 15:00
                #faqTwo.collapse(aria-labelledby='faq_headingTwo', data-parent='#faq')
                  .card-body
                    form(action='#')
                      .invite-refferal
                        .invite-refferal--code https://lektor.org.ua?webinar=gXNtCTb4Du9FH0l
                        input.registration-form-control(type='text' placeholder='Текст реферальной ссылки')
                        button(type='submit').default-green Сохранить
              .card
                #faq_headingThree.card-header
                  .faq--title.collapsed(data-toggle='collapse', data-target='#faqThree', aria-controls='faqThree') Слоненок с мячиком. Мягкая игрушка связана спицами
                    .date 31 ноября 2019, 15:00
                #faqThree.collapse(aria-labelledby='faq_headingThree', data-parent='#faq')
                  .card-body
                    form(action='#')
                      .invite-refferal
                        .invite-refferal--code https://lektor.org.ua?webinar=gXNtCTb4Du9FH0l
                        input.registration-form-control(type='text' placeholder='Текст реферальной ссылки')
                        button(type='submit').default-green Сохранить
              .card
                #faq_headingFour.card-header
                  .faq--title.collapsed(data-toggle='collapse', data-target='#faqFour', aria-controls='faqFour') Слоненок с мячиком. Мягкая игрушка связана спицами
                    .date 31 ноября 2019, 15:00
                #faqFour.collapse(aria-labelledby='faq_headingFour', data-parent='#faq')
                  .card-body
                    form(action='#')
                      .invite-refferal
                        .invite-refferal--code https://lektor.org.ua?webinar=gXNtCTb4Du9FH0l
                        input.registration-form-control(type='text' placeholder='Текст реферальной ссылки')
                        button(type='submit').default-green Сохранить
              .card
                #faq_headingFive.card-header
                  .faq--title.collapsed(data-toggle='collapse', data-target='#faqFive', aria-controls='faqFive') Слоненок с мячиком. Мягкая игрушка связана спицами
                    .date 31 ноября 2019, 15:00
                #faqFive.collapse(aria-labelledby='faq_headingFive', data-parent='#faq')
                  .card-body
                    form(action='#')
                      .invite-refferal
                        .invite-refferal--code https://lektor.org.ua?webinar=gXNtCTb4Du9FH0l
                        input.registration-form-control(type='text' placeholder='Текст реферальной ссылки')
                        button(type='submit').default-green Сохранить
            .col-md-6
              .card
                #faq_headingSix.card-header
                  .faq--title.collapsed(data-toggle='collapse', data-target='#faqSix', aria-controls='faqSix') Слоненок с мячиком. Мягкая игрушка связана спицами
                    .date 31 ноября 2019, 15:00
                #faqSix.collapse(aria-labelledby='faq_headingSix', data-parent='#faq')
                  .card-body
                    form(action='#')
                      .invite-refferal
                        .invite-refferal--code https://lektor.org.ua?webinar=gXNtCTb4Du9FH0l
                        input.registration-form-control(type='text' placeholder='Текст реферальной ссылки')
                        button(type='submit').default-green Сохранить
              .card
                #faq_headingSeven.card-header
                  .faq--title.collapsed(data-toggle='collapse', data-target='#faqSeven', aria-controls='faqSeven') Слоненок с мячиком. Мягкая игрушка связана спицами
                    .date 31 ноября 2019, 15:00
                #faqSeven.collapse(aria-labelledby='faq_headingSeven', data-parent='#faq')
                  .card-body
                    form(action='#')
                      .invite-refferal
                        .invite-refferal--code https://lektor.org.ua?webinar=gXNtCTb4Du9FH0l
                        input.registration-form-control(type='text' placeholder='Текст реферальной ссылки')
                        button(type='submit').default-green Сохранить
              .card
                #faq_headingEight.card-header
                  .faq--title.collapsed(data-toggle='collapse', data-target='#faqEight', aria-controls='faqEight') Слоненок с мячиком. Мягкая игрушка связана спицами
                    .date 31 ноября 2019, 15:00
                #faqEight.collapse(aria-labelledby='faq_headingEight', data-parent='#faq')
                  .card-body
                    form(action='#')
                      .invite-refferal
                        .invite-refferal--code https://lektor.org.ua?webinar=gXNtCTb4Du9FH0l
                        input.registration-form-control(type='text' placeholder='Текст реферальной ссылки')
                        button(type='submit').default-green Сохранить
              .card
                #faq_headingNine.card-header
                  .faq--title.collapsed(data-toggle='collapse', data-target='#faqNine', aria-controls='faqNine') Слоненок с мячиком. Мягкая игрушка связана спицами
                    .date 31 ноября 2019, 15:00
                #faqNine.collapse(aria-labelledby='faq_headingNine', data-parent='#faq')
                  .card-body
                    form(action='#')
                      .invite-refferal
                        .invite-refferal--code https://lektor.org.ua?webinar=gXNtCTb4Du9FH0l
                        input.registration-form-control(type='text' placeholder='Текст реферальной ссылки')
                        button(type='submit').default-green Сохранить
              .card
                #faq_headingTen.card-header
                  .faq--title.collapsed(data-toggle='collapse', data-target='#faqTen', aria-controls='faqTen') Слоненок с мячиком. Мягкая игрушка связана спицами
                    .date 31 ноября 2019, 15:00
                #faqTen.collapse(aria-labelledby='faq_headingTen', data-parent='#faq')
                  .card-body
                    form(action='#')
                      .invite-refferal
                        .invite-refferal--code https://lektor.org.ua?webinar=gXNtCTb4Du9FH0l
                        input.registration-form-control(type='text' placeholder='Текст реферальной ссылки')
                        button(type='submit').default-green Сохранить
          .row
            .col-md-12
              +pagination