.article-list.event-detail.lector-detail
  .container
    h2.profile-user-edit__title Василий Фамилиялектора
    include ../components/follow-back
    .catalog-lectors
      .lector-details
        .row
          .col
            .lector-avatar
              img(src='./img/avatar.jpg')
          .col-md-10.lector-details-info
            .lector-position
              span Администратор
              span Опыт 2 года 11 месяцев
            .row
              .col-md-6.col-lg-3
                .lections-items.mb-2 80 актуальных лекций
                a(href='schedule.html').default-green Расписание лектора
              .col-md-6.col-lg-3
                .lections-items.mb-2 1580 лекций в архиве
                a(href='archive.html').default-blue Архив лектора
            .share-items
              span Поделиться
              ul.share-list
                li
                  a(href='#').share-list-ico.facebook
                li
                  a(href='#').share-list-ico.vk
                li
                  a(href='#').share-list-ico.twitter
                li
                  a(href='#').share-list-ico.od
        .row
          .col-md-12
            .lector-details--about
              h4 О себе:
              p Онлайн-семинар (веб-конференция, вебинар, англ. webinar) — разновидность веб-конференции, проведение онлайн-встреч или презентаций через Интернет в режиме реального времени.
                | Вебинар - это модно, современно, доступно, просто, удобно.
                | Вебинар, или онлайн-семинар, - набирающий популярность вид обучения в реальном времени с использованием Интернет-технологий.
                | Данная технология позволяет за считанные секунды организовать встречу людей из разных уголков земного шара, в любое удобное время, не имея привязки к транспорту, что существенно экономит средства.

