.mailing
  .row
    .col-md-12
      .mailing-refferals
        form(action='#')
          label Реферальная ссылка в письме:
          input(type='text' placeholder='Текст реферальной ссылки')
          button(type='submit').default-blue Сохранить