.main-slider
  .slider.single-item
    .main-slide(style='background-image: url("./img/slide.jpg")')
      .content
        .main-slide--body
          h2 Магазин EGLO
          p Фірмовий магазин світла і декору "EGLO" Один з лідерів по виробництву декоративного освітлення в Європі.
          a(href='#') Все товары
    .main-slide(style='background-image: url("./img/slide.jpg")')
      .content
        .main-slide--body
          h2 Магазин EGLO
          p Фірмовий магазин світла і декору "EGLO" Один з лідерів по виробництву декоративного освітлення в Європі.
          a(href='#') Все товары
    .main-slide(style='background-image: url("./img/slide.jpg")')
      .content
        .main-slide--body
          h2 Магазин EGLO
          p Фірмовий магазин світла і декору "EGLO" Один з лідерів по виробництву декоративного освітлення в Європі.
          a(href='#') Все товары
    .main-slide(style='background-image: url("./img/slide.jpg")')
      .content
        .main-slide--body
          h2 Магазин EGLO
          p Фірмовий магазин світла і декору "EGLO" Один з лідерів по виробництву декоративного освітлення в Європі.
          a(href='#') Все товары
  .slider-navigation