.message-content
  .message-item
    +sprite('icon', 'icon-message')
    .message-readed.no-answer нет ответа
    .message-date 31.05.2019, 15:00
    .message-title Тема сообщения от пользователя к администрации ...
    .message-description Коротко начало текста вашего сообщения - о чем вы хотите спросить или сообщить ...
    .message-delete
      +sprite('icon-delete', 'icon-delete')
  .message-item
    +sprite('icon', 'icon-message')
    .message-readed 1 прочитано
    .message-date 31.05.2019, 15:00
    .message-title Тема сообщения от пользователя к администрации ...
    .message-description Коротко начало текста вашего сообщения - о чем вы хотите спросить или сообщить ...
    .message-delete
      +sprite('icon-delete', 'icon-delete')
  .message-item
    +sprite('icon', 'icon-message')
    .message-readed 3 прочитано
    .message-date 31.05.2019, 15:00
    .message-title Тема сообщения от пользователя к администрации ...
    .message-description Коротко начало текста вашего сообщения - о чем вы хотите спросить или сообщить ...
    .message-delete
      +sprite('icon-delete', 'icon-delete')
  .message-item
    +sprite('icon', 'icon-message')
    .message-readed 10 прочитано
    .message-date 31.05.2019, 15:00
    .message-title Тема сообщения от пользователя к администрации ...
    .message-description Коротко начало текста вашего сообщения - о чем вы хотите спросить или сообщить ...
    .message-delete
      +sprite('icon-delete', 'icon-delete')
  +pagination