.news-items
  .content
    .grid-produstion--header
      include ../components/breadcrumbs
      h2.grid-produstion--title Новости Егло
    .news-list
      .item.news-item.main-news
        a(href='#').news-item__img(style='background-image: url("./img/news-item-1.jpg")')
        .news-item__info
          .news-item__info--top
            a(href='#').exposition выставка
            .date — 16 марта 2018
          a(href='#').news-item__info--name Киевский международный мебельный форум (KIFF)
      .item.news-item
        a(href='#').news-item__img(style='background-image: url("./img/news-item-2.jpg")')
        .news-item__info
          .news-item__info--top
            a(href='#').exposition коллекция
            .date — 10 января 2018
          a(href='#').news-item__info--name Участие в международной выставке interior mebel

      .item.news-item
        a(href='#').news-item__img(style='background-image: url("./img/news-item-3.jpg")')
        .news-item__info
          .news-item__info--top
            a(href='#').exposition коллекция
            .date — 22 марта 2018
          a(href='#').news-item__info--name Gamma Arredamenti International в будь-яку точку світу.
      .item.news-item
        a(href='#').news-item__img(style='background-image: url("./img/news-item-2.jpg")')
        .news-item__info
          .news-item__info--top
            a(href='#').exposition коллекция
            .date — 1 февраля 2018
          a(href='#').news-item__info--name Morfeus: Колекція FluxAir Design Pininfarina

      .item.news-item
        a(href='#').news-item__img(style='background-image: url("./img/news-item-2.jpg")')
        .news-item__info
          .news-item__info--top
            a(href='#').exposition коллекция
            .date — 26 января 2018
          a(href='#').news-item__info--name Signorini-Coco & C: Daytona Collection
    .news-items__list
      .news-article
        a(href='#').news-article--img(style='background-image: url("./img/chandeliers-bg.jpg")')
        .news-article--description
          .news-item__info--top
            a(href='#').exposition выставка
            .date — 16 марта 2018
          a(href='#').news-item__info--name Киевский международный мебельный форум (KIFF)
      .news-article
        a(href='#').news-article--img(style='background-image: url("./img/94844_120.jpg")')
        .news-article--description
          .news-item__info--top
            a(href='#').exposition выставка
            .date — 16 марта 2018
          a(href='#').news-item__info--name Киевский международный мебельный форум (KIFF)
      .news-article
        a(href='#').news-article--img(style='background-image: url("./img/94844_1203.jpg")')
        .news-article--description
          .news-item__info--top
            a(href='#').exposition выставка
            .date — 16 марта 2018
          a(href='#').news-item__info--name Киевский международный мебельный форум (KIFF)
      .catalog-pagination
        include ../components/pagination