.news-items
  .content
    .grid-produstion--header
      include ../components/breadcrumbs
      h2.grid-produstion--title Акционные предложения
    .news-items__list.offers-list
      .news-article
        a(href='#').news-article--img(style='background-image: url("./img/chandeliers-bg.jpg")')
        .news-article--description
          img(src='./img/svg/offers-ico.svg')
          a(href='#').news-item__info--name Киевский международный мебельный форум (KIFF)
          .news-item__info--top
            .date от 16 марта 2018 до 28 августа 2019
      .news-article
        a(href='#').news-article--img(style='background-image: url("./img/94844_120.jpg")')
        .news-article--description
          img(src='./img/svg/offers-ico.svg')
          a(href='#').news-item__info--name Киевский международный мебельный форум (KIFF)
            .news-item__info--top
              .date от 16 марта 2018 до 28 августа 2019
      .news-article
        a(href='#').news-article--img(style='background-image: url("./img/94844_1203.jpg")')
        .news-article--description
          img(src='./img/svg/offers-ico.svg')
          a(href='#').news-item__info--name Киевский международный мебельный форум (KIFF)
            .news-item__info--top
              .date от 16 марта 2018 до 28 августа 2019
      .catalog-pagination
        include ../components/pagination