.personal-upcoming-events.next-lectures
  .container
    h3.personal-upcoming-events__title Следующая лекция
    .row
      .col-md-7
        .main-slider__items
          .main-slider__info
            h2 Слоненок с мячиком. Мягкая игрушка связана спицами
            .countdown(data-countdown='2019-09-21')
            .personal-upcoming-events__lecture-participants
              span.signed-up
                +sprite('icon', 'icon-user')
                | 120 записались
              span
                +sprite('icon', 'icon-user-confirmed')
                | 120 подтвердили
            .main-slider__link-item
              a(href='#').main-slider__link Перейти
      .col-md-5
        .main-slider__img
          img(src='./img/slider-image.jpg' alt='').img-fluid
