.profile-user-edit
  .container
    h2.profile-user-edit__title Личный кабинет
      span(data-toggle='tooltip', data-placement='bottom', title='Tooltip on bottom') ?
    .row
      .col-lg-3.col-md-6
        .choose-tariff__items
          .choose-tariff__item
            .choose-tariff__item--count-user 15
              span новых мероприятий
            a(href='#').border-link.my-schedule Мое расписание
      .col-lg-3.col-md-6
        .choose-tariff__items
          .choose-tariff__item
            .choose-tariff__item--count-user 75
              span мероприятий в архива
            a(href='#').border-link Мой архив
      .col-lg-3.col-md-6
        .choose-tariff__items
          .choose-tariff__item
            .choose-tariff__item--count-user 475
              span всего проведено
            a(href='#').border-link Моя история
      .col-lg-3.col-md-6
        .choose-tariff__items
          .choose-tariff__item
            .users-badge 5 новых
            .choose-tariff__item--count-user 1475
              span приглашений
            a(href='#').border-link Смотреть