.personal-upcoming-events.coming-events-soon
  .container
    h3.personal-upcoming-events__title Ближайшие события
      span(data-toggle='tooltip', data-placement='bottom', title='Tooltip on bottom') ?
    .row
      .col-md-12.col-lg-6
        .row
          .col-md-6
            .coming-events-soon__img-info
              a(href='#')
                img(src='./img/event-1.jpg').img-fluid
              .time-to-start.today Осталось 15 минут
              .dropdown.edit-dtopdown
                a#tariff-menu.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  +sprite('icon', 'icon-menu-trening')
                .dropdown-menu.dropdown-menu-right(aria-labelledby='tariff-menu')
                  a.dropdown-item(href='#')
                    +sprite('icon icon-edit', 'icon-edit')
                    |Редактировать
                  a.dropdown-item(href='#')
                    +sprite('icon icon-copy', 'icon-copy')
                    |Копировать
                  a.dropdown-item(href='#')
                    +sprite('icon icon-delete', 'icon-delete')
                    |Удалить
          .col-md-6
            .coming-events-soon__info
              a(href='#').coming-events-soon__info--title Слоненок с мячиком. Мягкая игрушка связана спицами
              .personal-upcoming-events__lecture-participants
                span.signed-up
                  +sprite('icon', 'icon-user')
                  | 120 записались
                span
                  +sprite('icon', 'icon-user-confirmed')
                  | 120 подтвердили
              .row
                .col-md-2
                  a(href='#').default-blue Перейти
      .col-md-12.col-lg-6
        .row
          .col-md-6
            .coming-events-soon__img-info
              a(href='#')
                img(src='./img/event-1.jpg').img-fluid
              .time-to-start 31 ноября 2019, 15:00
              .dropdown.edit-dtopdown
                a#tariff-menu.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  +sprite('icon', 'icon-menu-trening')
                .dropdown-menu.dropdown-menu-right(aria-labelledby='tariff-menu')
                  a.dropdown-item(href='#')
                    +sprite('icon icon-edit', 'icon-edit')
                    |Редактировать
                  a.dropdown-item(href='#')
                    +sprite('icon icon-copy', 'icon-copy')
                    |Копировать
                  a.dropdown-item(href='#')
                    +sprite('icon icon-delete', 'icon-delete')
                    |Удалить
          .col-md-6
            .coming-events-soon__info
              a(href='#').coming-events-soon__info--title Слоненок с мячиком. Мягкая игрушка связана спицами
              .personal-upcoming-events__lecture-participants
                span.signed-up
                  +sprite('icon', 'icon-user')
                  | 120 записались
                span
                  +sprite('icon', 'icon-user-confirmed')
                  | 120 подтвердили
              .row
                .col-md-2
                  a(href='#').default-blue Перейти
      .col-md-12.col-lg-6
        .row
          .col-md-6
            .coming-events-soon__img-info
              a(href='#')
                img(src='./img/event-1.jpg').img-fluid
              .time-to-start 31 ноября 2019, 15:00
              .dropdown.edit-dtopdown
                a#tariff-menu.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  +sprite('icon', 'icon-menu-trening')
                .dropdown-menu.dropdown-menu-right(aria-labelledby='tariff-menu')
                  a.dropdown-item(href='#')
                    +sprite('icon icon-edit', 'icon-edit')
                    |Редактировать
                  a.dropdown-item(href='#')
                    +sprite('icon icon-copy', 'icon-copy')
                    |Копировать
                  a.dropdown-item(href='#')
                    +sprite('icon icon-delete', 'icon-delete')
                    |Удалить
          .col-md-6
            .coming-events-soon__info
              a(href='#').coming-events-soon__info--title Слоненок с мячиком. Мягкая игрушка связана спицами
              .personal-upcoming-events__lecture-participants
                span.signed-up
                  +sprite('icon', 'icon-user')
                  | 120 записались
                span
                  +sprite('icon', 'icon-user-confirmed')
                  | 120 подтвердили
              .row
                .col-md-2
                  a(href='#').default-blue Перейти
      .col-md-12.col-lg-6
        .row
          .col-md-6
            .coming-events-soon__img-info
              a(href='#')
                img(src='./img/event-1.jpg').img-fluid
              .time-to-start 31 ноября 2019, 15:00
              .dropdown.edit-dtopdown
                a#tariff-menu.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  +sprite('icon', 'icon-menu-trening')
                .dropdown-menu.dropdown-menu-right(aria-labelledby='tariff-menu')
                  a.dropdown-item(href='#')
                    +sprite('icon icon-edit', 'icon-edit')
                    |Редактировать
                  a.dropdown-item(href='#')
                    +sprite('icon icon-copy', 'icon-copy')
                    |Копировать
                  a.dropdown-item(href='#')
                    +sprite('icon icon-delete', 'icon-delete')
                    |Удалить
          .col-md-6
            .coming-events-soon__info
              a(href='#').coming-events-soon__info--title Слоненок с мячиком. Мягкая игрушка связана спицами
              .personal-upcoming-events__lecture-participants
                span.signed-up
                  +sprite('icon', 'icon-user')
                  | 120 записались
                span
                  +sprite('icon', 'icon-user-confirmed')
                  | 120 подтвердили
              .row
                .col-md-2
                  a(href='#').default-blue Перейти
    .row
      .col-md-4
        a(href='#').coming-events-soon__schedule-btn Все расписание