.personal-tariff-info
  .container
    .row
      .col-lg-9.col-md-7.mb-4.mb-md-0
        .your-tariff
          .your-tariff__top
            .your-tariff__title Ваш тариф
            .dropdown.your-tariff__dropdown
              a#tariff-menu.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                | Универсал
              .dropdown-menu(aria-labelledby='tariff-menu')
                a.dropdown-item(href='#') Универсал
                a.dropdown-item(href='#') Универсал
                a.dropdown-item(href='#') Универсал
          .your-tariff__info
            .your-tariff__info--full-info
              .icon
              span слушателей
            .your-tariff__info--full-info Стоимость 400 $/месяц
            .your-tariff__info--full-info Будет списано 4,44 $/сутки
          .your-tariff__bottom
            a(href='#').default-blue.save-tariff--link Сохранить тариф
            span Перед началом конференции выберите подходящий тарифный план
      .col-lg-3.col-md-5
        a(href='add-webinar.html').add-event
          .add-event--ico-item
            +sprite('add-event--ico', 'icon-add')
          .add-event__title Добавить мероприятие