.popular-items
  .content
    h2.popular-items--title Популярные товары
    .product.slider.product-slider
      +product
      +product
      +product
      +product
      +product
      +product
      +product
      +product