.product-items
  .content
    include ../components/breadcrumbs
    .product-item
      include ../components/product-slider
      include ../components/product-characteristic
    .promotional-offers.popular-collections
      .content
        h2.popular-items--title Коллекция
        .product.promotional-offers-slide.slider
          +product
          +product
          +product
          +product

    .promotional-offers.popular-collections
      .content
        h2.popular-items--title С этим покупают
        .product.promotional-offers-slide.slider
          +product
          +product
          +product
          +product
    .promotional-offers.popular-collections
      .content
        h2.popular-items--title.previously-watched Ранее смотрели
        .product.promotional-offers-slide.slider
          +product
          +product
          +product
          +product

    include ../components/reviews