.profile-user-info
  .container
    nav.navbar.navbar-expand-lg
      .profile-user-info__top
        .user-info
          .user-info__avatar
            img(src='./img/avatar.jpg' alt='')
            a(href='#').user-info__settings-link
              +sprite('icon', 'icon-edit')
          .user-info__info
            a(href='#').user-info__name Василий Фамимлмялектора
            .user-info__tarif.d-lg-flex.flex-row.d-none
              .user-info__tarif--info Тариф 30 слушателей
                span (осталось 30 дней)
              a(href='#').user-info__tarif--change.default-blue Изменить тариф
        .user-info__notifications
          a(href='#').user-info__notifications-link
            +sprite('icon', 'icon-settigs')
          a(href='#').user-info__notifications-link
            +sprite('icon', 'icon-alarm')
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#profile-menu')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      #profile-menu.collapse.navbar-collapse.w-100
        ul.navbar-nav
          li.nav-item.active
            a.nav-link(href='#') Личный кабинет
          li.nav-item
            a.nav-link(href='#') Расписание
          li.nav-item
            a.nav-link(href='#') Пригласить на лекцию
          li.nav-item
            a.nav-link(href='#') Финансы
          li.nav-item
            a.nav-link(href='#') Рефералы
          li.nav-item
            a.nav-link(href='#') Мой архив