.promotional-offers
  .content
    h2.popular-items--title Акционные предложения
    .product.promotional-offers-slide.slider
      +one-product
      +one-product
      +one-product
      +one-product
      +one-product
      +one-product
      +one-product
      +one-product
    .product-link__item
      a(href='grid.html').product-link Все товары со скидкой