.registration-left
  a(href='index.html').registration-logo
    img(src='./img/svg/lektor_logo2.svg' alt='')
  .site-features__list-item
    h4 Lektor.org.ua, с большой вероятностью, будет полезен:
    ul
      li учителям и репетиторам
      li юристам
      li экономистам
      li бизнес-тренерам
      li крупным компаниям с их территориально разнесенными офисами
      li компаниям и людям, занимающимися продажами
      li и т.д.