.registration-form
  h2.registration-form__title Регистрация новой учетной записи
  form(action='#')
    .registration-form-row
      .registration-form--col
        .registration-form__group
          .placeholder Фамилия
            span *
          input.registration-form-control(type='text')
        .registration-form__group
          .placeholder Имя
            span *
          input.registration-form-control(type='text')
        .registration-form__group
          input.registration-form-control(type='text' placeholder='Отчество')
      .registration-form--col
        .registration-form__group.registration-form__ico
          .input-group-prepend
            .input-group-text
              +sprite('icon', 'icon-user')
          .placeholder Введите e-mail
            span *
          input.registration-form-control(type='text')
        .registration-form__group.registration-form__ico
          .input-group-prepend
            .input-group-text
              +sprite('icon', 'icon-password')
          .placeholder Введите пароль
            span *
          input.registration-form-control(type='text')
        .registration-form__group.registration-form__ico
          .input-group-prepend
            .input-group-text
              +sprite('icon', 'icon-password')
          .placeholder Подтвердите пароль
            span *
          input.registration-form-control(type='text')
    .registration-form-row
      .registration-form--col
        .registration-form__group
          .placeholder Должность - преподаватель, репетитор, бизнес-тренер...
            span *
          input.registration-form-control(type='text')
    .registration-form-row
      .registration-form--col
        .registration-form__group
          .placeholder О себе
            span *
          textarea.registration-form-control(rows='5')
    .registration-form-row
      .registration-form--col
        .g-recaptcha(data-sitekey='6LejRq8UAAAAANl1a-LA38-zgxZJBSxdQ5UAxgNL')
    .registration-form-row
      .registration-form--col
        label.registration-form__checkbox
          input(type='checkbox')
          span Я согласен с
            a(href='#') пользовательским соглашением
              span *
    .registration-form-row
      .registration-form--col
        .registration-form__link
          button(type='submit').registration-form__link-registration Зарегистрироваться
          .registration-form__link-login У вас уже есть аккаунт?
            a(href='#' data-toggle="modal" data-target="#login") Войти
        .registration-form__copyright &copy; 2013 All rights reserved.