.registration-form
  h2.registration-form__title Регистрация новой учетной записи
  form(action='#')
    .registration-form-row
      .registration-form--col
        .registration-form__group
          .placeholder Фамилия
            span *
          input.registration-form-control(type='text')
        .registration-form__group
          .placeholder Имя
            span *
          input.registration-form-control(type='text')
        .registration-form__group
          input.registration-form-control(type='text' placeholder='Отчество')
      .registration-form--col
        .registration-form__group
          .input-group-prepend
            .input-group-text
              +sprite('icon', 'icon-user')
          .placeholder Введите e-mail
            span *
          input.registration-form-control(type='text')
        .registration-form__group
          .input-group-prepend
            .input-group-text
              +sprite('icon', 'icon-password')
          .placeholder Введите пароль
            span *
          input.registration-form-control(type='text')
        .registration-form__group
          .input-group-prepend
            .input-group-text
              +sprite('icon', 'icon-password')
          .placeholder Введите пароль
            span *
          input.registration-form-control(type='text')
    .registration-form-row
      .registration-form--col
        .registration-form__group
          .placeholder Должность - преподаватель, репетитор, бизнес-тренер...
            span *
          input.registration-form-control(type='text')
    .registration-form-row
      .registration-form--col
        .registration-form__group
          textarea
          .placeholder О себе
            span *
    .registration-form-row
      .registration-form--col
        .g-recaptcha(data-sitekey='6LejRq8UAAAAANl1a-LA38-zgxZJBSxdQ5UAxgNL')
    .registration-form-row
      .registration-form--col
        label.ans-label.ng-binding
          input#asdActive.checkbox.square(type='checkbox')
          span Я согласен с
            a(href='#') пользовательским соглашением
              span *
