.result-order
  .content
    .result-order-item
      .result-order--title Спасибо за ваш заказ №1234
      p Данные о вашем заказе мы отправили вам на почту.
        |Наш менеджер в скором времени свяжется с вами для уточнения данных и подтверждения наличия товара.
      a(href='/').product-link Вернуться на главную