.room-sidebar
	.room-sidebar__lektor-info
		+lector-info
	.room-sidebar__video-item
		.show-lector
			img(src='./img/avatar.jpg' alt='')
		.show-video
		+sprite('icon', 'user')
	.room-sidebar__panel.room-sidebar__panel-user
		.tab-content
			#chat.tab-pane.active(role='tabpanel' aria-labelledby='chat-tab')
				.chat
					.top
						.title Чат
					.chat-body.mCustomScrollbar
						+chat('Неообходи мо ли переделать фирменный стиль и цвета нового сайта?')
						+chat('Неообходи мо ли переделать фирменный стиль и цвета ?')
						+chat('Неообходи мо ли переделать ?')
						+chat('Неообходи мо ли переделать фирменный стиль и цвета нового сайта?')
						+chat('Неообходи мо ли переделать фирменный стиль и цвета нового сайта?')
						+chat('Неообходи мо ли переделать фирменный стиль и цвета ?')
						+chat('Неообходи мо ли переделать ?')
						+chat('Неообходи мо ли переделать фирменный стиль и цвета нового сайта?')
						+chat('Неообходи мо ли переделать фирменный стиль и цвета нового сайта?')
						+chat('Неообходи мо ли переделать фирменный стиль и цвета ?')
						+chat('Неообходи мо ли переделать ?')
						+chat('Неообходи мо ли переделать фирменный стиль и цвета нового сайта?')
						+chat('Неообходи мо ли переделать фирменный стиль и цвета нового сайта?')
						+chat('Неообходи мо ли переделать фирменный стиль и цвета ?')
						+chat('Неообходи мо ли переделать ?')
						+chat('Неообходи мо ли переделать фирменный стиль и цвета нового сайта?')
						+chat('Неообходи мо ли переделать фирменный стиль и цвета нового сайта?')
						+chat('Неообходи мо ли переделать фирменный стиль и цвета ?')
						+chat('Неообходи мо ли переделать ?')
						+chat('Неообходи мо ли переделать фирменный стиль и цвета нового сайта?')
						+chat('Неообходи мо ли переделать =====?')
					.chat-footer
						form(action='').chat-footer--add-message
							textarea(placeholder='Введите сообщение')
							button(type='submit').chat-send-btn
								+sprite('icon', 'arrow-select')