.room-navbar
  .room-navbar__title
    a(href='#')
      +sprite('icon-arrow', 'arrow-select')
    | Слоненок с мячиком. Мягкая игрушка связана спицами
  .room-navbar__start-lection.ml-auto
    .timer 00 : 00 : 00
    .room-navbar__start-lection--users
      +sprite('icon', 'icon-user-confirmed')
      span 120
        span.online онлайн
    a(href='#').default-green.room-navbar__start-lection--start Начать