.room-menu
	a(href='/').room-menu__link
		img(src='./img/svg/white-logo.svg')
	ul.room-menu__list.nav.nav-tabs(role='tablist')
		li
			a#description-tab(href='#description' data-toggle="tab" role='tab' aria-controls='description' aria-selected='true' title='description')
				+sprite('icon', 'img-icon')
		li
			a#video-tab(href='#video' data-toggle="tab" role='tab' aria-controls='video' aria-selected='false' title='video')
				+sprite('icon', 'icon-video')
		li
			a#documents-tab(href='#documents' data-toggle="tab" role='tab' aria-controls='documents' aria-selected='false' title='documents')
				+sprite('icon', 'icon-doc')
		li
			a#presentation-tab(href='#presentation' data-toggle="tab" role='tab' aria-controls='presentation' aria-selected='false' title='presentation')
				+sprite('icon', 'icon-presentation')
		li
			a(href='#' title='download all').download-all
				+sprite('icon', 'icon-access-documents2')