.room-description
  .tarif-notification
    span !
    | Внимание! Вы используете тариф “Тестовый”
    a(href='tariff.html') Изменить тариф

  .presentation-item
    .presentation-img-wrap
      img.presentation-background-img(src='https://images.unsplash.com/photo-1569202809807-32b9de0979fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1363&q=80')
      .presentation-img--btn Скрыть файл
    .presentation-list
      .tab-content
        #clear.tab-pane.description.clear-tab.active(role='tabpanel' aria-labelledby='clear-tab')
          .banner-slider__items
            .banner-slider__item
              .row.w-100.banner-slider__item--info
                .col-md-3
                  a(href='#').banner-slider__item--info__link
                    img(src='./img/slider-image.jpg' alt='').img-fluid
                .col-md-9
                  a(href='#').banner-slider__item--info__title Слоненок с мячиком. Мягкая игрушка связана спицами
                  +lector-info
          .room-description__text
            .conference-title.detail-info Подробнее о конференции
            .room-description__text-item
              p Онлайн-семинар (веб-конференция, вебинар, англ. webinar) — разновидность веб-конференции, проведение онлайн-встреч или презентаций через Интернет в режиме реального времени. Вебинар - это модно, современно, доступно, просто, удобно. Вебинар, или онлайн-семинар, - набирающий популярность вид обучения в реальном времени с использованием Интернет-технологий.
                br
                br
                | Данная технология позволяет за считанные секунды организовать встречу людей из разных уголков земного шара, в любое удобное время, не имея привязки к транспорту, что существенно экономит средства.
              .conference-title Скрыть подробности
        #description.description-tab.tab-pane(role='tabpanel' aria-labelledby='description-tab')
          h2.presentation-list--title Фото
          .presentation-close
          .presentation-list--item-wrap.mCustomScrollbar
            .presentation-list--item(style='background-image: url("https://images.unsplash.com/photo-1569202809807-32b9de0979fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1363&q=80")' data-image='https://images.unsplash.com/photo-1569202809807-32b9de0979fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1363&q=80')
              .presentation-list--btn.lektor-show.hide-btn Скрыть
            .presentation-list--item(style='background-image: url("https://images.unsplash.com/photo-1511688878353-3a2f5be94cd7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60")' data-image='https://images.unsplash.com/photo-1511688878353-3a2f5be94cd7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60')
              .presentation-list--btn.lektor-show Показать
            .presentation-list--item(style='background-image: url("https://images.unsplash.com/photo-1528027575047-56782a87e021?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60")' data-image='https://images.unsplash.com/photo-1528027575047-56782a87e021?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60')
              .presentation-list--btn.lektor-show Показать
            .presentation-list--item(style='background-image: url("https://images.unsplash.com/photo-1459478309853-2c33a60058e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60")' data-image='https://images.unsplash.com/photo-1459478309853-2c33a60058e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60')
              .presentation-list--btn.lektor-show Показать
            .presentation-list--item(style='background-image: url("https://images.unsplash.com/9/sander-zelhem-green-passage.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1370&q=80")' data-image='https://images.unsplash.com/9/sander-zelhem-green-passage.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1370&q=80')
              .presentation-list--btn.lektor-show Показать
            .presentation-list--item(style='background-image: url("https://images.unsplash.com/photo-1465125955720-142b5f936d95?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80")' data-image='https://images.unsplash.com/photo-1465125955720-142b5f936d95?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80')
              .presentation-list--btn.lektor-show Показать
            .presentation-list--item(style='background-image: url("https://images.unsplash.com/photo-1478733672327-ce27bc999503?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60")' data-image='https://images.unsplash.com/photo-1478733672327-ce27bc999503?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60')
              .presentation-list--btn.lektor-show Показать
            .presentation-list--item(style='background-image: url("https://images.unsplash.com/photo-1485841938031-1bf81239b815?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60")' data-image='https://images.unsplash.com/photo-1485841938031-1bf81239b815?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60')
              .presentation-list--btn.lektor-show Показать
            .presentation-list--item(style='background-image: url("https://images.unsplash.com/photo-1525923838299-2312b60f6d69?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1482&q=80")' data-image='https://images.unsplash.com/photo-1525923838299-2312b60f6d69?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1482&q=80')
              .presentation-list--btn.lektor-show Показать
            .presentation-list--item(style='background-image: url("https://images.unsplash.com/photo-1453959022778-cfda85dbe0f9?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80")' data-image='https://images.unsplash.com/photo-1453959022778-cfda85dbe0f9?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80')
              .presentation-list--btn.lektor-show Показать
            .presentation-list--item(style='background-image: url("https://images.unsplash.com/photo-1445586831130-7f00f5eac0f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80")' data-image='https://images.unsplash.com/photo-1445586831130-7f00f5eac0f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')
              .presentation-list--btn.lektor-show Показать
        #video.video.tab-pane.video-tab(role='tabpanel' aria-labelledby='video-tab')
          h2.presentation-list--title Видео
          .presentation-close
          .presentation-list--item-wrap.mCustomScrollbar
            .presentation-list--item(style='background-image: url("https://images.unsplash.com/photo-1569202809807-32b9de0979fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1363&q=80")' data-image='https://images.unsplash.com/photo-1569202809807-32b9de0979fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1363&q=80')
              .presentation-list--btn.lektor-show Показать
            .presentation-list--item(style='background-image: url("https://images.unsplash.com/photo-1511688878353-3a2f5be94cd7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60")' data-image='https://images.unsplash.com/photo-1511688878353-3a2f5be94cd7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60')
              .presentation-list--btn.lektor-show Показать
            .presentation-list--item(style='background-image: url("https://images.unsplash.com/photo-1528027575047-56782a87e021?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60")' data-image='https://images.unsplash.com/photo-1528027575047-56782a87e021?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60')
              .presentation-list--btn.lektor-show Показать
            .presentation-list--item(style='background-image: url("https://images.unsplash.com/photo-1459478309853-2c33a60058e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60")' data-image='https://images.unsplash.com/photo-1459478309853-2c33a60058e7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60')
              .presentation-list--btn.lektor-show Показать
            .presentation-list--item(style='background-image: url("https://images.unsplash.com/9/sander-zelhem-green-passage.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1370&q=80")' data-image='https://images.unsplash.com/9/sander-zelhem-green-passage.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1370&q=80')
              .presentation-list--btn.lektor-show Показать
            .presentation-list--item(style='background-image: url("https://images.unsplash.com/photo-1465125955720-142b5f936d95?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80")' data-image='https://images.unsplash.com/photo-1465125955720-142b5f936d95?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80')
              .presentation-list--btn.lektor-show Показать
            .presentation-list--item(style='background-image: url("https://images.unsplash.com/photo-1478733672327-ce27bc999503?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60")' data-image='https://images.unsplash.com/photo-1478733672327-ce27bc999503?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60')
              .presentation-list--btn.lektor-show Показать
            .presentation-list--item(style='background-image: url("https://images.unsplash.com/photo-1485841938031-1bf81239b815?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60")' data-image='https://images.unsplash.com/photo-1485841938031-1bf81239b815?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60')
              .presentation-list--btn.lektor-show Показать
            .presentation-list--item(style='background-image: url("https://images.unsplash.com/photo-1525923838299-2312b60f6d69?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1482&q=80")' data-image='https://images.unsplash.com/photo-1525923838299-2312b60f6d69?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1482&q=80')
              .presentation-list--btn.lektor-show Показать
            .presentation-list--item(style='background-image: url("https://images.unsplash.com/photo-1453959022778-cfda85dbe0f9?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80")' data-image='https://images.unsplash.com/photo-1453959022778-cfda85dbe0f9?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80')
              .presentation-list--btn.lektor-show Показать
            .presentation-list--item(style='background-image: url("https://images.unsplash.com/photo-1445586831130-7f00f5eac0f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80")' data-image='https://images.unsplash.com/photo-1445586831130-7f00f5eac0f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')
              .presentation-list--btn.lektor-show Показать
        #documents.documents.tab-pane.documents-tab(role='tabpanel' aria-labelledby='documents-tab')
          h2.presentation-list--title Документы
          .presentation-close
          .presentation-list--item-wrap.document-list--item-wrap.mCustomScrollbar
            .document-list--item
              +sprite('icon', 'icon-doc')
              .document-list--item__name 477179_353811051326479_413395789_o.doc
              .document-list--item__btn.hide-btn Скрыть
            .document-list--item
              +sprite('icon', 'icon-doc')
              .document-list--item__name 477179_353811051326479_413395789_o.doc
              .document-list--item__btn Показать
            .document-list--item
              +sprite('icon', 'icon-doc')
              .document-list--item__name 477179_353811051326479_413395789_o.doc
              .document-list--item__btn Показать
            .document-list--item
              +sprite('icon', 'icon-doc')
              .document-list--item__name 477179_353811051326479_413395789_o.doc
              .document-list--item__btn Показать
            .document-list--item
              +sprite('icon', 'icon-doc')
              .document-list--item__name 477179_353811051326479_413395789_o.doc
              .document-list--item__btn Показать
            .document-list--item
              +sprite('icon', 'icon-doc')
              .document-list--item__name 477179_353811051326479_413395789_o.doc
              .document-list--item__btn Показать
        #presentation.presentation.tab-pane.presentation-tab(role='tabpanel' aria-labelledby='presentation-tab')
          h2.presentation-list--title Презентации
          .presentation-close
          .presentation-list--item-wrap.document-list--item-wrap.mCustomScrollbar
            .document-list--item
              +sprite('icon', 'icon-doc')
              .document-list--item__name 477179_353811051326479_413395789_o.doc
              .document-list--item__btn.hide-btn Скрыть
            .document-list--item
              +sprite('icon', 'icon-doc')
              .document-list--item__name 477179_353811051326479_413395789_o.doc
              .document-list--item__btn Показать
            .document-list--item
              +sprite('icon', 'icon-doc')
              .document-list--item__name 477179_353811051326479_413395789_o.doc
              .document-list--item__btn Показать
            .document-list--item
              +sprite('icon', 'icon-doc')
              .document-list--item__name 477179_353811051326479_413395789_o.doc
              .document-list--item__btn Показать
            .document-list--item
              +sprite('icon', 'icon-doc')
              .document-list--item__name 477179_353811051326479_413395789_o.doc
              .document-list--item__btn Показать
            .document-list--item
              +sprite('icon', 'icon-doc')
              .document-list--item__name 477179_353811051326479_413395789_o.doc
              .document-list--item__btn Показать
        #paint.paint.tab-pane.paint-tab(role='tabpanel' aria-labelledby='paint-tab')
          p 4564646456656456
        #camera.camera.tab-pane.camera-tab(role='tabpanel' aria-labelledby='camera-tab')
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur dolorum et fugit iure libero minus modi, mollitia nesciunt tempore? Adipisci cumque, debitis distinctio facilis ipsum laborum nostrum quas saepe.