.about-us
  .container
    h2.profile-user-edit__title Правила использования ресурса дистанционного обучения
    p Ресурс
      a(href='#') Lektor.org.ua
      | создан для проведения в любое удобное время различного вида
      a(href='#') онлайн-семинаров, конференций, вебинаров
      |и других мероприятий.
    p Каждый зарегистрированный пользователь ресурса Lektor.org.ua соглашается с ниже перечисленными условиями и правилами.
    p Администрация ресурса Lektor.Org.UA не несет ответственности за содержание материала (текстового или графического характера, сообщений), транслируемого в кабинете Тренера, и других материалов, владельцем которых является Тренер, их возможное несоответствие действующему законодательству; за достоверность размещаемых пользователями материалов, качество информации и изображений.
    p Все материалы, размещенные на нашем Ресурсе, отражают только мнение их авторов и могут не разделять мнение администрации Ресурса.
    p Информация, выложенная на
      a(href='#') Форуме
      | Ресурса, является постмодерируемой. Она проходит проверку модераторами форума после ее опубликования.
    p Модераторы форума имеют право изменять, редактировать, удалять сообщения (переносить сообщения) или закрыть тему по своему усмотрению,
    p За нарушения правил администраторы или модераторы могут вынести предупреждение, удалить сообщения, отключить возможность писать сообщения или заблокировать доступ как к Ресурсу, так и к Форуму. Так же заблокировать все накопленные средства.
    h4 При использовании сервиса Lektor.org.ua запрещается:
    ol
      li Призывать к нарушению действующего законодательства.
      li Использовать нецензурные выражения, оскорбления, угрозы по отношению к другим участникам.
      li Разжигать расовую, национальную, религиозную нетерпимость и другие проявления ксенофобии.
      li Использовать
        a(href='#') ники
        | и
        a(href='#') аватары
        |, нарушающие общепринятые моральные и этические нормы, а также оскорбляющие чувства других участников форума.
      li Использовать ники, претендующие на исполнение специальных функций (модераторов, администраторов Ресурса, представителей органов власти, официальных лиц государственных структур и т.п.), вводящих в заблуждение гостей и пользователей Ресурса.
      li Пропагандировать употребление наркотических средств.
      li Размещать ссылки на ресурсы, содержащие порнографию, нелицензионное программное обеспечение (варез, кряки и т.п.), или ресурсы, нарушающие действующее законодательство.
      li Размещать материалы рекламного характера, а также ссылки на подобные материалы.
      li Публиковать ссылки на другие сайты, если это не является способом подтверждением мнения, высказанного автором сообщения, или для повышения информативности сообщения. Публикация ссылок на другие сайты для рекламы и саморекламы запрещена.
      li Создавать темы, дублирующие ранее созданные по данной тематике и незакрытые. Если Вы впервые используете наш раздел Форум, прочтите предыдущие сообщения, чтобы избежать подобного дублирования.
      li Размещать сообщения, содержащие клевету и заведомо ложную информацию.
      li Публично обсуждать действия администрации портала и модераторов. Все претензии направлять путем личных сообщений или на ящик электронной почты.
      li Регистрировать и использовать нескольких аккаунтов. В случае выявления подобных действий, администрация оставляет за собой право удаления всех аккаунтов одного пользователя без предупреждения.
      li Размещать на Форуме бессмысленные сообщения (флуд).
      li Писать название темы и текст сообщения заглавными буквами.
    p P.S. – Администрация Ресурса оставляет за собой право внесения изменений в Правила.