.search
  .content
    .search-result
      h2.search--title Поиск
      form(action='#')
        .search-result--group
          input(type='text' value='Восточная люстра').login-form--control
          button(type='submit').search-result--btn поиск
      .search-results-for Результаты поиска для
        span “Восточная люстра”
    .search-body
      +product
      +product
      +product