.settings
  .content
    .settings-items
      form(action='#')
        h4 Детали учетной записи
        .settings-item
          input(type='text' placeholder='Имя').settings-item--control
          input(type='text' placeholder='Фамилия').settings-item--control
          input(type='email' placeholder='Email').settings-item--control
        h4 Смена пароля
        .settings-item
          input(type='password' placeholder='Действующий пароль').settings-item--control
          input(type='password' placeholder='Новый пароль').settings-item--control
          input(type='password' placeholder='Подтвердите новый пароль').settings-item--control
        button(type='submit').settings-item--btn Сохранить изменения