.sign
  .sign-out
  section.tabs
    ul.tabs__header
      li.tabs__header--title.active(data-tab='#login') Вход
      li.tabs__header--title(data-tab='#registration') Регистрация
    #login.tabs__content.active
      .form-item
        .login-form
          form(action='#')
            .login-form--title Авторизируйтесь
            .login-form--group
              //label Имейл
              input(type='email' placeholder='Email').login-form--control
            .login-form--group
              //label Пароль
              input(type='password' placeholder='Password').login-form--control
              .login-form--restore-pass Восстановить пароль
            .login-form--btns
              button(type='submit').login-form--sign вход
              .login-form--registration(data-tab='#registration') Регистрация
        .login-text или
        .login-with
          .login-with--title Войти с помощью:
          img(src='./img/login-bg.png' alt='')
      .recovery-password
        .login-form--title Восстановление пароля
        p Введите имейл для восстановления пароля
        form(action='#')
          .login-form--group
            input(type='email' placeholder='Email').login-form--control
            .login-form--remembered-pass Я вспомнил пароль
          .login-form--btns
            button(type='submit').login-form--sign отправить
      .instructions(style='display: none;')
        .login-form--btns
          .instructions--title Инструкции высланы
          p Проверьте вашу почту с инструкциями по смене пароля
          .no-email Не получили электронное сообщение?
          p Проверьте, нет ли письма в папке, предназначенной для спама и рекламных сообщений (Spam/Junk).
          .login-form--restore-pass Отправить повторно
          button(type='submit').login-form--sign отправить


    #registration.tabs__content
      .form-item
        .login-form
          form(action='#')
            .login-form--title Зарегистрируйтесь:
            .login-form--group
              //label Имейл
              input(type='email' placeholder='Email').login-form--control
            .login-form--group
              //label Пароль
              input(type='password' placeholder='Password').login-form--control
            .login-form--btns
              button(type='submit').login-form--sign регистрация
        .login-text или
        .login-with
          .login-with--title Регистрация через:
          img(src='./img/login-bg.png' alt='')
