.site-features
  .container
    h2.site-features__title Возможности сайта
    .row
      .col-md-4
        .site-features__list-item
          h4 Lektor.org.ua, с большой вероятностью, будет полезен:
          ul
            li учителям и репетиторам
            li юристам
            li экономистам
            li бизнес-тренерам
            li крупным компаниям с их территориально разнесенными офисами
            li компаниям и людям, занимающимися продажами
            li и т.д.
      .col-md-8
        .row
          .col-md-4
            .site-features__item
              img(src='./img/svg/img-adv1.svg').site-features__item-ico
              .site-features__item-name Режим онлайн-преподавателя
              a(href='#').site-features__item-link Подробнее
          .col-md-4
            .site-features__item
              img(src='./img/svg/img-adv2.svg').site-features__item-ico
              .site-features__item-name Трансляция документов и презентаций
              a(href='#').site-features__item-link Подробнее
          .col-md-4
            .site-features__item
              img(src='./img/svg/img-adv3.svg').site-features__item-ico
              .site-features__item-name Онлайн-чат в кабинете преподавателя
              a(href='#').site-features__item-link Подробнее
          .col-md-4
            .site-features__item
              img(src='./img/svg/img-adv4.svg').site-features__item-ico
              .site-features__item-name Создание Архива занятий
              a(href='#').site-features__item-link Подробнее
          .col-md-4
            .site-features__item
              img(src='./img/svg/img-adv5.svg').site-features__item-ico
              .site-features__item-name Открытые и закрытые онлайн-семинары
              a(href='#').site-features__item-link Подробнее
          .col-md-4
            .site-features__item
              img(src='./img/svg/img-adv6.svg').site-features__item-ico
              .site-features__item-name Ограничение доступа к материалам Архива
              a(href='#').site-features__item-link Подробнее
    .row
      .col-md-12
        p Lektor.org.ua - молодой и развивающийся ресурс, который имеет все необходимые инструменты для обеспечения проведения онлайн-семинара или процесса дистанционного обучения. Функционал ресурса создавался понятным, доступным для каждого и интуитивно простым.
        h4 Что такое вебинар?
        p Онлайн-семинар (веб-конференция, вебинар, англ. webinar) — разновидность веб-конференции, проведение онлайн-встреч или презентаций через Интернет в режиме реального времени.
          br
          |Вебинар - это модно, современно, доступно, просто, удобно.Вебинар, или онлайн-семинар, - набирающий популярность вид обучения в реальном времени с использованием Интернет-технологий.
          br
          |Данная технология позволяет за считанные секунды организовать встречу людей из разных уголков земного шара, в любое удобное время, не имея привязки к транспорту, что существенно экономит средства.
          br
          |Вебинары могут быть односторонними, когда преподаватель (лектор) проводит показ презентаций и документов, поясняет некоторые особенности излагаемого материала и так далее, а могут обеспечивать полное взаимодействие между аудиторией и ведущим (предполагает наличие камеры и микрофона у слушателя).
          br
          |Наш сервис онлайн-обучения предлагает не только платформу для проведения одностороннего вебинара, но и полностью организованный ресурс для проведения полноценного, двухстороннего онлайн-обучения по принципу «Преподаватель-обучаемый».