.main-slider
  .slider.single-item
    div
      .container
        .main-slider__items
          .main-slider__info
            h2 Слоненок с мячиком. Мягкая игрушка связана спицами
            +lector-info
            time#counter-1.countdown(datetime='2019-09-21')
              .countdown-item
                span.days
                  span 0
                  span 0
                .countdown-title дней
              .countdown-item
                span.hours
                  span 0
                  span 0
                .countdown-title часов
              .countdown-item
                span.minutes
                  span 0
                  span 0
                .countdown-title минут
              .countdown-item
                span.seconds
                  span 0
                  span 0
                .countdown-title секунд

            .main-slider__link-item
              a(href='#').main-slider__link Записаться
          .main-slider__img
            img(src='./img/slider-image.jpg' alt='').img-fluid

    div
      .container
        .main-slider__items
          .main-slider__info
            h2 Что такое вебинар?
            p Онлайн-семинар (веб-конференция, вебинар, англ. webinar) — разновидность веб-конференции, проведение онлайн-встреч или презентаций через Интернет в режиме реального времени. Вебинар - это модно, современно, доступно, просто, удобно. Вебинар, или онлайн-семинар, - набирающий популярность вид обучения в реальном времени с использованием Интернет-технологий.
              br
              br
              | Данная технология позволяет за считанные секунды организовать встречу людей из разных уголков земного шара, в любое удобное время, не имея привязки к транспорту, что существенно экономит средства.
            .main-slider__link-item
              a(href='#').main-slider__link Подробнее
          .main-slider__img
            img(src='./img/img-head.png' alt='').img-fluid