.main-slider
  .container
    .slider.single-item
      div
        .main-slider__items
          .main-slider__info
            h2 Слоненок с мячиком. Мягкая игрушка связана спицами
          .main-slicer__img
            img(src='./img/')
      div
        h3 2
      div
        h3 3
      div
        h3 4
      div
        h3 5
      div
        h3 6
