.training-list
  .container
    h2.training-list__title Запланировано на сегодня
      span 245 тренингов
    .training-list__item
      .training-list__calendar
        .calendar-head
          .control
            span.prev p
            span.next n
        .day-list
          .item.item1
            .inner.calendar.calendar-1(data='1')
          .item.item2
            .inner.calendar.calendar-2.current(data='2')
          .item.item3
            .inner.calendar.calendar-3(data='3')
      .training-list__slider-item
        .training-list__slider.slider
          div
            .training-item
              a(href='#').training-item__link
                img(src='./img/slider-image.jpg').img-fluid.training-item__img
              +lector-info
              a(href='#').training-item__lection-name Слоненок с мячиком. Мягкая игрушка связана спицами
              .training-item__start-lection До начала
                .training-item__countdown(data-countdown='2019-07-20')
              p.training-item__description Вебинар не ограничивает число участников конференции, но не предоставляет возможности видео диалога. Если участник хочет задать вопрос докладчику - используется чат или через кабинет лектора может...
              .main-slider__link-item
                a(href='#').main-slider__link Записаться
          div
            .training-item
              a(href='#').training-item__link
                img(src='./img/slider-image.jpg').img-fluid.training-item__img
              +lector-info
              a(href='#').training-item__lection-name Слоненок с мячиком. Мягкая игрушка связана спицами
              .training-item__start-lection До начала
                .training-item__countdown(data-countdown='2019-07-21')
              p.training-item__description Вебинар не ограничивает число участников конференции, но не предоставляет возможности видео диалога. Если участник хочет задать вопрос докладчику - используется чат или через кабинет лектора может...
              .main-slider__link-item
                a(href='#').main-slider__link Записаться

          div
            .training-item
              a(href='#').training-item__link
                img(src='./img/slider-image.jpg').img-fluid.training-item__img
              +lector-info
              a(href='#').training-item__lection-name Слоненок с мячиком. Мягкая игрушка связана спицами
              .training-item__start-lection 31 мая 2019, 15:00
              p.training-item__description Вебинар не ограничивает число участников конференции, но не предоставляет возможности видео диалога. Если участник хочет задать вопрос докладчику - используется чат или через кабинет лектора может...
              .main-slider__link-item
                a(href='#').main-slider__link Записаться
          div
            .training-item
              a(href='#').training-item__link
                img(src='./img/slider-image.jpg').img-fluid.training-item__img
              +lector-info
              a(href='#').training-item__lection-name Слоненок с мячиком. Мягкая игрушка связана спицами
              .training-item__start-lection 31 мая 2019, 15:00
              p.training-item__description Вебинар не ограничивает число участников конференции, но не предоставляет возможности видео диалога. Если участник хочет задать вопрос докладчику - используется чат или через кабинет лектора может...
              .main-slider__link-item
                a(href='#').main-slider__link Записаться
