.training-list
  .container
    h2.training-list__title Запланировано на сегодня
      span 245 тренингов
    .training-list__item
      .training-list__calendar
        .calendar-head
          .control
            span.prev p
            span.next n
        .day-list
          .item.item1
            .inner.calendar.calendar-1(data='1')
          .item.item2
            .inner.calendar.calendar-2.current(data='2')
          .item.item3
            .inner.calendar.calendar-3(data='3')
      .training-list__slider.slider
        div
          h3 1
        div
          h3 2
        div
          h3 3
        div
          h3 4
        div
          h3 5