.training-archive
  .container
    .training-archive__list
      .training-archive__item
        img(src='./img/svg/blackboard.svg').training-archive_ico
        .training-archive__item--count 458
        .training-archive__item--name Тренингов проведено
      .training-archive__item
        img(src='./img/svg/professor.svg').training-archive_ico
        .training-archive__item--count.training-lectors 180
        .training-archive__item--name Опытных лекторов
      .training-archive__item
        img(src='./img/svg/student.svg').training-archive_ico
        .training-archive__item--count.training-studets 4000000
        .training-archive__item--name Активных слушателей
    .training-list__all-training-item
      a(href='#').training-list__all-training Архив тренингов