.training-list
  .container
    h2.training-list__title Запланировано на сегодня
      span 245 тренингов
    .training-list__item
      .training-list__calendar
        .responsive-calendar
          .controls
            a.pull-left(data-go='prev')
              .btn.btn-primary Prev
            h4
              span(data-head-month='')
              span(data-head-year='')
            a.pull-right(data-go='next')
              .btn.btn-primary Next
          .day-headers
            .day.header Пн
            .day.header Вт
            .day.header Ср
            .day.header Чт
            .day.header Пт
            .day.header.day-off Сб
            .day.header.day-off Вс
          .days(data-group='days')
          // Responsive calendar - END
      .training-list__slider-item
        .training-list__slider.slider
          div
            .training-item
              a(href='#').training-item__link
                img(src='./img/slider-image.jpg').img-fluid.training-item__img
              +lector-info
              a(href='#').training-item__lection-name Слоненок с мячиком. Мягкая игрушка связана спицами
              .training-item__start-lection До начала
                .training-item__countdown(data-countdown='2019-07-20')
              p.training-item__description Вебинар не ограничивает число участников конференции, но не предоставляет возможности видео диалога. Если участник хочет задать вопрос докладчику - используется чат или через кабинет лектора может...
              .main-slider__link-item
                a(href='#').main-slider__link Записаться
          div
            .training-item
              a(href='#').training-item__link
                img(src='./img/slider-image.jpg').img-fluid.training-item__img
              +lector-info
              a(href='#').training-item__lection-name Слоненок с мячиком. Мягкая игрушка связана спицами
              .training-item__start-lection До начала
                .training-item__countdown(data-countdown='2019-07-21')
              p.training-item__description Вебинар не ограничивает число участников конференции, но не предоставляет возможности видео диалога. Если участник хочет задать вопрос докладчику - используется чат или через кабинет лектора может...
              .main-slider__link-item
                a(href='#').main-slider__link Записаться

          div
            .training-item
              a(href='#').training-item__link
                img(src='./img/slider-image.jpg').img-fluid.training-item__img
              +lector-info
              a(href='#').training-item__lection-name Слоненок с мячиком. Мягкая игрушка связана спицами
              .training-item__start-lection 31 мая 2019, 15:00
              p.training-item__description Вебинар не ограничивает число участников конференции, но не предоставляет возможности видео диалога. Если участник хочет задать вопрос докладчику - используется чат или через кабинет лектора может...
              .main-slider__link-item
                a(href='#').main-slider__link Записаться
          div
            .training-item
              a(href='#').training-item__link
                img(src='./img/slider-image.jpg').img-fluid.training-item__img
              +lector-info
              a(href='#').training-item__lection-name Слоненок с мячиком. Мягкая игрушка связана спицами
              .training-item__start-lection 31 мая 2019, 15:00
              p.training-item__description Вебинар не ограничивает число участников конференции, но не предоставляет возможности видео диалога. Если участник хочет задать вопрос докладчику - используется чат или через кабинет лектора может...
              .main-slider__link-item
                a(href='#').main-slider__link Записаться
    .training-list__all-training-item
      a(href='#').training-list__all-training Смотреть все за сегодня