.write-message
  .row
    .col-md-3
      .default-green.w-100.write-message__link Написать сообщение
    .col-md-12
      .success-info
        +sprite('icon','icon-info')
        | Ваше сообщение успешно отправлено. В ближайшее время вы получите ответ администратора по вашему вопросу
  .write-message__form
    form(action='#').was-validated
      .write-message__form--title Ваше сообжение администраци:
      .registration-form__group
        .placeholder Фамилия
          span *
        input.registration-form-control(type='text')
      .registration-form__group
        .placeholder О себе
          span *
        textarea.registration-form-control(rows='5')
      .row
        .col-md-3
          button(type='submit').default-green.w-100.send-btn Отправить сообщение
        .col-md-2
          button(type='reset').reset-btn.w-100 Отмена