.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  li {
    font-size: 10px;
    line-height: 14px;
    font-family: $font;
    color: $title;
    a {
      position: relative;
      color: $title;
      transition: .3s;
      &::after {
        content: '/';
        margin: 0 3px;
      }
    }
  }
}