.training-list__calendar {
  .controls {
    text-align: center;
    a {
      cursor: pointer;
      position: relative;
      z-index: 10;
    }
    h4 {
      display: inline;
    }
  }
  .day-headers, .days {
    font-size: 0;
  }
  .day {
    display: inline-block;
    position: relative;
    font-size: 14px;
    width: 14.285714285714286%;
    text-align: center;
    a {
      color: #000000;
      display: block;
      cursor: pointer;
      padding: 20% 0 20% 0;
      &:hover {
        background-color: #eee;
        text-decoration: none;
      }
    }
    &.header {
      border-bottom: 1px gray solid;
    }
    &.active {
      a {
        background-color: #1d86c8;
        color: #ffffff;
        &:hover {
          background-color: #36a0e2;
        }
      }
      .not-current {
        background-color: #8fcaef;
        color: #ffffff;
        &:hover {
          background-color: #bcdff5;
        }
      }
    }
    &.not-current a {
      color: #ddd;
    }
    .badge {
      position: absolute;
      top: 2px;
      right: 2px;
      z-index: 1;
    }
  }
}