.modal-login {
  max-width: 410px;
  box-shadow: 0 2px 6px rgba(17, 26, 36, 0.15);
  .modal-content {
    border: none;
    border-radius: 4px;
  }
  .modal-body {
    padding: 30px;
  }
  .close {
    opacity: 1;
    &-ico {
      width: 24px;
      height: 24px;
    }
  }
}