.pagination, ul.page-numbers {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  margin: 15px;
  li {
    font-size: 12px;
    line-height: 16px;
    font-family: $font;
    color: $title;
    margin: 0 3px;
    a {
      color: $title;
    }
    .current {
      font-family: $font-b;
      font-size: 13px;
      line-height: 18px;
    }
  }
  .prev, .next {
    margin: auto auto auto 0;
    mask: url("../img/svg/arrow.svg") no-repeat center;
    mask-size: cover;
    width: 50px;
    height: 10px;
    background: $title;
    display: flex;
  }
  .next {
    margin: auto 0 auto auto;
    transform: rotate(180deg);
  }
}