- const path = "./img/sprites/sprite.svg#";

mixin sprite(name, id)
  svg(class=name)
    use(xlink:href=path + id)

mixin lector-info
  .lector-info
    .lector-info__avatar
      img(src='./img/avatar.jpg' alt='')
    .lector-info__info
      a(href='#').lector-info__name Василий Фамимлмялектора
      a(href='#').lector-info__link Архив лектора
