- const path = "./img/sprites/sprite.svg#";

mixin sprite(name, id)
  svg(class=name)
    use(xlink:href=path + id)

mixin product
  .product__item.item
    .product__item__info
      a(href='product.html').product__item__ico(style="background-image: url('img/product.png')")
      .product__popup
        a.product__title Sendero
        .product__price 96 188 грн
        .product__price.old-price 96 188 грн
        .availability.under-order под заказаказ
        a(href='#').add-cart В корзину
        a(href='#').buy Оформление заказа
  .product__item.item
    .product__item__info
      a(href='product.html').product__item__ico(style="background-image: url('img/product-2.png')")
      .product__popup
        a.product__title Sendero
        .product__price 96 188 грн
        .product__price.old-price 96 188 грн
        .availability в наличии
        a(href='#').add-cart В корзину
        a(href='#').buy Оформление заказа


mixin one-product
  .product__item.item
    .product__item__info
      .product__item__info--top
        .discount -60%
        .promo-label.new-position новинка
      a(href='product.html').product__item__ico(style="background-image: url('img/product.png')")
      .product__popup
        a.product__title Sendero
        .product__price 96 188 грн
        .product__price.old-price 96 188 грн
        .availability.under-order под заказаказ
        a(href='#').add-cart В корзину
        a(href='#').buy Оформление заказа
  .product__item.item
    .product__item__info
      .product__item__info--top
        .promo-label.bestseller хит продаж
      a(href='product.html').product__item__ico(style="background-image: url('img/product-2.png')")
      .product__popup
        a.product__title Sendero
        .product__price 96 188 грн
        .product__price.old-price 96 188 грн
        .availability в наличии
        a(href='#').add-cart В корзину
        a(href='#').buy Оформление заказа

mixin cart-position
  .cart-item-position
    .cart-item--img
      a(href='#').cart-item--img__link
        img(src='./img/product.png' alt='')
      .cart-item--delete
    .cart-item--info
      .cart-item--info-top
        a(href='#').cart-item--info__name 96188  SALOBRENA 1
          .cart-item--info__description 40W; 4300 lm
            br
            | L 595, B 595, H 50
        .cart-item--info__price 6 055 грн
      form(action='#')
        .cart-item--info__count
          .cart-item--info__count--minus
          input(type='text' placeholder='1').cart-item--info__count--control
          .cart-item--info__count--plus


mixin reviews(user_name, description)
  .reviews-item
    .reviews-avatar
      img(src='./img/avatar-ico.png' alt='')
    .reviews-info
      .reviews-info__name= user_name
      .reviews-info__review= description
      .reviews-info__bottom
        .reviews-info__raiting
          input#star-10.star.star-5(type='radio', name='star-review')
          label.star.star-5(for='star-10')
          input#star-9.star.star-4(type='radio', name='star-review')
          label.star.star-4(for='star-9')
          input#star-8.star.star-3(type='radio', name='star-review')
          label.star.star-3(for='star-8')
          input#star-7.star.star-2(type='radio', name='star-review')
          label.star.star-2.active(for='star-7')
          input#star-6.star.star-1(type='radio', name='star-review')
          label.star.star-1.active(for='star-6')
        .reviews-info__date — 16 марта 2018
