.about-us {
  margin-top: 30px;
  margin-bottom: 70px;
  font-family: $font_main;
  font-size: $size_link_font;
  line-height: 24px;
  color: $color_description;
  @include adapt_to('large-phone') {
    margin-bottom: 30px;
  }
  p {
    margin-bottom: 10px;
  }
  a {
    margin: 0 3px;
    color: $color_underline;
    text-decoration: underline;
  }
  h4 {
    font-size: $size_title_font;
    line-height: 24px;
    color: $color_link;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  ul {
    padding: 0;
    margin: 0 0 30px;
    list-style: none;
    li {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      &::before {
        content: '' !important;
        width: 15px;
        height: 1px;
        background: $color_description;
        flex: 0 0 auto;
        margin-right: 5px;
      }
    }
  }
  ol {
    padding: 0;
    margin: 0 0 20px;
    list-style-type: none;
    counter-reset: ordered;
    li {
      margin-bottom: 10px;
      padding-left: 30px;
      position: relative;
      &::before {
        content: counter(ordered);
        counter-increment: ordered;
        display: inline-block;
        color: $color_darkblue;
        position: absolute;
        left: 0;
      }
    }
  }
}