.cart {
  &-item {
    display: flex;
    &s {
      margin-top: 75px;
      margin-bottom: 100px;
    }
  }
  &-body {
    border-right: 1px solid #E0E0E0;
    padding-right: 40px;
    width: 100%;
  }
  &-order-info {
    max-width: 460px;
    width: 100%;
    padding-left: 40px;
    padding-right: 20px;
    font-family: $font-b;
    .cart-order-without-registration {
      padding: 25px 0;
    }
    &--top {
      display: flex;
      align-items: center;
    }
    &--discount {
      margin: auto 0 auto auto;
      font-size: 12px;
      line-height: 16px;
      color: $order;
      &-price {
        margin-top: 10px;
        font-size: 16px;
        line-height: 22px;
        color: $price;
        margin-bottom: 25px;
      }
    }
    .cart-amount--buy {
      @extend .cart-amount--buy;
    }
  }
}
