.coming-events-soon {
  .personal-upcoming-events__title {
    margin-bottom: 0;
  }
  &__img-info {
    position: relative;
    border-radius: 4px;
    font-family: $font_main;
    display: block;
    margin-bottom: 30px;
    margin-top: 20px;
    img {
      width: 100%;
      border-radius: 4px;
    }
    .time-to-start {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background: rgba($color_link, .7);
      border-radius: 0 0 4px 4px;
      color: $color_white;
      padding: 5px 0 5px 10px;
      font-size: $size_link_font;
      line-height: 19px;
      b {
        font-family: $font_bold;
        font-weight: normal;
      }
      &.today {
        background: $color_error;
        box-shadow: 0 2px 6px rgba(17, 26, 36, 0.15);
      }
    }
    .dropdown {
      position: absolute;
      top: 15px;
      right: 15px;
      &-toggle {
        box-shadow: 0 2px 6px rgba(17, 26, 36, 0.15);
        border-radius: 19px;
        background: $color_white;
        width: 38px;
        height: 38px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 auto;
        &::after {
          display: none;
        }
        .icon {
          width: 24px;
          height: 24px;
        }
      }
      &-menu {
        padding: 10px 0;
        margin: 0;
        border: none;
        border-radius: 4px;
        box-shadow: 0 2px 6px rgba(17, 26, 36, 0.15);
        &::before {
          content: '';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 10px 10px 10px;
          border-color: transparent transparent #ffffff transparent;
          position: absolute;
          top: -10px;
          right: 8px;
        }
        .icon {
          width: 24px;
          height: 24px;
          margin-right: 10px;
          &-edit {
            fill: $color_link;
          }
        }
      }
      &-item {
        font-family: $font_bold;
        font-size: $size_main_font;
        line-height: 17px;
        padding: 5px 15px;
        color: $color_link;
        display: flex;
        align-items: center;
        transition: .3s;
        &:hover {
          background: transparent;
          color: $color_selected;
        }
      }
      &.show {
        .dropdown-toggle {
          background: $color_selected;
        }
      }
    }
  }
  &__info {
    margin-bottom: 30px;
    margin-top: 20px;
    &--title {
      font-size: $size_link_font;
      line-height: 19px;
      font-family: $font_bold;
      color: $color_darkblue;
      margin-bottom: 10px;
      display: block;
      transition: .3s;
    }
  }
  &__schedule-btn {
    width: 100%;
    font-family: $font_main;
    font-size: $size_title_font;
    line-height: 24px;
    color: $color_link;
    border: 1px solid $color_underline;
    border-radius: 28px;
    padding: 11px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    margin-bottom: 50px;
    &:hover {
      background: $color_underline;
      color: $color_white;
      text-decoration: none;
    }
  }
}