.faq {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0 15px;
  h2 {
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    color: $title;
    opacity: .7;
    margin-bottom: 25px;
    font-family: $font-b;
  }
  .accordion--faq {
    .accordion__question {
      border-bottom: 1px solid #E0E0E0;
      &:first-child {
        border-top: 1px solid #E0E0E0;
      }
    }

    .accordion__header {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      font-size: 14px;
      line-height: 19px;
      font-family: $font-b;
      color: $title;
      padding-top: 25px;
      padding-bottom: 15px;
      &.is-active {
        span {
          transform: rotate(180deg);
        }
      }
      span {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 7px 14px 7px;
        border-color: transparent transparent $title transparent;
        transition: .3s;
      }
    }
    .accordion__heading {
      display: inline-block;
      margin: 0;
      padding-right: 5px;
    }
    .accordion__content {
      display: none;
      font-size: 12px;
      line-height: 16px;
      font-family: $font;
      color: $title;
      padding-bottom: 25px;
      a {
        color: #4eb1aa;
        font-style: italic;
      }
      p {
        margin: 0;
      }
    }
  }
}