.gallery {
  &-item {
    margin: auto;
    width: 890px;
    background: $white;
    z-index: 1;
    position: relative;
    .product-sliders-top-img {
      width: 890px;
      height: 80vh;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
      }
    }
    .cart-close {
      width: 29px;
      height: 29px;
      mask: url('../img/svg/close.svg') no-repeat center;
      mask-size: cover;
      background: $white;
      position: absolute;
      top: 0;
      right: -55px;
    }
  }
  &-slider {
    width: 890px;
    height: 80vh;
    margin: auto;
    .slick-dots {
      bottom: -35px;
      li {
        button {
          background: $white;
        }
        &.slick-active {
          button {
            background: $small-title;
          }
        }
      }
    }
    .slick-arrow {
      top: 50%;
      z-index: 2;
      opacity: 1;
      transform: none;
      width: 27px;
      height: 16px;
      &::before {
        content: '';
        mask: url('../img/svg/arrow-down.svg') no-repeat center;
        mask-size: contain;
        background: $white;
        width: 27px;
        display: flex;
        transform: rotate(90deg);
        height: 16px;
        transition: .3s;
        opacity: 1;
      }
      &:hover::before {
        background: $small-title;
      }
    }
    .slick-prev {
      left: -70px;
    }

    .slick-next {
      right: -70px;
      &::before {
        transform: rotate(-90deg);
      }
    }
  }
}