.gallery {
  &-item {
    margin: 20px auto;
    width: 320px;
    background: $white;
    z-index: 1;
    position: relative;
    .product-sliders-top-img {
      width: 320px;
      height: 320px;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .cart-close {
      width: 15px;
      height: 15px;
      mask: url('../img/svg/close.svg') no-repeat center;
      mask-size: cover;
      background: $title;
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 5;
    }
  }
  &-slider {
    width: 320px;
    margin: auto;
    .slick-dots {
      bottom: -35px;
      li {
        button {
          background: $white;
          border-radius: 50%;
          &::before {
            content: '';
          }
        }
        &.slick-active {
          button {
            background: $small-title;
          }
        }
      }
    }
    .slick-arrow {
      top: 50%;
      z-index: 4;
      opacity: 1;
      transform: none;
      width: 27px;
      height: 16px;
      &::before {
        content: '';
        mask: url('../img/svg/arrow-down.svg') no-repeat center;
        mask-size: contain;
        background: $title;
        width: 27px;
        display: flex;
        transform: rotate(90deg);
        height: 16px;
        transition: .3s;
        opacity: 1;
      }
      &:hover::before {
        background: $small-title;
      }
    }
    .slick-prev {
      left: 15px;
    }

    .slick-next {
      right: 15px;
      &::before {
        transform: rotate(-90deg);
      }
    }
  }
}