.guaranties {
  margin-top: 35px;
  h2 {
    max-width: 970px;
    margin: 15px auto 40px;
    text-align: center;
  }
  &-item {
    color: $title;
    margin-bottom: 95px;
    &__title {
      font-size: 24px;
      line-height: 33px;
      font-family: $font-b;
      margin-bottom: 25px;
    }
    p {
      margin-top: 0;
      font-size: 18px;
      line-height: 25px;
      font-family: $font;
    }
  }
  &-faq {
    background: url('../img/guaranties-faq.jpg') no-repeat bottom;
    background-size: cover;
    padding-top: 65px;
    padding-bottom: 40px;
    margin-bottom: 120px;
    h2 {
      color: $title;
      opacity: .7;
      margin-bottom: 45px;
      font-size: 39px;
      line-height: 53px;
      font-family: $font-b;
      margin-top: 0;
    }
    &__list {
      display: block;
      column-count: 2;
      column-gap: 30px;
    }
    &__item {
      background: $white;
      font-size: 24px;
      line-height: 33px;
      font-family: $font-b;
      color: $title;
      padding: 30px 50px;
      box-shadow: 4px 4px 10px rgba(14, 16, 31, 0.1);
      border: 1px solid #E0E0E0;
      margin-bottom: 30px;
      display: inline-block;
      transition: .3s;
      &:hover {
        box-shadow: none;
      }
    }
  }
}