.guaranties {
  margin-top: 25px;
  h2 {
    text-align: center;
    margin-top: 25px;
  }
  &-item {
    color: $title;
    padding: 0 15px;
    &__title {
      font-size: 14px;
      line-height: 19px;
      font-family: $font;
      margin-bottom: 10px;
    }
    p {
      margin-top: 0;
      font-size: 12px;
      line-height: 16px;
      font-family: $font;
      b {
        font-size: 14px;
        line-height: 19px;
      }
    }
  }
  &-faq {
    padding: 20px 15px 40px;
    h2 {
      color: $title;
      opacity: .7;
      margin-bottom: 25px;
      font-size: 15px;
      line-height: 18px;
      font-family: $font-b;
      margin-top: 0;
    }
    &__list {
      display: flex;
      flex-direction: column;
    }
    &__item {
      background: $white;
      font-size: 12px;
      line-height: 16px;
      font-family: $font-b;
      color: $title;
      padding: 20px;
      box-shadow: 4px 4px 10px rgba(14, 16, 31, 0.1);
      border: 1px solid #E0E0E0;
      margin-bottom: 20px;
      display: inline-block;
      transition: .3s;
      width: 100%;
      &:hover {
        box-shadow: none;
      }
    }
  }
}