.header-catalog-menu {
  border-bottom: 1px solid #F2F2F2;
  padding-bottom: 15px;
  &--items {
    display: flex;
    justify-content: space-between;
    li {
      position: relative;
      &:last-child, &:nth-last-child(2) {
        .header-catalog-menu__dropdown {
          left: auto;
          right: 0;
        }
      }
      &:hover {
        .header-catalog-menu__dropdown {
          display: flex;
          z-index: 5;
          top: 94px;
        }
      }
    }
    a {
      margin-top: 20px;
      color: $title;
      font-size: 11px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      font-family: $font-l;
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 80px;
    }
    .icon {
      width: 73px;
      height: 75px;
      margin: auto auto 10px;
      transition: .3s;
    }
  }
  &__dropdown {
    position: absolute;
    background: $white;
    border: 1px solid #F2F2F2;
    flex-direction: column;
    width: 240px;
    left: 0;
    transition: .3s;
    top: 94px;
    display: none;
    &--title {
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.1em;
      color: $title;
      margin: 30px 40px 5px;
      font-family: $font;
    }
    &--list {
      padding: 0 40px 30px;
      a {
        font-size: 10px;
        font-family: $font;
        text-align: left;
        margin: 0 0 5px;
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 100%;
        &::before {
          content: '';
          width: 10px;
          height: 1px;
          background: currentColor;
          margin-right: 10px;
          display: table;
          flex: 0 0 auto;
        }
      }
      &-img {
        width: 100%;
        display: flex;
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}