.main-slider {
  font-family: $font_main;
  &__items {
    display: flex;
    align-items: center;
  }
  &__info, &__img {
    flex: 0 0 50%;
    padding: 0 15px;
  }
  &__info {
    h2 {
      font-size: $size_title_big_font;
      color: $color_link;
      line-height: 44px;
      margin-bottom: 15px;
    }
    p {
      font-size: $size_link_font;
      line-height: 24px;
      color: $color_description;
      margin-bottom: 20px;
    }
  }
  &__link {
    color: $color_white;
    padding: 10px 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto auto auto 0;
    border-radius: 24px;
    font-family: $font_bold;
    font-size: $size_link_font;
    line-height: 19px;
    background: $color_underline;
    transition: 0.3s;
    &-item {
      display: flex;
    }
    &:hover {
      text-decoration: none;
    }
  }
  .slick-arrow {
    width: 16px;
    height: 16px;
    cursor: pointer;
    z-index: 10;
    &::before {
      content: '';
      mask: url('../img/svg/arrow-select.svg') no-repeat center;
      background: $color_description;
      transition: .3s;
      width: 16px;
      height: 16px;
      transform: rotate(90deg);
      display: block;
    }
    &:hover:before {
      background: $color_underline;
    }
    &:focus {
      outline: none;
    }
  }
  .slick-prev {
    left: 30px;
  }
  .slick-next {
    right: 30px;
    &::before {
      transform: rotate(-90deg);
    }
  }
  .slick-dots {
    position: initial;
    text-align: left;
    max-width: 1140px;
    margin: auto;
    li {
      width: 13px;
      height: 13px;
      &.slick-active {
        button {
          border: 2px solid #BAC1CC;
        }
      }
      button {
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background: #bac1cc;
        transition: .3s;
        display: flex;
        align-items: center;
        padding: 0;
        position: relative;
        &:before {
          content: '';
          top: auto;
          left: auto;
          opacity: 1;
          width: 11px;
          height: 11px;
          border-radius: 50%;
          background: $color_white;
        }
      }
    }
  }
}