.main-slider {
  margin-top: 30px;
  font-family: $font_main;
  &__items {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 420px;
  }
  &__info, &__img {
    flex: 1 0 50%;
    width: 100%;
    padding: 0 15px;
  }
  &__img img {
    margin: auto;
    border-radius: 4px;
  }
  &__info {
    h2 {
      font-size: $size_title_font;
      line-height: 24px;
      color: $color_link;
      margin-bottom: 15px;
    }
    p {
      font-size: $size_link_font;
      line-height: 24px;
      color: $color_description;
      margin-bottom: 20px;
    }
  }
  &__link {
    color: $color_white;
    padding: 10px 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto auto auto 0;
    border-radius: 24px;
    font-family: $font_bold;
    font-size: $size_link_font;
    line-height: 19px;
    background: $color_underline;
    transition: .3s;
    &-item {
      display: flex;
    }
    &:hover {
      text-decoration: none;
      background: $color_darkblue;
      color: $color_white;
    }
  }
  .slick-arrow {
    width: 16px;
    height: 16px;
    cursor: pointer;
    z-index: 10;
    &::before {
      content: '';
      mask: url('../img/svg/arrow-select.svg') no-repeat center;
      background: $color_description;
      transition: .3s;
      width: 16px;
      height: 16px;
      transform: rotate(90deg);
      display: block;
    }
    &:hover:before {
      background: $color_underline;
    }
    &:focus {
      outline: none;
    }
  }
  .slick-prev {
    left: 30px;
  }
  .slick-next {
    right: 30px;
    &::before {
      transform: rotate(-90deg);
    }
  }
  .slick-dots {
    position: initial;
    text-align: left;
    max-width: 1140px;
    margin: auto;
    padding: 0 25px;
    li {
      width: 13px;
      height: 13px;
      &.slick-active {
        button {
          border: 2px solid #BAC1CC;
          width: 13px;
          height: 13px;
          &::before {
            display: block;
          }
        }
        &:hover {
          border-color: $color_selected;
        }
      }
      button {
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background: #bac1cc;
        transition: .3s;
        display: flex;
        justify-content: center;
        margin: auto;
        align-items: center;
        padding: 0;
        position: relative;
        &:before {
          content: '';
          top: auto;
          left: auto;
          opacity: 1;
          width: 9px;
          height: 9px;
          border-radius: 50%;
          background: $color_white;
          transition: .3s;
          display: none;
        }
        &:hover {
          background: $color_selected;
        }
      }
    }
  }
}