.mailing {
  margin-bottom: 70px;
  font-size: $size_main_font;
  line-height: 17px;
  font-family: $font_main;
  &-refferals {
    background: $color_white;
    padding: 20px 30px;
    box-shadow: 0 2px 6px rgba(17, 26, 36, 0.15);
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    label {
      margin-right: 20px;
      margin-bottom: 0;
      font-family: $font_light;
      font-size: $size_title_font;
      line-height: 24px;
      color: $color_link;
    }
  }
  &-letters {
    &__top {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      color: $color_link;
      h4 {
        margin: 0 20px 0 0;
        font-size: $size_title_font;
        line-height: 24px;
      }
    }
    &__check {
      display: flex;
      align-items: center;
      input[type=radio] {
        display: none;
      }
      label {
        display: inline-block;
        cursor: pointer;
        position: relative;
        padding: 2px 15px;
        border: 1px solid $color_underline;
        color: $color_link;
        border-radius: 0 19px 19px 0;
        transition: .3s;
        margin: 0;
        &:nth-child(2) {
          border-radius: 19px 0 0 19px;
        }
      }
      input[type=radio]:checked + label {
        color: $color_white;
        background: $color_underline;
      }
    }
    .referral-link {
      color: $color_description;
      margin-top: 3px;
      margin-bottom: 10px;
    }
    .note {
      color: $color_underline;
    }
  }
}