.news {
  padding: 0 15px;
  &-title {
    margin-top: 85px;
    text-align: center;
    font-size: 39px;
    line-height: 53px;
    color: rgba($title, .7);
    margin-bottom: 10px;
    font-family: $font-b;
    font-weight: normal;
  }
  &-slider {
    display: flex;
    height: 560px;
    flex-direction: row;
    flex-flow: column wrap;
  }
  &-item {
    width: calc(25% - 15px);
    box-shadow: 5px 2px 15px rgba(0, 0, 0, 0.15);
    background: $white;
    margin: 30px 15px 0 0;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: calc(50% - 30px);
    justify-content: flex-end;
    flex-shrink: 0;
    &__img {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    &__info {
      position: relative;
      padding: 20px 15px;
      &::after {
        content: '';
        width: 9px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        background: linear-gradient(90deg, $small-title 0%, $new 100%);
      }
      &--top {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        .exposition {
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          font-family: $font-b;
          display: flex;
          align-items: center;
          color: $small-title;
          margin-right: 20px;
          &::before {
            content: '';
            mask: url("../img/svg/arrow-right.svg") no-repeat center;
            width: 11px;
            height: 11px;
            margin-right: 5px;
            background: $small-title;
            mask-size: contain;
          }
        }
        .date {
          font-size: 12px;
          line-height: 16px;
          font-family: $font-l;
          color: $price;
        }
      }
      &--name {
        font-size: 16px;
        line-height: 22px;
        color: $title;
        font-family: $font;
        position: relative;
        z-index: 1;
      }
    }
    &.main-news {
      width: calc(50% - 15px);
      height: 530px;
      .news-item {
        &__img {
          flex: 0 0 auto;
        }
        &__info {
          &::before {
            content: '';
            mask: url('../img/svg/news-bg.svg') no-repeat center;
            mask-size: cover;
            width: 149px;
            height: 100%;
            background: $small-title;
            position: absolute;
            top: 0;
            right: 0;
          }
          &--name {
            font-size: 24px;
            line-height: 33px;
            font-family: $font-b;
          }
        }
      }
    }
  }
  .product-link__item {
    margin-top: 50px;
    margin-bottom: 100px;
  }

  &-list {
    height: 530px;
    display: flex;
    flex-direction: row;
    flex-flow: column wrap;
    justify-content: space-between;
    margin-bottom: 100px;
    .main-news {
      height: 500px;
    }
  }
  &-items {
    margin-top: 95px;
    .breadcrumbs li {
      font-family: $font-l;
    }
    .grid-produstion--title {
      margin-bottom: 30px;
    }
    &__list {
      display: flex;
      flex-direction: column;
      .page-numbers {
        justify-content: center;
      }
    }
  }
  &-article {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    height: 360px;
    overflow: hidden;
    &--img {
      width: 50%;
      height: 100%;
      box-shadow: 7px 4px 10px rgba(14, 16, 31, 0.1);
      background: $white;
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
    }
    &--description {
      width: calc(50% + 25px);
      position: relative;
      left: -25px;
      background: $white;
      box-shadow: 7px 4px 10px rgba(14, 16, 31, 0.1);
      padding: 20px 55px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .news-item__info--name {
        font-size: 24px;
        line-height: 33px;
        color: $title;
        font-family: $font-b;
        margin-top: 10px;
      }
    }
  }
}