.next-lectures {
  margin-bottom: 50px;
  .main-slider {
    &__items {
      min-height: initial;
    }
    &__info, &__img {
      padding: 0;
    }
    &__img img {
      display: block;
    }
  }
  .countdown {
    margin-bottom: 20px;
  }
  .personal-upcoming-events__title {
    margin-bottom: 20px;
  }
}

.personal-upcoming-events__lecture-participants {
  font-size: $size_link_font;
  line-height: 19px;
  font-family: $font_main;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  span {
    display: flex;
    align-items: flex-end;
    color: $color_selected;
    margin-bottom: 10px;
  }
  .icon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
  }
  .signed-up {
    margin-right: 30px;
    fill: $color_underline;
    text-decoration: underline;
    color: $color_underline;
  }
}