.offers {
  padding: 0 15px;
  &-list {
    .news-article {
      display: flex;
      flex-direction: column;
      &--img {
        height: 150px;
        display: block;
        background-size: cover;
        background-position: center;
      }
      &--description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 15px 15px 15px;
      }
    }
    .news-item__info--top {
      margin-top: 5px;
      margin-bottom: 0;
      .date {
        margin-left: 0;
      }
    }
  }

  &-slide {
    &__img {
      max-width: 100%;
      height: auto;
      max-height: 190px;
      margin: auto;
    }
    &r {
      margin-bottom: 80px;
      .slick {
        &-arrow {
          border: 1px solid rgba(0, 0, 0, 0.31);
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          width: 45px;
          height: 45px;
          bottom: -80px;
          top: auto;
          z-index: 1;
          &::before {
            width: 13px;
            height: 7px;
            background: $title;
            content: '';
            mask: url('../img/svg/arrow-down.svg') no-repeat center;
            background: $title;
            mask-size: contain;
          }
        }
        &-prev {
          left: 0;
          &::before {
            transform: rotate(90deg);
          }
        }
        &-next {
          right: auto;
          left: 50px;
          &::before {
            transform: rotate(-90deg);
          }
        }
        &-dots {
          bottom: -55px;
          left: 0;
          width: auto;
          display: flex;
          align-items: center;
          li {
            width: 20px;
            height: auto;
            margin: 0 10px;
            &.slick-active {
              border-top: 3px solid $title;
            }
            button {
              width: 20px;
              height: auto;
              border-radius: 0;
              border-top: 1px solid $title;
            }
          }
        }
      }
    }
  }

  .grid-produstion--header {
    align-items: flex-start;
    margin-top: 25px;
  }
  .breadcrumbs {
    margin-bottom: 15px;
    li {
      font-size: 10px;
      line-height: 21px;
    }
  }
  &-top {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 28px;
    color: $title;
    font-family: $font-b;
  }
  &-date {
    display: flex;
    flex-direction: column;
  }
  &-description {
    font-size: 12px;
    line-height: 16px;
    font-family: $font;
    color: $title;
    margin-bottom: 25px;
  }
  .go-back {
    display: flex;
    align-items: center;
    font-size: 10px;
    line-height: 14px;
    font-family: $font;
    color: $title;
    margin-bottom: 25px;
    &::before {
      content: '';
      width: 36px;
      height: 8px;
      background: url('../img/svg/arrow.svg') no-repeat center;
      margin-right: 20px;
      background-size: cover;
    }
  }
}