.popular-items {
  padding: 0 15px 45px;
  .slick-initialized {
    .slick-slide {
      display: flex;
    }
  }
  &--title {
    color: $title;
    font-size: 15px;
    line-height: 18px;
    font-family: $font-m-b;
    opacity: .7;
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: left;
    text-shadow: none;
  }
  .slick-initialized .slick-slide {
    display: flex;
    justify-content: space-around;
    margin: 0 2px;
  }
}