.promotional-offers {
  margin-bottom: 50px;
  padding: 0 15px;
  .product__item {
    max-width: inherit;
    margin: 0 20px 0 0;
  }
  .product {
    .slick-prev {
      right: 85px;
    }
    .slick-next {
      right: 20px;
    }
  }
}
.product__item {
  &__info--top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    .discount {
      mask: url('../img/svg/discount-ico.svg') no-repeat center;
      mask-size: contain;
      background: #ec4363;
      color: $white;
      display: flex;
      align-items: center;
      font-size: 10px;
      line-height: 14px;
      font-family: $font-b;
      position: relative;
      width: 43px;
      padding-left: 5px;
      height: 26px;
      &::after {
        content: '';
        width: 4px;
        height: 4px;
        border-radius: 50%;
        position: absolute;
        right: 5px;
        background: $white;
      }
    }
    .promo-label {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto 0 auto auto;
      height: 26px;
      color: $white;
      font-size: 12px;
      line-height: 16px;
      font-family: $font-s;
      border-radius: 4px;
      padding: 0 9px;
      &.new-position {
        background: $new;
      }
      &.bestseller {
        background: $hit;
      }
    }
  }
}