.profile-user {
  &-info {
    background: $color_darkblue;
    color: $color_white;
    mix-blend-mode: multiply;
    font-family: $font_main;
    margin-bottom: 40px;
    margin-top: 20px;
    a {
      color: $color_white;
    }
    .navbar {
      flex-direction: column;
      padding: 25px 1rem 0;
      .navbar-nav .nav-link {
        margin: 0 30px 0 0;
        padding: 0 0 15px;
        font-size: $size_link_font;
        line-height: 19px;
        transition: .3s;
        position: relative;
        &::after {
          content: "";
          bottom: 0;
          display: block;
          height: 2px;
          left: 50%;
          position: absolute;
          background: $color_underline;
          transition: width 0.3s ease 0s, left 0.3s ease 0s;
          width: 0;
        }
        &:hover {
          &::after {
            width: 100%;
            left: 0;
          }
        }
      }
      .nav-item.active .nav-link {
        &::after {
          width: 100%;
          left: 0;
        }
      }
      .container {
        position: relative;
      }
    }
    &__top {
      display: flex;
      width: 100%;
      margin-bottom: 25px;
      flex-direction: column;
      .user-info {
        display: flex;
        align-items: center;
        &__avatar {
          margin-right: 15px;
          position: relative;
          img {
            border-radius: 50%;
            width: 60px;
            height: 60px;
          }
        }
        &__settings-link {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 24px;
          height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: $color_selected;
          border-radius: 19px;
          .icon {
            width: 16px;
            height: 16px;
          }
        }
        &__name {
          font-size: $size_title_font;
          line-height: 24px;
          transition: .3s;
          margin-bottom: 5px;
          display: block;
          &:hover {
            color: $color_selected;
            text-decoration: none;
          }
        }
        &__tarif {
          align-items: center;
          &--info {
            display: flex;
            flex-direction: column;
            font-family: $font_bold;
            font-size: $size_link_font;
            line-height: 19px;
            margin-right: 14px;
            span {
              font-size: $size_main_font;
              line-height: 17px;
              font-family: $font_main;
            }
          }
        }
        &__notifications {
          display: flex;
          margin-left: auto;
          order: -1;
          margin-right: 25px;
          .icon {
            width: 24px;
            height: 24px;
            margin-right: 10px;
          }
          .notification {
            margin: 0 auto auto 25px;
            display: flex;
            align-items: center;
            &:hover {
              text-decoration: none;
            }
            span {
              display: none;
            }
            .icon {
              margin-left: 0;
            }
            &.active {
              border: 1px solid $color_selected;
              background: $color_selected;
              border-radius: 19px;
              padding: 5px 15px;
              span {
                margin-left: 10px;
                color: $color_white;
                font-size: $size_link_font;
                line-height: 19px;
                font-family: $font_main;
                display: flex;
              }
            }
          }
        }
      }
    }
    .navbar-toggle {
      position: absolute;
      top: 7px;
      right: 0;
      cursor: pointer;
      .icon-bar {
        background: $color_white;
      }
    }
  }

  &-edit {
    font-family: $font_main;
    &__title {
      font-size: $size_title_description_font;
      line-height: 37px;
      color: $color_link;
      padding-bottom: 10px;
      margin-bottom: 50px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      position: relative;
      &::after {
        content: '';
        width: 110px;
        height: 2px;
        background: $color_underline;
        position: absolute;
        left: 0;
        bottom: 0;
      }
      span {
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $color_underline;
        color: $color_underline;
        font-size: $size_link_font;
        flex: 0 0 auto;
        width: 24px;
        height: 24px;
        cursor: pointer;
        margin-left: 20px;
        line-height: 24px;
      }
    }
    .was-validated .registration-form-control:focus {
      border-color: $color_underline;
      box-shadow: none;
    }
    &__form {
      margin-bottom: 50px;
      .registration-form {
        &__group {
          flex-direction: column;
          overflow: initial;
          .invalid-feedback {
            position: absolute;
            bottom: -20px;
          }
          .count-value {
            font-size: $size_main_font;
            line-height: 17px;
            color: $color_description;
            span {
              margin-left: 3px;
              color: $color_selected;
            }
          }
        }
        &-control {
          color: $color_link;
          &:focus {
            border-color: $color_underline;
          }
        }
      }
    }

    h4 {
      margin-top: 20px;
      font-size: $size_title_font;
      line-height: 24px;
      color: $color_link;
      margin-bottom: 15px;
    }
    &__save-btn {
      border-radius: 24px;
      background: $color_selected;
      border: 1px solid $color_selected;
      color: $color_white;
      width: 100%;
      padding: 9px 20px;
      font-size: $size_link_font;
      line-height: 19px;
      font-family: $font_bold;
      transition: .3s;
      &:hover {
        background: $color_white;
        color: $color_selected;
      }
    }
  }
}