.registration {
  &-page {
    display: flex;
    overflow: hidden;
  }
  &-left {
    padding: 70px 80px 70px 95px;
    max-width: 535px;
    width: 100%;
    background: $color_darkblue;
    position: relative;
    &::before {
      content: '';
      background: url('../img/svg/registration-bg.svg') no-repeat top left;
      position: absolute;
      top: 0;
      left: 0;
      width: 323px;
      height: 331px;
      z-index: 0;
    }
    .site-features__list-item {
      position: relative;
      z-index: 1;
      h4, ul li {
        color: $color_white;
      }
      ul li {
        &::before {
          background: url('../img/svg/checkbox-ico.svg');
        }
      }
    }
  }
  &-logo {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
    display: block;
  }
  &-form {
    width: 100%;
    position: relative;
    z-index: 1;
    padding-left: 175px;
    padding-right: 160px;
    font-family: $font_main;
    &__title {
      display: flex;
      flex-direction: column;
      font-size: $size_title_description_font;
      line-height: 37px;
      color: $color_link;
      margin-top: 75px;
      margin-bottom: 50px;
      &::after {
        content: '';
        width: 160px;
        height: 2px;
        margin-top: 10px;
        background: $color_underline;
      }
    }
    &-row {
      display: flex;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
    }
    &--col {
      flex: 1 0 50%;
      padding: 0 15px;
    }
    &__group {
      position: relative;
      margin-bottom: 25px;
      display: flex;
      align-items: flex-start;
      overflow: hidden;
      .placeholder {
        position: absolute;
        font-size: $size_link_font;
        line-height: 19px;
        font-family: $font_main;
        color: $color_description;
        left: 15px;
        top: 10px;
        span {
          color: $color_selected;
          margin-left: 3px;
        }
      }
      .input-group-text {
        padding: 9px 14px;
        margin: 0;
        background: transparent;
        border: none;
        border-radius: 3px 0 0 3px;
        .icon {
          width: 18px;
          height: 18px;
          path {
            fill: #ff0000;
          }
        }
      }
      .input-group-prepend {
        position: absolute;
      }
    }
    &-control {
      width: 100%;
      padding: 9px 15px;
      background: $color_white;
      border: 1px solid $color_border;
      border-radius: 3px;
      font-size: $size_link_font;
      line-height: 19px;
      font-family: $font_main;
      color: $color_description;
      transition: .3s;
      resize: none;
      &:focus {
        border-color: $color_selected;
      }
    }
    &__ico {
      .placeholder {
        left: 45px;
      }
      .registration-form-control {
        padding-left: 45px;
      }
    }
    .ans-label {
      color: #4a4b4b;
      font-weight: 600;
      display: flex;
      align-items: flex-start;
      padding: 0;
      font-size: 13px;
    }
    input[type="checkbox"] {
      appearance: none;
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 0.7em;
      margin-left: 0;
      &:focus {
        outline: thin dotted;
      }
      position: relative;
      width: 21px;
      height: 20px;
      border: 1px solid #515151;
      border-radius: 2px;
      background-color: #ffffff;
      &::after {
        content: '';
        width: 70%;
        height: 45%;
        border-radius: 0;
        margin: auto;
        position: absolute;
        top: 3px;
        left: 3px;
        transition: background 0.25s ease;
      }
      &:checked {
        background-color: #515151;
        &::after {
          border-left: 3px solid;
          border-bottom: 3px solid;
          border-color: #ffffff;
          border-radius: 0;
          transform: rotate(-45deg) translate3d(0, 0, 0);
          transform-origin: center center;
        }
      }
    }
  }
}