.reviews {
  margin-top: 20px;
  &-list, &-add {
    display: flex;
    flex-direction: column;
    max-width: 770px;
    width: 100%;
    margin: auto;
  }
  &-item {
    border-bottom: 1px solid #E1E8EE;
    display: flex;
    margin-bottom: 30px;
  }
  &-avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 15px;
    overflow: hidden;
    flex: 0 0 auto;
    img {
      width: 45px;
      height: 45px;
    }
  }
  &-info {
    color: $title;
    width: 100%;
    &__name {
      font-size: 14px;
      line-height: 19px;
      font-family: $font-b;
      margin-bottom: 5px;
    }
    &__review {
      font-size: 16px;
      line-height: 22px;
      font-family: $font;
      margin-bottom: 10px;
    }
    &__bottom {
      display: flex;
      align-items: baseline;
      margin-bottom: 30px;
    }
    &__raiting {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      input.star {
        display: none;
      }

      label.star {
        margin-right: 10px;
        transition: all .2s;
        width: 20px;
        height: 20px;
        display: flex;
        &:before {
          content: '';
          background: url('../img/svg/star.svg') no-repeat center;
          width: 20px;
          height: 20px;
          background-size: 100%;
        }
      }
      input.star:checked ~ label.star:before, .active:before {
        content: '';
        background: url('../img/svg/star-active.svg') no-repeat center;
        transition: all .25s;
        background-size: 100%;
      }
      .active:before {
        background: url('../img/svg/star-active.svg') no-repeat center !important;
        background-size: 100% !important;
      }
    }
    &__date {
      font-size: 14px;
      line-height: 19px;
      font-family: $font-l;
      color: $price;
      margin: auto 0 auto auto;
    }
  }
  &-add {
    margin-top: 15px;
    &__top {
      display: flex;
      margin-bottom: 20px;
      &--avatar-info {
        display: flex;
        align-items: center;
        img {
          width: 45px;
          height: 45px;
          border-radius: 50%;
          overflow: hidden;
          margin-right: 15px;
        }
        .name {
          font-size: 14px;
          line-height: 19px;
          color: $title;
          font-family: $font-b;
        }
      }
      &--rate {
        margin: auto 0 auto auto;
        display: flex;
        align-items: center;
        span {
          margin-right: 5px;
          font-size: 16px;
          line-height: 22px;
          font-style: italic;
          font-family: $font-l;
          color: $title;
        }
        .stars {
          display: flex;
          align-items: center;
          flex-direction: row-reverse;
          input.star {
            display: none;
          }

          label.star {
            margin-left: 10px;
            transition: all .2s;
            width: 20px;
            height: 20px;
            display: flex;
            &:before {
              content: '';
              background: url('../img/svg/star.svg') no-repeat center;
              width: 20px;
              height: 20px;
              background-size: 100%;
            }
          }
          input.star:checked ~ label.star:before {
            content: '';
            background: url('../img/svg/star-active.svg') no-repeat center;
            transition: all .25s;
            background-size: 100%;
          }
        }
      }
    }
    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 80px;
      textarea {
        width: 100%;
        background: #F6F6F6;
        border-radius: 5px;
        height: 90px;
        padding: 10px 20px;
        font-size: 16px;
        line-height: 21px;
        font-family: $font;
        color: $title;
        margin-bottom: 60px;
        resize: none;
        &::placeholder {
          color: $price;
        }
      }
    }
  }
}
.submit {
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font;
  color: $title;
  border-radius: 5px;
  border: 1px solid $title;
  padding: 16px 65px;
  cursor: pointer;
  background: $white;
}