.your-tariff {
  background: linear-gradient(180deg, #23AAEA 0%, #3F71D1 100%);
  box-shadow: 0 2px 6px rgba(17, 26, 36, 0.15);
  border-radius: 4px;
  color: $color_white;
  padding: 30px;
  font-family: $font_light;
  display: flex;
  flex-direction: column;
  height: 100%;
  &__title {
    font-size: $size_title_big_font;
    line-height: 44px;
    margin-bottom: 5px;
  }
  &__item {
    font-size: $size_title_big_font;
    line-height: 44px;
    margin-bottom: 5px;
    span {
      font-size: $size_title_font;
      line-height: 24px;
      margin-left: 3px;
    }
  }
  &__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    font-size: $size_title_font;
    line-height: 24px;
    margin-bottom: 20px;
    span {
      display: flex;
      &:first-child {
        margin-right: 30px;
      }
    }
    .tooltip-item {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 1px solid $color_white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: $size_link_font;
      line-height: 24px;
      margin-left: 10px;
      flex: 0 0 auto;
      cursor: pointer;
    }
  }
  &__change-info {
    margin-bottom: 10px;
    text-decoration: underline;
    font-family: $font_main;
    font-size: $size_link_font;
    line-height: 19px;
  }
}

.tariff-includes {
  border-radius: 4px;
  background: $color_white;
  border: 1px solid $color_border;
  padding: 30px;
  height: 100%;
  font-family: $font_main;
  &__title {
    font-size: $size_title_font;
    line-height: 24px;
    color: $color_link;
    margin-bottom: 20px;
  }
  &__list {
    display: inline-block;
    column-count: 2;
    column-width: 300px;
    li {
      display: inline-flex;
      align-items: center;
      font-size: $size_title_font;
      line-height: 24px;
      font-family: $font_light;
      color: $color_link;
      margin-bottom: 20px;
      .icon-sound {
        mask: url('../img/svg/icon-sound.svg') no-repeat center;
      }
      .icon-video {
        mask: url('../img/svg/icon-video.svg') no-repeat center;
      }
      .icon-doc {
        mask: url('../img/svg/icon-doc.svg') no-repeat center;
      }
      .icon-rec {
        mask: url('../img/svg/icon-rec.svg') no-repeat center;
      }
      .icon-date {
        mask: url('../img/svg/icon-date.svg') no-repeat center;
      }
      .icon-infinityconference {
        mask: url('../img/svg/icon-infinityconference.svg') no-repeat center;
        margin: 0 10px auto auto;
      }
      .icon {
        background: #bac1cc;
        width: 30px;
        height: 30px;
        margin-right: 10px;
        mask-size: contain;
      }
    }
  }
}

.choose-tariff {
  &__title {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: $size_title_font;
    line-height: 24px;
    color: $color_link;
    font-family: $font_main;
  }
  &__item {
    box-shadow: 0 2px 6px rgba(17, 26, 36, 0.15);
    border-radius: 4px;
    background: $color_white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font_light;
    height: 100%;
    position: relative;
    font-size: $size_title_font;
    line-height: 24px;
    &::before {
      content: '';
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      background: url('../img/svg/tariff-bg.svg') no-repeat center;
      background-size: contain;
      width: 100%;
      height: 193px;
    }
    &--count-user {
      position: relative;
      font-family: $font_light;
      font-size: 64px;
      line-height: 78px;
      color: $color_darkblue;
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      min-height: 102px;
      span {
        font-size: $size_title_font;
        line-height: 24px;
      }
      .infinity-ico {
        width: 84px;
        height: 40px;
        margin-top: 15px;
        margin-bottom: 5px;
      }
    }
    &--tarif {
      font-family: $font_semibold;
      margin-bottom: 10px;
      position: relative;
      display: flex;
      align-items: center;
      color: $color_selected;
      text-align: center;
      span {
        margin-left: 9px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 1px solid $color_underline;
        color: $color_underline;
        font-size: 12px;
        line-height: 16px;
        flex: 0 0 auto;
      }
    }
    &--price {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: $font_light;
      color: $color_link;
      margin-bottom: 15px;
      position: relative;
      span {
        margin-bottom: 5px;
      }
    }
    &--info {
      font-family: $font_main;
      font-size: $size_main_font;
      line-height: 17px;
      text-align: center;
      color: $color_description;
      margin-bottom: 20px;
      min-height: 34px;
    }
    &--list {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        font-family: $font_main;
        font-size: $size_main_font;
        line-height: 17px;
        color: $color_description;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        &::before {
          content: '';
          width: 22px;
          height: 22px;
          margin-right: 10px;
          flex: 0 0 auto;
          background: url('../img/svg/list-ico.svg') no-repeat center;
        }
      }
      &.not-included-list li::before {
        background: url('../img/svg/list-ico-error.svg') no-repeat center;
      }
    }
    &--buy {
      min-width: 160px;
      padding: 9px 20px;
      color: $color_white;
      background: $color_selected;
      border: 1px solid $color_selected;
      border-radius: 24px;
      transition: .3s;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: $size_link_font;
      line-height: 19px;
      &.selected {
        background: $color_main_bg;
        border-color: $color_main_bg;
        color: $color_description;
      }
      &:hover {
        color: $color_selected;
        background: $color_white;
        text-decoration: none;
      }
    }
    &s {
      margin-bottom: 50px;
    }
  }
}