.your-tariff {
  background: linear-gradient(180deg, #23AAEA 0%, #3F71D1 100%);
  box-shadow: 0 2px 6px rgba(17, 26, 36, 0.15);
  border-radius: 4px;
  color: $color_white;
  padding: 30px;
  font-family: $font_light;
  display: flex;
  flex-direction: column;
  &__title {
    font-size: $size_title_big_font;
    line-height: 44px;
    margin-bottom: 5px;
  }
  &__item {
    font-size: $size_title_big_font;
    line-height: 44px;
    margin-bottom: 5px;
    span {
      font-size: $size_title_font;
      line-height: 24px;
      margin-left: 3px;
    }
  }
  &__price {
    display: flex;
    align-items: baseline;
    font-size: $size_title_font;
    line-height: 24px;
    margin-bottom: 20px;
    span:first-child {
      margin-right: 30px;
    }
    .tooltip-item {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 1px solid $color_white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: $size_link_font;
      line-height: 24px;
      margin-left: 10px;
      flex: 0 0 auto;
      cursor: pointer;
    }
  }
  &__change-info {
    margin-bottom: 10px;
    text-decoration: underline;
    font-family: $font_main;
    font-size: $size_link_font;
    line-height: 19px;
  }
}

.tariff-includes {
  border-radius: 4px;
  background: $color_white;
  border: 1px solid $color_border;
  padding: 30px;
  font-family: $font_main;
  &__title {
    font-size: $size_title_font;
    line-height: 24px;
    color: $color_link;
    margin-bottom: 20px;
  }
  &__list {
    display: inline-block;
    column-count: 2;
    column-width: 300px;
    li {
      display: inline-flex;
      align-items: center;
      font-size: $size_title_font;
      line-height: 24px;
      font-family: $font_light;
      color: $color_link;
      margin-bottom: 20px;
      .icon-sound {
        mask: url('../img/svg/icon-sound.svg') no-repeat center;
      }
      .icon-video {
        mask: url('../img/svg/icon-video.svg') no-repeat center;
      }
      .icon-doc {
        mask: url('../img/svg/icon-doc.svg') no-repeat center;
      }
      .icon-rec {
        mask: url('../img/svg/icon-rec.svg') no-repeat center;
      }
      .icon-date {
        mask: url('../img/svg/icon-date.svg') no-repeat center;
      }
      .icon-infinityconference {
        mask: url('../img/svg/icon-infinityconference.svg') no-repeat center;
        margin: 0 10px auto auto;
      }
      .icon {
        background: #bac1cc;
        width: 30px;
        height: 30px;
        margin-right: 10px;
        mask-size: contain;
      }
    }
  }
}

.choose-tariff {
  &__title {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: $size_title_font;
    line-height: 24px;
    color: $color_link;
    font-family: $font_main;
  }
  &__item {
    box-shadow: 0 2px 6px rgba(17, 26, 36, 0.15);
    border-radius: 4px;
    background: $color_white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-family: $font_light;
    height: 100%;
    margin-bottom: 70px;
  }
}