.training-list {
  background: url('../img/svg/bg.svg') no-repeat top left;
  background-size: contain;
  position: relative;
  z-index: 1;
  &__title {
    font-size: $size_title_font;
    font-family: $font_main;
    line-height: 24px;
    color: $color_link;
    position: relative;
    margin-bottom: 60px;
    span {
      color: $color_selected;
      margin-left: 5px;
    }
    &::after {
      content: '';
      background: $color_underline;
      width: 160px;
      height: 2px;
      bottom: -10px;
      left: 0;
      position: absolute;
      z-index: 1;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
  }
  &__slider-item {
    width: 100%;
    //flex: 0 0 auto;
    margin-top: 70px;
    .slick-slide {
      padding: 0 5px;
    }
    .slick-arrow {
      top: -50px;
      transform: none;
      width: 60px;
      height: 38px;
      background: $color_main_bg;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 19px;
      z-index: 2;
      transition: .3s;
      border: 1px solid $color_main_bg;
      &::after {
        content: '';
        mask: url('../img/svg/arrow-select.svg') no-repeat center;
        background: $color_description;
        width: 16px;
        height: 16px;
        transform: rotate(90deg);
        display: block;
      }
      &:hover {
        background: $color_white;
        border-color: $color_underline;
      }
      &:focus {
        outline: none;
      }
    }
    .slick-prev {
      left: auto;
      right: 71px;
    }
    .slick-next {
      right: 0;
      &::after {
        transform: rotate(-90deg);
      }
    }
  }
  .training-item {
    font-family: $font_main;
    &__link {
      margin-bottom: 15px;
      display: block;
    }
    &__img {
      border-radius: 4px;
      margin: auto;
    }
    &__lection-name {
      font-family: $font_semibold;
      font-size: $size_title_font;
      color: $color_darkblue;
      line-height: 24px;
      margin-bottom: 10px;
      display: block;
    }
    &__start-lection {
      display: inline-flex;
      color: $color_link;
      font-size: $size_title_font;
      line-height: 24px;
      margin-bottom: 15px;
    }
    &__description {
      font-size: $size_link_font;
      line-height: 24px;
      color: $color_description;
      margin-bottom: 15px;
    }
    &__countdown, &__countdown span {
      margin: 0 5px;
    }
  }
  &__all-training {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font_main;
    font-size: $size_link_font;
    line-height: 24px;
    color: $color_link;
    transition: .3s;
    border-radius: 28px;
    border: 1px solid $color_underline;
    margin: 30px auto;
    width: 100%;
    max-width: 350px;
    padding: 11px 15px;
    &:hover {
      text-decoration: none;
      background: $color_underline;
      color: $color_white;
    }
    &-item {
      display: flex;
    }
  }
}