.user {
  &-settings {
    padding: 0 8px;
    margin-top: 5px;
  }
  &-info {
    display: flex;
    flex-direction: column;
    color: $title;
    &__avatar {
      border-radius: 50%;
      width: 96px;
      height: 96px;
      margin: auto;
      input[type="file"] {
        display: none;
      }
      .personal {
        &-figure {
          position: relative;
          width: 96px;
          height: 96px;
          margin: 0;
          border-radius: 50%;
          overflow: hidden;
          &:hover {
            .personal-figcaption {
              opacity: 1;
            }
          }
        }
        &-avatar {
          cursor: pointer;
          border-radius: 50%;
          width: 96px;
          height: 96px;
          transition: all ease-in-out .3s;
        }
        &-figcaption {
          cursor: pointer;
          position: absolute;
          bottom: 0;
          width: inherit;
          border-radius: 0 0 100% 100%;
          opacity: 0;
          background: rgba($title, .4);
          transition: all ease-in-out .3s;
          display: flex;
          &::after {
            content: '';
            mask: url("../img/svg/camera.svg") no-repeat center;
            background: $white;
            width: 26px;
            height: 20px;
            display: flex;
            margin: auto;
            padding: 15px 0;
          }
        }
      }
    }
    &__settings {
      &--info {
        margin-top: 30px;
      }
      &--name {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        &-label {
          font-size: 10px;
          line-height: 14px;
          font-family: $font-l;
          margin-bottom: 5px;
          width: 100%;
        }
        span {
          font-size: 14px;
          line-height: 19px;
          font-family: $font-b;
        }
      }
      &--edit {
        width: 12px;
        height: 12px;
        margin-left: 5px;
        background: url('../img/svg/edit-ico.svg') no-repeat center;
        background-size: contain;
        cursor: pointer;
      }
    }
    &__links {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    &--out {
      max-width: 192px;
      width: 100%;
      border: 1px solid $title;
      border-radius: 5px;
      margin: 25px auto 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      letter-spacing: 0.05em;
      color: $title;
      font-size: 12px;
      line-height: 16px;
      font-family: $font;
      padding: 8px 10px;
    }
    &--change-pass {
      font-size: 10px;
      line-height: 14px;
      font-family: $font;
      color: $title;
      margin-bottom: 25px;
    }
    &__discount {
      display: none;
    }
  }

  &-orders {
    &--title {
      background: #F6F6F6;
      font-size: 10px;
      line-height: 14px;
      padding: 12px 15px;
      color: $title;
      font-family: $font;
      margin-bottom: 40px;
    }
    &__list {
      &-header {
        display: none;
      }
      &-body {
        &__item {
          padding: 0 15px;
          display: flex;
          margin-bottom: 40px;
          flex-wrap: wrap;
          &-cover {
            display: flex;
            flex-direction: column;
            .date {
              display: none;
            }
          }
          .cart-item--info__name {
            order: -1;
          }
          .cart-item--info__price {
            margin: 5px 0;
            order: -1;
          }
        }
      }
    }
    &__get-order {
      white-space: nowrap;
      text-align: center;
      font-size: 10px;
      line-height: 14px;
      color: $default;
      margin: 20px auto 0;
      font-family: $font-l;
      flex: 1 0 100%;
    }
  }

  &-favorites {
    h2 {
      padding: 0 15px;
      font-size: 14px;
      line-height: 17px;
      color: $title;
      opacity: .7;
      margin-top: 0;
      margin-bottom: 25px;
      text-align: center;
      font-family: $font-b;
    }
    .product-link__item {
      margin-top: 20px;
      margin-bottom: 55px;
    }
  }
}