.user {
  &-settings {
    margin-top: 85px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
  }
  &-info {
    width: 100%;
    @extend .d-center;
    color: $title;
    &__avatar {
      border-radius: 50%;
      width: 170px;
      height: 170px;
      margin-right: 20px;
      input[type="file"] {
        display: none;
      }
      .personal {
        &-figure {
          position: relative;
          width: 170px;
          height: 170px;
          margin: 0;
          border-radius: 50%;
          overflow: hidden;
          &:hover {
            .personal-figcaption {
              opacity: 1;
            }
          }
        }
        &-avatar {
          cursor: pointer;
          border-radius: 50%;
          width: 170px;
          height: 170px;
          transition: all ease-in-out .3s;
        }
        &-figcaption {
          cursor: pointer;
          position: absolute;
          bottom: 0;
          width: inherit;
          border-radius: 0 0 100% 100%;
          opacity: 0;
          background: rgba($title, .4);
          transition: all ease-in-out .3s;
          display: flex;
          &::after {
            content: '';
            mask: url("../img/svg/camera.svg") no-repeat center;
            background: $white;
            width: 26px;
            height: 20px;
            display: flex;
            margin: auto;
            padding: 15px 0;
          }
        }
      }
    }
    &__settings {
      @extend .d-center;
      &:first-child {
        margin-bottom: 15px;
      }
      &--info {
        display: flex;
        flex-direction: column;
      }
      &--name {
        font-family: $font-l;
        font-size: 14px;
        line-height: 19px;
        display: flex;
        align-items: baseline;
        &-label {
          width: 100px;
          text-align: right;
        }
        span {
          font-size: 18px;
          line-height: 25px;
          font-family: $font-b;
          margin: 0 20px;
        }
      }
      &--edit {
        width: 18px;
        height: 18px;
        background: url('../img/svg/edit-ico.svg') no-repeat center;
        background-size: contain;
        cursor: pointer;
      }
    }
    &__links {
      flex-direction: column;
      @extend .d-center;
      margin-right: 40px;
    }
    &--out {
      cursor: pointer;
      font-size: 22px;
      line-height: 30px;
      text-align: center;
      letter-spacing: 0.05em;
      font-family: $font;
      padding: 10px 40px;
      border: 2px solid $title;
      border-radius: 5px;
      margin-bottom: 15px;
      transition: .3s;
      color: $title;
    }
    &--change-pass {
      font-size: 15px;
      line-height: 20px;
      color: $title;
      font-family: $font-m;
    }
    &__discount {
      background: #F6F6F6;
      border-radius: 4px;
      @extend .d-center;
      justify-content: center;
      height: 104px;
      padding: 25px 35px 25px 25px;
      font-size: 18px;
      line-height: 25px;
      font-style: italic;
      font-family: $font;
      span {
        font-size: 40px;
        line-height: 54px;
        font-style: normal;
        font-family: $font-b;
        color: $default;
        padding-left: 20px;
      }
    }
  }

  &-orders {
    &__list {
      &-header {
        background: #F6F6F6;
        padding: 15px 0;
        font-size: 14px;
        line-height: 19px;
        font-family: $font;
        color: $title;
        margin-bottom: 45px;
        @extend .d-center;
        &__item {
          width: 16.66%;
          max-width: 185px;
          padding: 0 20px;
          &:last-child {
            text-align: center;
          }
        }
      }
      &-body {
        &__item {
          @extend .d-center;
          margin-bottom: 45px;
          &-cover {
            @extend .d-center;
            width: 100%;

          }
          .cart-item--info__price {
            margin-left: 0;
            margin-top: 0;
          }
          .order-items {
            max-width: 185px;
            width: 25%;
          }
          .date {
            font-size: 14px;
            line-height: 19px;
            color: #000000;
            font-family: $font-b;
          }
        }
      }
    }
    &__get-order {
      font-size: 18px;
      line-height: 25px;
      font-family: $font-l;
      color: $default;
      transition: .3s;
      width: 16.66%;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &-favorites {
    margin-top: 105px;
    margin-bottom: 220px;
    h2 {
      text-align: center;
      font-size: 39px;
      line-height: 53px;
      color: $title;
      opacity: .7;
      font-family: $font-b;
      margin-top: 0;
      margin-bottom: 65px;
    }
  }
}