extends ../extends/layout
block variables
  - var title = "Lektor - About us"

block content
  include ../includes/header-user
  main
    include ../sections/about-us
    include ../sections/banner-slider
  include ../includes/footer