extends ../extends/layout
block variables
  - var title = "Lektor - About service"

block content
  include ../includes/header-user
  main
    include ../sections/about-service
    include ../sections/banner-slider
  include ../includes/footer