extends ../extends/layout
block variables
  - var title = "Lektor - Archive page"

block content
  include ../includes/header-user
  main
    include ../sections/archive-items
    include ../sections/banner-slider
    include ../sections/articles
  include ../includes/footer