extends ../extends/layout
block variables
  - var title = "Lektor - Article page"

block content
  include ../includes/header-user
  main
    include ../sections/article-page
    include ../sections/banner-slider
  include ../includes/footer