extends ../extends/layout
block variables
  - var title = "Lektor - Article list"

block content
  include ../includes/header-user
  main
    include ../sections/article-list
    include ../sections/banner-slider
  include ../includes/footer