extends ../extends/layout
block variables
  - var title = "Lektor - Catalog"

block content
  include ../includes/header
  main
    .archive-items.page-item
      .container
        h2.profile-user-edit__title Каталог лекторов
        .row
          .col-md-12.col-lg-8
            .search
              form(action='#')
                .search-item
                  label.archive-item--label Поиск:
                  input.form-control(placeholder='Фамилия или имя лектора')
                  button(type='submit').search-item--btn
                    +sprite('icon', 'icon-search')
    include ../components/catalog-lector-list
    include ../sections/catalog-lectors
    include ../sections/banner-slider
    include ../sections/articles
  include ../includes/footer
  include ../components/login-modal