extends ../extends/event-layout
block variables
  - var title = "Lektor event lending"

block content
  .event-lending
    include ../sections/event-lending-header
    include ../sections/event-lending-info
  include ../sections/event-lending-description
  include ../sections/event-lending-footer
  include ../components/login-modal