extends ../extends/layout
block variables
  - var title = "Lektor - FAQ"

block content
  include ../includes/header-user
  main
    include ../sections/faq
    include ../sections/banner-slider
  include ../includes/footer