extends ../extends/layout
block variables
  - var title = "Lektor Finance"

block content
  include ../includes/header-user
  main
    include ../sections/profile-user-info
    .profile-user-edit
      .container
        h2.profile-user-edit__title Финансы
          span(data-toggle='tooltip', data-placement='bottom', title='Tooltip on bottom') ?
    .personal-tariff-info
      .container
        .row
          .col-lg-6.mb-4.mb-lg-0.col-md-12
            .your-balance
              .your-balance__top
                .your-tariff__title Ваш баланс
                .your-balance__price 10000
                  span грн.
                    .value ( 416.67 $)
              .your-tariff__info--full-info Ваш бонусный баланс
                span 140 грн.
                  .value ( 5.83 $)
              .your-tariff__info--full-info Курс долара на 17.05.2019
                span 24.00 грн.
              .row
                .col-md-6
                  a(href='#').default-green Пополнить баланс
                .col-md-6
                  a(href='#').default-blue.blue-border Вывод стредств
          .col-lg-6.col-md-12
            .your-tariff.finance-tariff
              .your-tariff__top
                .your-tariff__title Ваш тариф
                .your-tariff__info--full-info
                  span Универсал
                  .icon
                  span слушателей
              .your-tariff__info--full-info Стоимость 400 $/месяц
              .your-tariff__info--full-info 4,44 $/сутки
                span.finance-tooltip(data-toggle='tooltip', data-placement='bottom', title='Tooltip on bottom') ?
              .your-tariff__bottom
                a(href='#').default-blue.save-tariff--link Изменить тариф
                span.once Ежедневно, один раз
    include ../sections/payment-history
    include ../sections/banner-slider
  include ../includes/footer