extends ../extends/layout
block variables
  - var title = "Lektor - All link page"

block content
  main
    .about-us.mt-0
      .container
        h2.pt-4.profile-user-edit__title Список ссылок
        ul(style='column-count: 2;')
          li
            a(href='index.html') Главная страница
          li
            a(href='registration.html') Регистрация
          li
            a(href='about.html') О нас
          li
            a(href='about-service.html') О ресурсе
          li
            a(href='index.html') Добавить конференцию
          li
            a(href='archive.html') Архив лектора(список)
          li
            a(href='archive-lecture.html') Материал в архиве
          li
            a(href='article-list.html') Статьи список
          li
            a(href='article.html') Одна статья
          li
            a(href='catalog.html') Каталог лекторов
          li
            a(href='event-detail.html') Тренинг
          li
            a(href='event-detail-no-img.html') Тренинг без изображения
          li
            a(href='event-history.html') Моя история
          li
            a(href='event-lending.html') Тренинг лендинг
          li
            a(href='faq.html') FAQ
          li
            a(href='finance.html') Финансы
          li
            a(href='invitation.html') Приглашения
          li
            a(href='invite.html') Пригласить на лекцию
          li
            a(href='lector-detail.html') Страница лектора
          li
            a(href='lektor-room.html') Страница лекции(вид лектора)
          li
            a(href='message.html') Сообщения
          li
            a(href='my-archive.html') Мой архив
          li
            a(href='password.html') Восстановление пароля
          li
            a(href='personal.html') Личный кабинет(пользователь)
          li
            a(href='personal-lectures.html') Личный кабинет(лектор)
          li
            a(href='price.html') Ваш тариф
          li
            a(href='profile-settings.html') Редактировать профиль
          li
            a(href='referrals.html') Рефералы
          li
            a(href='rules.html') Правила
          li
            a(href='schedule.html') Расписание
          li
            a(href='tariff.html') Тарифы
          li
            a(href='trainings.html') Актуальные тренинги
          li
            a(href='user-room.html') Страница лекции(вид пользователя)
