extends ../extends/layout
block variables
  - var title = "Lektor archive"

block content
  include ../includes/header-user
  main
    include ../sections/profile-user-info
    .profile-user-edit
      .container
        h2.profile-user-edit__title Мой архив
          span(data-toggle='tooltip', data-placement='bottom', title='Tooltip on bottom') ?
    .archive-items.page-item
      .container
        .row
          .col-md-12.col-lg-8
            include ../components/search
          .col-md-12.col-lg-4
            .archive-item
              label.archive-item--label Выбрать по дате:
              .archive-item__dropdown
                +sprite('icon','icon-date-16')
                span.select-date Дата
              .dropdown-menu
                include ../components/data-select
        .row
          .col-md-12.col-lg-6
            .row
              .col-md-6
                .coming-events-soon__img-info
                  a(href='#')
                    img(src='./img/event-1.jpg').img-fluid
                  a(href='#').archive-tag-link Архив
                  .time-to-start
                    b прошло
                    |31 ноября 2019, 15:00
                  .dropdown.edit-dtopdown
                    a#tariff-menu.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                      +sprite('icon', 'icon-menu-trening')
                    .dropdown-menu.dropdown-menu-right(aria-labelledby='tariff-menu')
                      a.dropdown-item(href='#')
                        +sprite('icon icon-edit', 'icon-copy')
                        | Копировать
                      a.dropdown-item(href='#')
                        +sprite('icon icon-copy', 'icon-archive')
                        | Удалить из архива
                      a.dropdown-item(href='#')
                        +sprite('icon icon-delete', 'icon-delete')
                        | Удалить
              .col-md-6
                .coming-events-soon__info
                  a(href='#').coming-events-soon__info--title Слоненок с мячиком. Мягкая игрушка связана спицами
                  .personal-upcoming-events__lecture-participants
                    span.signed-up(data-toggle="modal" data-target="#visitorsList")
                      +sprite('icon', 'icon-user')
                      | 120
                    span.signed-up(data-toggle="modal" data-target="#accessRequest")
                      +sprite('icon', 'icon-access-documents')
                      | 120
                    span(data-toggle="modal" data-target="#eventVisits")
                      +sprite('icon', 'icon-user-confirmed')
                      | 120
                  .row
                    .col-md-12.col-lg-9
                      a(href='#').reset-btn Удалить из архива
          .col-md-12.col-lg-6
            .row
              .col-md-6
                .coming-events-soon__img-info
                  a(href='#')
                    img(src='./img/event-1.jpg').img-fluid
                  a(href='#').archive-tag-link Архив
                  .time-to-start
                    b прошло
                    | 31 ноября 2019, 15:00
                  .dropdown.edit-dtopdown
                    a#tariff-menu.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                      +sprite('icon', 'icon-menu-trening')
                    .dropdown-menu.dropdown-menu-right(aria-labelledby='tariff-menu')
                      a.dropdown-item(href='#')
                        +sprite('icon icon-edit', 'icon-copy')
                        | Копировать
                      a.dropdown-item(href='#')
                        +sprite('icon icon-copy', 'icon-archive')
                        | Удалить из архива
                      a.dropdown-item(href='#')
                        +sprite('icon icon-delete', 'icon-delete')
                        | Удалить
              .col-md-6
                .coming-events-soon__info
                  a(href='#').coming-events-soon__info--title Слоненок с мячиком. Мягкая игрушка связана спицами
                  .personal-upcoming-events__lecture-participants
                    span.signed-up(data-toggle="modal" data-target="#visitorsList")
                      +sprite('icon', 'icon-user')
                      | 120
                    span.signed-up(data-toggle="modal" data-target="#accessRequest")
                      +sprite('icon', 'icon-access-documents')
                      | 120
                    span(data-toggle="modal" data-target="#eventVisits")
                      +sprite('icon', 'icon-user-confirmed')
                      | 120
                  .row
                    .col-md-12.col-lg-9
                      a(href='#').reset-btn Удалить из архива
          .col-md-12.col-lg-6
            .row
              .col-md-6
                .coming-events-soon__img-info
                  a(href='#')
                    img(src='./img/event-1.jpg').img-fluid
                  a(href='#').archive-tag-link Архив
                  .time-to-start
                    b прошло
                    | 31 ноября 2019, 15:00
                  .dropdown.edit-dtopdown
                    a#tariff-menu.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                      +sprite('icon', 'icon-menu-trening')
                    .dropdown-menu.dropdown-menu-right(aria-labelledby='tariff-menu')
                      a.dropdown-item(href='#')
                        +sprite('icon icon-edit', 'icon-copy')
                        | Копировать
                      a.dropdown-item(href='#')
                        +sprite('icon icon-copy', 'icon-archive')
                        | Удалить из архива
                      a.dropdown-item(href='#')
                        +sprite('icon icon-delete', 'icon-delete')
                        | Удалить
              .col-md-6
                .coming-events-soon__info
                  a(href='#').coming-events-soon__info--title Слоненок с мячиком. Мягкая игрушка связана спицами
                  .personal-upcoming-events__lecture-participants
                    span.signed-up(data-toggle="modal" data-target="#visitorsList")
                      +sprite('icon', 'icon-user')
                      | 120
                    span.signed-up(data-toggle="modal" data-target="#accessRequest")
                      +sprite('icon', 'icon-access-documents')
                      | 120
                    span(data-toggle="modal" data-target="#eventVisits")
                      +sprite('icon', 'icon-user-confirmed')
                      | 120
                  .row
                    .col-md-12.col-lg-9
                      a(href='#').reset-btn Удалить из архива
          .col-md-12.col-lg-6
            .row
              .col-md-6
                .coming-events-soon__img-info
                  a(href='#')
                    img(src='./img/event-1.jpg').img-fluid
                  a(href='#').archive-tag-link Архив
                  .time-to-start
                    b прошло
                    | 31 ноября 2019, 15:00
                  .dropdown.edit-dtopdown
                    a#tariff-menu.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                      +sprite('icon', 'icon-menu-trening')
                    .dropdown-menu.dropdown-menu-right(aria-labelledby='tariff-menu')
                      a.dropdown-item(href='#')
                        +sprite('icon icon-edit', 'icon-copy')
                        | Копировать
                      a.dropdown-item(href='#')
                        +sprite('icon icon-copy', 'icon-archive')
                        | Удалить из архива
                      a.dropdown-item(href='#')
                        +sprite('icon icon-delete', 'icon-delete')
                        | Удалить
              .col-md-6
                .coming-events-soon__info
                  a(href='#').coming-events-soon__info--title Слоненок с мячиком. Мягкая игрушка связана спицами
                  .personal-upcoming-events__lecture-participants
                    span.signed-up(data-toggle="modal" data-target="#visitorsList")
                      +sprite('icon', 'icon-user')
                      | 120
                    span.signed-up(data-toggle="modal" data-target="#accessRequest")
                      +sprite('icon', 'icon-access-documents')
                      | 120
                    span(data-toggle="modal" data-target="#eventVisits")
                      +sprite('icon', 'icon-user-confirmed')
                      | 120
                  .row
                    .col-md-12.col-lg-9
                      a(href='#').reset-btn Удалить из архива
        .row
          .col-md-12
            +pagination
    include ../sections/banner-slider
  include ../components/access-request-modal
  include ../components/visitors-modal
  include ../components/event-visits-modal
  include ../includes/footer