extends ../extends/layout
block variables
  - var title = "Eglo"

block content
  header
    include ../includes/top-info
    include ../sections/header-top-menu
    include ../sections/header-catalog-menu
  main
    include ../sections/offers-item
    include ../sections/contacts
