extends ../extends/layout
block variables
  - var title = "Cart order"

block content
  header
    include ../includes/top-info
    include ../sections/header-top-menu
    include ../sections/header-catalog-menu
  main
    include ../sections/order-items
    include ../sections/contacts
