extends ../extends/layout
block variables
  - var title = "Reset password"

block content
  .d-flex.d-lg-none
    include ../includes/header
  main
    .registration-page
      include ../sections/registration-left
      .registration-form.d-flex.flex-column
        h2.registration-form__title Придумайте новый пароль
        form(action='#')
          .row
            .col-md-12
              .registration-form__group.registration-form__ico.reset-password.mx-auto.mx-md-0
                .input-group-prepend
                  .input-group-text
                    +sprite('icon', 'icon-password')
                .placeholder Введите пароль
                  span *
                input.registration-form-control(type='text')
              .registration-form__group.registration-form__ico.reset-password.mx-auto.mx-md-0
                .input-group-prepend
                  .input-group-text
                    +sprite('icon', 'icon-password')
                .placeholder Подтвердите пароль
                  span *
                input.registration-form-control(type='text')
          .registration-form-row
            .registration-form--col
              .registration-form__link
                button(type='submit').registration-form__link-registration Сохранить новый пароль
                .registration-form__link-login У вас уже есть аккаунт?
                  a(href='#' data-toggle="modal" data-target="#login") Войти
        .registration-form__copyright.mt-auto.px-2.px-md-0 &copy; 2013 All rights reserved.
  include ../components/login-modal