extends ../extends/layout
block variables
  - var title = "Lektor Price"

block content
  include ../includes/header-user
  main
    include ../sections/profile-user-info
    include ../sections/profile-user-edit
    include ../sections/banner-slider
  include ../includes/footer