extends ../extends/layout
block variables
  - var title = "Lektor"

block content
  include ../includes/header-user
  main
    include ../sections/profile-user-info
    include ../sections/profile-user-edit
  include ../includes/footer