extends ../extends/layout
block variables
  - var title = "Lektor referrals"

block content
  include ../includes/header-user
  main
    include ../sections/profile-user-info
    .profile-user-edit.referrals-item
      .container
        h2.profile-user-edit__title Рефералы
          span(data-toggle='tooltip', data-placement='bottom', title='Tooltip on bottom') ?
    .invite
      .container
        nav
          #nav-tab.nav.nav-tabs(role='tablist')
            a#your-referrals-tab.nav-item.nav-link.active(data-toggle='tab' href='#your-referrals' role='tab' aria-controls='your-referrals' aria-selected='true') Ваши рефералы
            a#mailing-tab.nav-item.nav-link(data-toggle='tab' href='#mailing' role='tab' aria-controls='mailing' aria-selected='false') Рассылка писем
        #nav-tabContent.tab-content
          #your-referrals.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='your-referrals-tab')
            .row
              .col-md-6
                .referrals-link
                  .referrals-link__title Ваша реферальная ссылка:
                  form(action='#')
                    input(type='text' readonly='readonly' value='http://lektor.org.ua/referal/418')
              .col-md-6
                .your-tariff.finance-tariff
                  .your-tariff__top
                    .your-tariff__title Общий заработок
                  .your-tariff__item
                    span в реферальной системе
                    | 300
                    span грн.
            include ../sections/referral-filter
          #mailing.tab-pane.fade(role='tabpanel' aria-labelledby='mailing-tab')

    include ../sections/banner-slider
  include ../includes/footer