extends ../extends/layout
block variables
  - var title = "Registration page"

block content
  main
    .registration-page
      include ../sections/registration-left
      include ../sections/registration-form
