extends ../extends/layout
block variables
  - var title = "Registration page"

block content
  .d-flex.d-lg-none
    include ../includes/header
  main
    .registration-page
      include ../sections/registration-left
      include ../sections/registration-form
  include ../components/login-modal