extends ../extends/layout
block variables
  - var title = "Lektor - Rules"

block content
  include ../includes/header-user
  main
    include ../sections/rules-item
    include ../sections/banner-slider
  include ../includes/footer