extends ../extends/layout
block variables
  - var title = "Lektor - Tariff page"

block content
  include ../includes/header-user
  main
    include ../sections/tariff
    include ../sections/articles
    include ../sections/banner-slider
  include ../includes/footer