.footer {
  background: $default;
  padding-top: 60px;
  padding-bottom: 50px;
  &-item{
    display: flex;
    justify-content: center;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    position: relative;
    li {
      padding-left: 100px;
      width: 33%;
      display: flex;
    }
    a {
      font-size: 16px;
      line-height: 22px;
      font-family: $font;
      color: $white;
      margin-bottom: 20px;
      position: relative;
    }
  }
}