.footer {
  background: $default;
  &-item{
    display: flex;
    flex-direction: column;
    padding: 30px 15px;
  }
  ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    a {
      font-size: 12px;
      line-height: 16px;
      font-family: $font;
      color: $white;
      letter-spacing: 0.1em;
      display: flex;
      margin-bottom: 15px;
    }
  }
}