@import "libs";
@import "utils/variables";
@import "utils/extends";
@import "utils/mixins";
@import "utils/fonts";
@import "includes/header";
@import "includes/footer";
@import "components/component";
@import "sections/section";

h1, h2, h3, h4, ul {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  text-align: left;
  font-weight: normal;
  box-shadow: none;
}

*:focus {
  outline: none;
}

body {
  position: relative;
  &::before {
    content: '';
    mask: url('../img/svg/main-bg.svg') no-repeat top right;
    position: absolute;
    right: 0;
    top: 0;
    width: 696px;
    height: 667px;
    background: $color_main;
    z-index: -1;
  }
}

.page-item {
  margin-top: 30px;
}