@import "libs";
@import "utils/variables";
@import "utils/extends";
@import "utils/fonts";
@import "components/component";
@import "sections/top-info-992";
@import "sections/header-top-menu-992";
@import "sections/header-catalog-menu-992";
@import "sections/main-slider-992";
@import "sections/popular-items-992";
@import "sections/product-slider-992";
@import "sections/promotional-offers-992";
@import "sections/news-992";
@import "sections/contacts-992";
@import "includes/footer";
@import "sections/cart-popup";
@import "sections/cart-popup-992";
@import "sections/sing-992";
@import "sections/error";
@import "sections/result-order";
@import "sections/search";
@import "sections/grid-992";
@import "sections/cart";
@import "sections/order-992";
@import "sections/product-992";
@import "sections/reviews";
@import "sections/catalog";
@import "sections/catalog-992";
@import "sections/faq";
@import "sections/guaranties";
@import "sections/guaranties-992";
@import "sections/offers-list-992";
@import "sections/user-992";
@import "sections/gallery";
@import "sections/aviable-popup";
@import "sections/settings-992";
h1, h2, h3, h4, ul {
  padding: 0;
  margin: 0;
}
h1, h2, h3 {
  text-align: left;
  box-shadow: none;
}