@import "libs";
@import "utils/variables";
@import "utils/extends";
@import "utils/fonts";
@import "components/breadcrumbs-767";
@import "components/pagination-767";
@import "components/filters-767";
@import "sections/top-info-767";
@import "sections/header-top-menu-767";
@import "sections/header-catalog-menu-767";
@import "sections/main-slider-767";
@import "sections/popular-items-767";
@import "sections/product-slider-767";
@import "sections/promotional-offers-767";
@import "sections/news-767";
@import "sections/contacts-767";
@import "includes/footer-767";
@import "sections/cart-popup-767";
@import "sections/sign-767";
@import "sections/error-767";
@import "sections/result-order-767";
@import "sections/search-767";
@import "sections/grid-772";
@import "sections/cart-767";
@import "sections/order-767";
@import "sections/product-767";
@import "sections/reviews-767";
@import "sections/catalog-767";
@import "sections/faq-767";
@import "sections/guaranties-767";
@import "sections/offers-list-767";
@import "sections/user-767";
@import "sections/gallery-767";
@import "sections/aviable-popup-767";
@import "sections/settings-767";
h1, h2, h3, h4, ul {
  padding: 0;
  margin: 0;
}
h1, h2, h3 {
  text-align: left;
  box-shadow: none;
}