@import "libs";
@import "utils/variables";
@import "utils/extends";
@import "utils/fonts";
@import "includes/header";
@import "includes/footer";
@import "components/component";
@import "sections/section";

h1, h2, h3, h4, ul {
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  text-align: left;
  box-shadow: none;
}