footer.footer
  .container
    .row
      .col-lg-2.col-md-4
        .footer-copy-info
          a(href='#').footer-logo
            img(src='./img/svg/lektor_logo2.svg').img-fluid
          p &copy; 2013 All rights reserved.
      .col-lg-6.col-md-4
        ul.footer-menu
          li
            a(href='article-list.html') Статьи
          li
            a(href='rules.html') Правила
          li
            a(href='#') Пользовательское соглашение
          li
            a(href='tarif.html') Тарифы
          li
            a(href='#') Архив
          li
            a(href='faq.html') FAQ
          li
            a(href='about.html') О нас
          li
            a(href='about-service.html') О ресурсе
      .col-lg-4.col-md-4
        .footer-social
          .footer-social__title Подписаться
          ul.footer-social__list
            li
              a(href='#').footer-social__list-ico.facebook
            li
              a(href='#').footer-social__list-ico.vk
            li
              a(href='#').footer-social__list-ico.twitter
            li
              a(href='#').footer-social__list-ico.od
            li
              a(href='#').footer-social__list-ico.rss
