footer.footer
  .content
    .footer-item
      ul.footer-list
        li
          a(href='#') Оплата и доставка
        li
          a(href='#') Вопросы и ответы
        li
          a(href='#') Гарантии
        li
          a(href='#') Контакты
        li
          a(href='#') О нас
        li
          a(href='#') Карта сайта
        li
          a(href='#') Поиск
        li
          a(href='#') Новости
include ../sections/gallery