meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
title #{title}
meta(name="theme-color" content="#161719")
meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")

link(rel="stylesheet" href="./styles/styles-767.min.css" type='text/css' media='all and (max-width: 991px)')
link(rel="stylesheet" href="./styles/styles-992.min.css" type='text/css' media='all and (min-width: 992px) and (max-width: 1279px)')
link(rel="stylesheet" href="./styles/styles-1280.min.css" type='text/css' media='all and (min-width: 1280px)')



link(rel="stylesheet" href='https://egloshop.com/wp-content/themes/storefront/assets/css/woocommerce/woocommerce.css?ver=662.4.5')
link(rel='stylesheet' href='https://egloshop.com/wp-content/themes/storefront/assets/css/base/icons.css?ver=662.4.5')
link(rel='stylesheet' href='https://egloshop.com/wp-content/plugins/woocommerce/assets/css/select2.css?ver=3.6.3')