nav.navbar.navbar-expand-md
  .container
    header.header-item
      .navbar-header__top
        #navbarCollapse.navbar-collapse.collapse(style='')
          .navbar-top.d-flex
            ul.navbar-nav.mr-auto
              li
                a(href='#').navigation-link Правила
              li
                a(href='#').navigation-link FAQ
              li
                a(href='#').navigation-link О нас
              li
                a(href='#').navigation-link О ресурсе
              li
                form.navigation-form(action='#')
                  input.form-control(name='s' type='text' placeholder='Search')
            ul.navbar-nav.ml-auto
              li
                a.navigation-entry.navigation-login(href='#' data-toggle="modal" data-target="#login") Вход
              li
                a.navigation-entry.navigation-registration(href='#') Регистрация
      .navbar-header__info
        .navbar-header__logo
          a.navbar-brand(href='#')
            img(src='./img/svg/lektor_logo2.svg' alt='').logo.d-none.d-md-flex
            img(src='./img/svg/mobile-logo.svg' alt='').mobile-logo.d-flex.d-md-none
          button.navbar-toggler.collapsed(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarCollapse.navbar-collapse.collapse(style='')
          ul.navbar-nav.ml-auto
            li.nav-item.active
              a.nav-link(href='#') Актуальные тренинги
            li.nav-item
              a.nav-link(href='#') Каталог Лекторов
            li.nav-item
              a.nav-link(href='#') Архив
            li.nav-item
              a.nav-link(href='#') Тарифы
            li.nav-item
              a.nav-link(href='#') Статьи
