script(src="./js/libs.min.js")
script(src="./js/main.min.js")

script(src='https://egloshop.com/wp-includes/js/jquery/ui/slider.min.js?ver=1.11.4')
script(src='https://egloshop.com/wp-includes/js/jquery/ui/widget.min.js?ver=1.11.4')
script(src='https://egloshop.com/wp-content/plugins/woocommerce/assets/js/frontend/price-slider.min.js?ver=3.6.3')