.top-info
  .content
    .top-info__item перейти на сайт бренда
      b eglo.ua
      span и узнавайте о новинках и технологиях первыми
      a(href='#').default-btn Перейти на сайт
      .close
        +sprite('close-ico', 'close')