extends ./extends/layout
block variables
	- var title = "Lektor"

block content
	include ./includes/header
	main
		include ./sections/slider
		include ./sections/training-list
		include ./sections/training-archive
		include ./sections/site-features
		include ./sections/articles