/* fonts */
$font-l: 'OpenSans-Light';
$font: 'OpenSans-Regular';
$font-s: 'OpenSans-SemiBold';
$font-b: 'OpenSans-Bold';
$font-m: 'Montserrat-Medium';
$font-m-b: 'Montserrat-Bold';

/* color */
$white: #ffffff;
$default: #4EB1AA;
$title: #121B1B;
$price: #8F8F8F;
$order: #EE7F06;
$stock: #21A697;
$hit: #FF0000;
$new: #009BA5;
$small-title: #59C7BF;
$bg: #F9F9F9;
$border: #EAEAEA;