include ../utils/mixins
block variables

doctype html
html(lang="en")
	head
		include ../includes/head
	body
		block content
		include ../sections/cart-popup
		include ../sections/sign
		include ../sections/aviable-popup
		include ../includes/footer
		include ../includes/scripts