#accessRequest.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal-list-items(role='document')
    .modal-content
      .modal-body
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          +sprite('close-ico', 'close-icon')
        h5.modal-title Запросили доступ к материалам
        .visitors-list.mCustomScrollbar
          .visitors-list__item
            .visitors-list__item--user-info
              img(src='./img/avatar.jpg')
              .visitors-list__item--user-info--name
                a(href='#').user-name Василий Оченьдлиннаяфамилия
                a(href='mailto:antonio.tester17@gmail.com').user-email antonio.tester17@gmail.com
              .visitors-list__item--settings
                .date 17.05.2019
          .visitors-list__item
            .visitors-list__item--user-info
              img(src='./img/avatar.jpg')
              .visitors-list__item--user-info--name
                a(href='#').user-name Василий Оченьдлиннаяфамилия
                a(href='mailto:antonio.tester17@gmail.com').user-email antonio.tester17@gmail.com
              .visitors-list__item--settings
                .date 17.05.2019
          .visitors-list__item
            .visitors-list__item--user-info
              img(src='./img/avatar.jpg')
              .visitors-list__item--user-info--name
                a(href='#').user-name Василий Оченьдлиннаяфамилия
                a(href='mailto:antonio.tester17@gmail.com').user-email antonio.tester17@gmail.com
              .visitors-list__item--settings
                .date 17.05.2019
          .visitors-list__item
            .visitors-list__item--user-info
              img(src='./img/avatar.jpg')
              .visitors-list__item--user-info--name
                a(href='#').user-name Василий Оченьдлиннаяфамилия
                a(href='mailto:antonio.tester17@gmail.com').user-email antonio.tester17@gmail.com
              .visitors-list__item--settings
                .date 17.05.2019
          .visitors-list__item
            .visitors-list__item--user-info
              img(src='./img/avatar.jpg')
              .visitors-list__item--user-info--name
                a(href='#').user-name Василий Оченьдлиннаяфамилия
                a(href='mailto:antonio.tester17@gmail.com').user-email antonio.tester17@gmail.com
              .visitors-list__item--settings
                .date 17.05.2019
          .visitors-list__item
            .visitors-list__item--user-info
              img(src='./img/avatar.jpg')
              .visitors-list__item--user-info--name
                a(href='#').user-name Василий Оченьдлиннаяфамилия
                a(href='mailto:antonio.tester17@gmail.com').user-email antonio.tester17@gmail.com
              .visitors-list__item--settings
                .date 17.05.2019
          .visitors-list__item
            .visitors-list__item--user-info
              img(src='./img/avatar.jpg')
              .visitors-list__item--user-info--name
                a(href='#').user-name Василий Оченьдлиннаяфамилия
                a(href='mailto:antonio.tester17@gmail.com').user-email antonio.tester17@gmail.com
              .visitors-list__item--settings
                .date 17.05.2019
          .visitors-list__item
            .visitors-list__item--user-info
              img(src='./img/avatar.jpg')
              .visitors-list__item--user-info--name
                a(href='#').user-name Василий Оченьдлиннаяфамилия
                a(href='mailto:antonio.tester17@gmail.com').user-email antonio.tester17@gmail.com
              .visitors-list__item--settings
                .date 17.05.2019
          .visitors-list__item
            .visitors-list__item--user-info
              img(src='./img/avatar.jpg')
              .visitors-list__item--user-info--name
                a(href='#').user-name Василий Оченьдлиннаяфамилия
                a(href='mailto:antonio.tester17@gmail.com').user-email antonio.tester17@gmail.com
              .visitors-list__item--settings
                .date 17.05.2019
          .visitors-list__item
            .visitors-list__item--user-info
              img(src='./img/avatar.jpg')
              .visitors-list__item--user-info--name
                a(href='#').user-name Василий Оченьдлиннаяфамилия
                a(href='mailto:antonio.tester17@gmail.com').user-email antonio.tester17@gmail.com
              .visitors-list__item--settings
                .date 17.05.2019