.catalog-lector-list
  .container
    nav.navbar.navbar-expand-md.p-0
      button.navbar-toggler.collapsed(type='button', data-toggle='collapse', data-target='#lector-list')
        span.navbar-toggler-icon Алфавит
      #lector-list.collapse.navbar-collapse.flex-column
        ul.navbar-nav.catalog-list
          li
            a(href='#').catalog-link А
          li
            a(href='#').catalog-link Б
          li
            a(href='#').catalog-link В
          li
            a(href='#').catalog-link Г
          li
            a(href='#').catalog-link Д
          li
            a(href='#').catalog-link Е
          li
            a(href='#') Ж
          li
            a(href='#') З
          li
            a(href='#').catalog-link И
          li
            a(href='#') Й
          li
            a(href='#') К
          li
            a(href='#').catalog-link Л
          li
            a(href='#').catalog-link М
          li
            a(href='#').catalog-link Н
          li
            a(href='#').catalog-link О
          li
            a(href='#').catalog-link П
          li
            a(href='#').catalog-link Р
          li
            a(href='#').catalog-link С
          li
            a(href='#').catalog-link Т
          li
            a(href='#') У
          li
            a(href='#') Ф
          li
            a(href='#') Х
          li
            a(href='#') Ц
          li
            a(href='#') Ч
          li
            a(href='#') Ш
          li
            a(href='#') Щ
          li
            a(href='#') Ы
          li
            a(href='#').catalog-link Э
          li
            a(href='#').catalog-link Ю
          li
            a(href='#').catalog-link Я

        ul.navbar-nav.catalog-list
          li
            a(href='#').catalog-link A
          li
            a(href='#').catalog-link B
          li
            a(href='#').catalog-link C
          li
            a(href='#').catalog-link D
          li
            a(href='#').catalog-link E
          li
            a(href='#') F
          li
            a(href='#') G
          li
            a(href='#') H
          li
            a(href='#').catalog-link I
          li
            a(href='#') J
          li
            a(href='#') K
          li
            a(href='#').catalog-link L
          li
            a(href='#').catalog-link M
          li
            a(href='#') N
          li
            a(href='#').catalog-link O
          li
            a(href='#').catalog-link P
          li
            a(href='#') Q
          li
            a(href='#') R
          li
            a(href='#').catalog-link S
          li
            a(href='#').catalog-link T
          li
            a(href='#') U
          li
            a(href='#').catalog-link V
          li
            a(href='#') W
          li
            a(href='#') X
          li
            a(href='#') Y
          li
            a(href='#') Z