#login.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
  .modal-dialog.modal-login(role='document')
    .modal-content
      .modal-body
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          +sprite('', 'close-icon')
        h5.modal-title Вход
        form(action='#')
          .form-row
            .col
              .input-group
                .input-group-prepend
                  .input-group-text
                    +sprite('', 'icon-user')
                input.form-control(type='text' placeholder='Введите e-mail')
            .col
              .input-group
                .input-group-prepend
                  .input-group-text
                    +sprite('', 'icon-password')
                input.form-control(type='text' placeholder='Введите пароль')
            .col
              .form-link
                button(type='submit').form-link__login Войти
                a(href='#').form-link__forgot-pass Забыли пароль?
            .col
              .sign-social
                .sign-social__title Или войдите с помощью соцсетей:
                ul
                  li
                    a(href='#')
                      +sprite('icon facebook', 'icon-fa')
                      | Facebook
                  li
                    a(href='#')
                      +sprite('icon facebook', 'icon-google')
                      | Google
            .col
              .registration-link У вас еще нет аккаунта?
                a(href='#') Зарегистрируйтесь