#login.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
  .modal-dialog.modal-login(role='document')
    .modal-content
      .modal-body
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
        h5.modal-title Вход
        form(action='#')
          .form-row
            .col
              label.sr-only(for='inlineFormInputGroup') Username
              .input-group
                .input-group-prepend
                  +sprite('', 'icon-user')
                input#inlineFormInputGroup.form-control(type='text' placeholder='Username')
            .col
              label.sr-only(for='inlineFormInputGroup1') Username
              .input-group
                .input-group-prepend
                  .input-group-text @
                input#inlineFormInputGroup1.form-control(type='text' placeholder='Username')
