ul.page-numbers
  li
    a.prev.page-numbers(href='https://egloshop.com/shop/lustru/page/1/') ←
  li
    a.page-numbers(href='https://egloshop.com/shop/lustru/page/1/') 1
  li
    span.page-numbers.current(aria-current='page') 2
  li
    a.next.page-numbers(href='https://egloshop.com/shop/lustru/page/2/') →
