.product-characteristic
  .product-characteristic-top
    .product-characteristic-code Артикул:
      span 95612
    .product-characteristic-for-order под заказ
  .product-characteristic-info
    h2 Люстра 95612 Stellato 2
    .product-characteristic--detail-main
      .product-characteristic--detail-main__raiting
        .stars
          input#star-5.star.star-5(type='radio', name='star')
          label.star.star-5(for='star-5')
          input#star-4.star.star-4(type='radio', name='star')
          label.star.star-4(for='star-4')
          input#star-3.star.star-3(type='radio', name='star')
          label.star.star-3.active(for='star-3')
          input#star-2.star.star-2(type='radio', name='star')
          label.star.star-2.active(for='star-2')
          input#star-1.star.star-1(type='radio', name='star')
          label.star.star-1.active(for='star-1')
        span 103 голоса
      a(href='#').product-characteristic--detail-main__wishlist Добавлено в избранное
    form(action='#')
      .product-characteristic-info--order
        .product-characteristic-info--order-top
          .product-characteristic-info--order-top__info
            span Цена за 1 шт.
            .value 6 055
              span грн
          .product-characteristic-info--order-top__info
            span Количество
            .cart-item--info__count
              .cart-item--info__count--minus
              input.cart-item--info__count--control(type='text', placeholder='1')
              .cart-item--info__count--plus
        .product-characteristic-info--order-body
          .cart-not-available Сообщить когда появится
          //a(href='#').cart-amount--buy Добавить в корзину
          //a(href='#').cart-amount--buy.buy-on-click Купить в один клик
        .product-characteristic-info--order-footer
          a(href='#').product-characteristic-info--order-footer__link Скачать монтажную инструкцию
            span 325 kb
          a(href='#').product-characteristic-info--order-footer__link Скачать 3d модель
            span 123 Mb
    .product-characteristic-info--list
      h4.product-characteristic-info-title Характеристики
      table.table
        tbody
          tr
            td Длинна
            td 20 см
          tr
            td Высота
            td 150 см
          tr
            td Ширина
            td 15 см
          tr
            td Тип патрона
            td Е27 100Вт
          tr
            td Источник света
            td Вилка
          tr
            td Эффективность
            td А++
          tr
            td Источник света
            td 9 х Е14 100Вт
          tr
            td Средняя площадь освещения
            td 20м2
          tr
            td Степень защиты IP
            td IP20
          tr
            td Цвет арматуры
            td Бронза
          tr
            td Материал арматуры
            td Металл
          tr
            td Цвет плафонов и подвесок
            td Бежевый
          tr
            td Материал плафонов и подвесок
            td Стекло
          tr
            td Лампы в комплекте
            td Нет
