.product-sliders
  .slider-for
    div
      .product-sliders-top-img
        img(src='img/product-3.png')
    div
      .product-sliders-top-img
        img(src='img/product-4.png')
    div
      .product-sliders-top-img
        img(src='img/product-5.png')
    div
     .product-sliders-top-img
        img(src='img/product-2.png')
    div
      .product-sliders-top-img
        img(src='img/product.png')
  .slider-nav
    div
      .product-sliders-img(style='background-image: url("img/product-3.png")')
    div
      .product-sliders-img(style='background-image: url("img/product-4.png")')
    div
      .product-sliders-img(style='background-image: url("img/product-5.png")')
    div
      .product-sliders-img(style='background-image: url("img/product-2.png")')
    div
      .product-sliders-img(style='background-image: url("img/product.png")')