.reviews
  .reviews-list
    +reviews('Мария Василькова', 'Это необыкновенно великолепная люстра, она непосредственно помогла осветить квартиру в центре!')
    +reviews('Богдан Хмельницкий', 'Я с вами не согласен, светят лампочки, а не люстра.')
    +reviews('Сергей Белорус', 'Оптимальний бюджетний варіант, візуально світять навіть потужніше, ніж заявлений еквівалент у 65 Вт лампи розжарювання.')
    +reviews('Максим Смротенко', 'Приятный свет .Покупкой доволен на все 100 процентов ,Лампочки на 5+\n' +
    'Достоинства: фирма , качество сборки\n' +
    'Недостатки: пока не выявлены\n')
    +reviews('Виталина Картошка', 'Хочу сказать огромное спасибо менеджерам фирмы! Ваше внимание к проблемам клиентов просто впечатляет! Перед новым годом заказала эту люстру. Посылка пришла быстро. Но так как все было запаковано очень основательно, то не стала проверять (все шло в комплекте с другимм люстрами). Когда дома открыла один плафон, то он оказался нормальным. Я успокоилась и до монтажа в середине января и не трогала их. А при монтаже вскрыли три плафона, и два были битыми. Я расстроилась. Понимала, что виновата сама. Благо, формат их стандартный, да и стоят копейки. Решила искать позже, а менеджерам сфоткала битые и отправила, чтобы они пожурили транспортников за косорукость.  Просто, без претензий...вина-то моя, проверять надо. Как же я была удивлена, что менеджеры отписались и прислали мне 3 новых плафона!!! Я прыгала от радости, так как они мне съэкономили мозговые клетки и время, которое ушло бы на поиски. И еще спасибо, что догадываясь , что плафоны эти ооооочень хрупкие (нереально хрупкие) ..прислали 3...я еще один того..а хотела про запас :) Спасибо! Буду сейчас искать у вас настольную лампу. Приятно работать с такими ответственными людьми. О люстре. Аккуратная, милая. Брала для детской. Света на 12 квадратов дает достаточно. Сперва лампочки с теплым светом были, но, что удивитнльно, с холодным смотрится лучше.')
  .reviews-add
    form(action='#')
      .reviews-add__top
        .reviews-add__top--avatar-info
          img(src='./img/avatar-ico.png')
          .name Богдан Хмельницкий
        .reviews-add__top--rate
          span Поставьте оценку товару:
          .stars
            input#star-rate-5.star.star-5(type='radio', name='star-rate')
            label.star.star-5(for='star-rate-5')
            input#star-rate-4.star.star-4(type='radio', name='star-rate')
            label.star.star-4(for='star-rate-4')
            input#star-rate-3.star.star-3(type='radio', name='star-rate')
            label.star.star-3(for='star-rate-3')
            input#star-rate-2.star.star-2(type='radio', name='star-rate')
            label.star.star-2(for='star-rate-2')
            input#star-rate-1.star.star-1(type='radio', name='star-rate')
            label.star.star-1(for='star-rate-1')
      .reviews-add__form
        textarea(placeholder='Ваш комментарий')
        button(type='submit').product-link Отправить