.search
  form(action='#')
    .search-item
      label Поиск:
      input.form-control(placeholder='По лектору, названию или описанию')
      button(type='submit')
        +sprite('icon', 'icon-search')