.search
  form(action='#')
    .search-item
      label.archive-item--label Поиск:
      input.form-control(placeholder='По лектору, названию или описанию')
      button(type='submit').search-item--btn
        +sprite('icon', 'icon-search')