#visitorsList.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal-list-items(role='document')
    .modal-content
      .modal-body
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          +sprite('close-ico', 'close-icon')
        h5.modal-title Посетители
        .visitors-list.mCustomScrollbar
          +visitor
          +visitor
          +visitor
          +visitor
          +visitor
          +visitor
          +visitor
          +visitor
          +visitor
          +visitor
          +visitor
          +visitor
          +visitor
          +visitor
          +visitor
          +visitor